In [42]:
import pandas as pd
import geopandas as gpd
import numpy as np
import xarray as xr

In [95]:
DIR_HI = '~/projects/UrbanHeat/data/interim/CHIRTS-GHS-HI-Events-Stats/'
HI85 = pd.read_csv(DIR_HI+'CHIRTS-GHS-HI-Events-Stats1985.csv')

In [96]:
HI85.head()

,Unnamed: 0,ID_HDC_G0,CTR_MN_NM,total_days,duration,avg_temp,avg_intensity,tot_intensity,event_dates,intensity,tmax
0,0,5319,Russia,1,1,41.042528,0.442528,0.442528,['1985.06.27'],[0.44252836],[41.04252836]
1,1,3436,Russia,1,1,41.559422,0.959422,0.959422,['1985.05.29'],[0.95942163],[41.55942163]
2,2,5075,Russia,1,1,42.235377,1.635377,1.635377,['1985.06.22'],[1.63537662],[42.23537662]
3,3,4999,Russia,1,1,40.632950,0.032950,0.032950,['1985.06.22'],[0.03295026],[40.63295026]
4,4,5032,Russia,1,1,42.391209,1.791209,1.791209,['1985.06.22'],[1.7912093],[42.3912093]

In [6]:
country_nm = 'Russia'
country = HI83[HI83['CTR_MN_NM'] == country_nm]

In [7]:
country_cities = country.drop_duplicates('ID_HDC_G0')

In [8]:
len(country_cities)

191

In [9]:
country_cities['total_days'].mean()

92.59162303664921

In [10]:
city5441 = HI83[HI83['ID_HDC_G0'] == 5782].drop_duplicates('ID_HDC_G0')

In [11]:
city5441['total_days'].mean()

141.0

# Check a City and Data

In [22]:
city = 5782 # Somewhere in russia 
date = '1983.04.25'

In [23]:
# Heat Index
DIR_HI = '~/projects/UrbanHeat/data/interim/CHIRTS-GHS-HI-Events-Stats/'
HI83 = pd.read_csv(DIR_HI+'CHIRTS-GHS-HI-Events-Stats1983.csv')
HI83[HI83['ID_HDC_G0'] == 5782].drop_duplicates('ID_HDC_G0')

,Unnamed: 0,ID_HDC_G0,CTR_MN_NM,total_days,duration,avg_temp,avg_intensity,tot_intensity,event_dates,intensity,tmax
0,0,5782,Russia,143,3,42.504216,1.904216,5.712649,['1983.04.25' '1983.04.26' '1983.04.27'],[1.9844291 1.90373699 1.82448336],[42.5844291 42.50373699 42.42448336]

In [31]:
# Tmax
DIR_Tmax = '~/projects/UrbanHeat/data/interim/CHIRTS-GHS-DAILY-Tmax/'
Tmax83 = pd.read_csv(DIR_Tmax+'GHS-Tmax-DAILY_1983.csv')
cityTmax = Tmax83[Tmax83['ID_HDC_G0'] == city]
Tmax = cityTmax[date][0]
print('Tmax in', city, ', which is in russia, on', date, 'was', Tmax, 'C')

Tmax in 5782 , which is in russia, on 1983.04.25 was -9.299653 C

In [34]:
# RH 
DIR_RH = '~/projects/UrbanHeat/data/interim/CHIRTS-GHS-DAILY-RH/'
RH83 = pd.read_csv(DIR_RH+'GHS-Tmax-RH_1983.csv')
cityRH = RH83[RH83['ID_HDC_G0'] == city]
RH = cityRH[date][0]
print('RH in', city, ', which is in russia, on', date, 'was', str(RH)+'%')

RH in 5782 , which is in russia, on 1983.04.25 was 97.30467%

In [35]:
# HI 
DIR_HI = '~/projects/UrbanHeat/data/interim/CHIRTS-GHS-DAILY-HI/'
HI83 = pd.read_csv(DIR_HI+'GHS-HI-DAILY_1983.csv')
cityHI = HI83[HI83['ID_HDC_G0'] == city]
HI = cityHI[date][0]
print('HI in', city, ', which is in russia, on', date, 'was', str(HI)+'%')

HI in 5782 , which is in russia, on 1983.04.25 was -11.633329694444445%

In [36]:
HI83.head()

,Unnamed: 0,ID_HDC_G0,CTR_MN_NM,1983.01.01,1983.01.02,1983.01.03,1983.01.04,1983.01.05,1983.01.06,1983.01.07,...,1983.12.22,1983.12.23,1983.12.24,1983.12.25,1983.12.26,1983.12.27,1983.12.28,1983.12.29,1983.12.30,1983.12.31
0,0,5782,Russia,-50.290109,-38.741588,-38.527916,-29.775962,-27.355393,-25.563406,-23.869806,...,-28.779136,-40.398462,-30.339417,-20.395295,-15.319946,-15.414477,-18.033254,-14.991101,-15.963260,-18.583906
1,1,3316,Russia,-6.737854,-5.639201,-9.620732,-15.439825,-9.966626,-8.593357,-7.519376,...,-14.250156,-20.687157,-8.106323,-9.595132,-13.861566,-18.223596,-16.542586,-7.062472,-13.869323,-19.660082
2,2,5645,Russia,-28.483821,-21.293526,-16.567241,-17.570162,-18.721619,-21.200990,-25.610114,...,-23.420955,-26.181210,-15.323312,-5.394026,-8.077833,-11.663559,-13.886691,-16.108834,-14.447547,-13.034678
3,3,3185,Finland,-1.493348,-1.489085,-5.802576,-3.995879,-3.020417,-1.876911,-1.279008,...,-11.540405,-5.425336,-4.641525,-10.291178,-11.308963,-5.162991,-4.853079,-7.997720,-11.828115,-10.185535
4,4,3539,Russia,-8.240884,-8.182602,-19.021062,-16.765597,-12.458584,-5.322319,0.020468,...,-6.044796,-2.682858,-2.283302,-2.448591,-8.065710,-11.314625,-11.339490,-9.911966,-9.007221,-12.295425

# Let's try running 4_Tmax_Stats.py functions

In [91]:
#### 1 Function turns csv into x-array
def csv_to_xr(file_in, time_dim, space_dim):
    
    """ Function reads in a csv w/ GHS-UCDB IDs and temp, isolates the temp
    and returns a xarray data array with dims set to city ids and dates
    
    Args:
        file_in = file name and path
        time_dim = name for time dim as a str ... use date :-)
        space_dim = col name for GHS-UCDB IDs as an str (ID_HDC_G0)
    """
    
    df = pd.read_csv(file_in) # read the file in as a df
    print(df.shape)
    
    df_id = df[space_dim] # get IDs
    df = df.iloc[:,3:] # get only temp columns
    df.index = df_id # set index values
    df_drop = df.dropna() # Drop cities w/ no temp record 
    print(len(df_drop))
    
    arr = df_drop.to_numpy() # turn temp cols into an np array
    
    # make xr Data Array w/ data as temp and dims as spece (e.g. id)
    
    # Note 2019 09 17 changed to xr.Dataset from xr.Dataarray
    xr_da = xr.DataArray(arr, coords=[df_drop.index, df_drop.columns], 
                            dims=[space_dim, time_dim])
    
    return xr_da

#### 2 Function finds all the Tmax Events and writes it to a dateframe w/ dates for each city
def tmax_days(xarray, Tthresh):
    """ Function finds all the tmax days in a year and sums total days per year
    greater than a threshold within a year where Tmax > Tthresh for each city. Returns the total number of days,
    the dates, the tempatures, and the intensity (daily Tmax - Tthresh)

    Args:
        xarray = an xarray object with dims = (space, times)
        Tthresh = int of temp threshold
    """

    # empty lists & df
    id_list = []
    date_list = []
    dayTot_list = []
    tmax_list = []
    intensity_list = []
    df_out = pd.DataFrame()

    # subset xarray
    out = xarray.where(xarray > Tthresh, drop = True)

    # start loop
    for index, loc in enumerate(out.ID_HDC_G0):
        id_list.append(out.ID_HDC_G0.values[index]) # get IDS
        date_list.append(out.sel(ID_HDC_G0 = loc).dropna(dim = 'date').date.values) # get event dates

        # this is actually getting the total events of all, 2019-09-22
        dayTot_list.append(len(out.sel(ID_HDC_G0 = loc).dropna(dim = 'date').date.values)) # get event totals

        tmax_list.append(out.sel(ID_HDC_G0 = loc).dropna(dim = 'date').values) # get temp values
        intensity_list.append(out.sel(ID_HDC_G0 = loc).dropna(dim = 'date').values - Tthresh) # get severity

    # write to a data frame
    df_out['ID_HDC_G0'] = id_list
    df_out['total_days'] = dayTot_list
    df_out['dates'] = date_list
    df_out['tmax'] = tmax_list
    df_out['tmax_tntensity'] = intensity_list

    # return df_out
    return df_out

#### 3 Function splits the dataset into Tmax events (continuous days >Tmax) for each city
def jul_convert(dates):
    "Function turn days into julian datetime"
    jul_days = pd.to_datetime(dates).to_julian_date()

    return jul_days

def event_split(dates, ID_HDC_G0, intensity, tmax, total_days):
    """ Searchs a list of dates and isolates sequential dates as a list, then calculates event stats.
    See comments in code for more details.

    Args:
        dates: pandas.core.index as julian dates
        ID_HDC_G0: city ID as string
        country: country for each city as string
        intensity: numpy.ndarray of intensities values
        tmax: numpy.ndarray of intensities values of tmax values
        total_days: total number of tmax days in a year for a given city

    """

    # city id
    city_id = ID_HDC_G0
    tot_days = total_days

    # lists to fill
    city_id_list = []
    tot_days_list = []
    event_dates_list = []
    dur_list = []
    intensity_list = []
    tmax_list = []
    avg_temp_list = []
    avg_int_list = []
    tot_int_list = []

    # data frame out
    df_out = pd.DataFrame()

    # turn days into julian days
    jul_days = jul_convert(dates)

    # Counters to make sure we write the correct event dates to a list, don't want julian days in output
    counter = 0
    start = 0
    end = 0

    # Loop through dur list and isolate seq days, temps, and intensities
    for k, g in groupby(enumerate(jul_days.values), lambda x: x[1]-x[0]):

        seq = list(map(itemgetter(1), g)) # isolate seq. days
        dur = len(seq) # duration of each event

        counter = counter + dur # add duration to counter
        end = counter # end of current event

        event_dates = dates[start:end] # dates of tmax days during each event
        intense = intensity[start:end] # intensity of each day during event
        temp = tmax[start:end] # temp of each day during event
        avg_temp = mean(temp) # avg. temp during event
        avg_int = mean(intense) # avg. intensity during event
        tot_int = intense.sum() # total intensity during event

        start = counter # reset start to current end (e.g. counter)

        # fill lists
        city_id_list.append(city_id)
        tot_days_list.append(tot_days)
        dur_list.append(dur)
        event_dates_list.append(event_dates)
        intensity_list.append(intense)
        tmax_list.append(temp)
        avg_temp_list.append(avg_temp)
        avg_int_list.append(avg_int)
        tot_int_list.append(tot_int)

    # write out as a dateframe
    df_out['ID_HDC_G0'] = city_id_list
    df_out['total_days'] = tot_days_list
    df_out['duration'] = dur_list
    df_out['avg_temp'] = avg_temp_list
    df_out['avg_intensity'] = avg_int_list
    df_out['tot_intensity'] = tot_int_list
    df_out['event_dates'] = event_dates_list
    df_out['duration'] = dur_list
    df_out['intensity'] = intensity_list
    df_out['tmax'] = tmax_list

    return df_out

#### 4 Function feeds output from function 2 into function 3

def tmax_stats(df_in):
    """ runs event_split functionon a dataframe to produce desired tmax stats

        NOTE - If you add arguments to event_split to make more states,
        be sure to update this function

        args:
            df: input dataframe
    """
    df_out = pd.DataFrame()


    # NOTE - If you add arguments to event_split to make more stats,
    # be sure to update this function

    for index, row in df_in.iterrows():
        dates = row['dates'] # Get event dates
        intensity = row['tmax_tntensity'] # Get intensity for each day
        tmax = row['tmax'] # Get tmax for each day
        ID_HDC_G0 = row['ID_HDC_G0'] # get city id
        total_days = row['total_days'] # get total number of tmax days

        df = event_split(dates, ID_HDC_G0, intensity, tmax, total_days)

        df_out = df_out.append(df)

    return df_out

## Step 1
seems ok ... no I think the indexing is getting fucked up

In [84]:
def csv_to_xr(file_in, time_dim, space_dim):
    
    """ Function reads in a csv w/ GHS-UCDB IDs and temp, isolates the temp
    and returns a xarray data array with dims set to city ids and dates
    
    Args:
        file_in = file name and path
        time_dim = name for time dim as a str ... use date :-)
        space_dim = col name for GHS-UCDB IDs as an str (ID_HDC_G0)
    """
    
    df = pd.read_csv(file_in) # read the file in as a df
    print(df.shape)
    
    df_id = df[space_dim] # get IDs
    df = df.iloc[:,3:] # get only temp columns
    df.index = df_id # set index values
    df_drop = df.dropna() # Drop cities w/ no temp record 
    print(len(df_drop))
    
    arr = df_drop.to_numpy() # turn temp cols into an np array
    
    # make xr Data Array w/ data as temp and dims as spece (e.g. id)
    
    # Note 2019 09 17 changed to xr.Dataset from xr.Dataarray
    xr_da = xr.DataArray(arr, coords=[df_drop.index, df_drop.columns], 
                            dims=[space_dim, time_dim])
    
    return xr_da

In [85]:
DIR_HI = '~/projects/UrbanHeat/data/interim/CHIRTS-GHS-DAILY-HI/'
HI83 = pd.read_csv(DIR_HI+'GHS-HI-DAILY_1983.csv')

In [86]:
HI83.head()

,Unnamed: 0,ID_HDC_G0,CTR_MN_NM,1983.01.01,1983.01.02,1983.01.03,1983.01.04,1983.01.05,1983.01.06,1983.01.07,...,1983.12.22,1983.12.23,1983.12.24,1983.12.25,1983.12.26,1983.12.27,1983.12.28,1983.12.29,1983.12.30,1983.12.31
0,0,5782,Russia,-50.290109,-38.741588,-38.527916,-29.775962,-27.355393,-25.563406,-23.869806,...,-28.779136,-40.398462,-30.339417,-20.395295,-15.319946,-15.414477,-18.033254,-14.991101,-15.963260,-18.583906
1,1,3316,Russia,-6.737854,-5.639201,-9.620732,-15.439825,-9.966626,-8.593357,-7.519376,...,-14.250156,-20.687157,-8.106323,-9.595132,-13.861566,-18.223596,-16.542586,-7.062472,-13.869323,-19.660082
2,2,5645,Russia,-28.483821,-21.293526,-16.567241,-17.570162,-18.721619,-21.200990,-25.610114,...,-23.420955,-26.181210,-15.323312,-5.394026,-8.077833,-11.663559,-13.886691,-16.108834,-14.447547,-13.034678
3,3,3185,Finland,-1.493348,-1.489085,-5.802576,-3.995879,-3.020417,-1.876911,-1.279008,...,-11.540405,-5.425336,-4.641525,-10.291178,-11.308963,-5.162991,-4.853079,-7.997720,-11.828115,-10.185535
4,4,3539,Russia,-8.240884,-8.182602,-19.021062,-16.765597,-12.458584,-5.322319,0.020468,...,-6.044796,-2.682858,-2.283302,-2.448591,-8.065710,-11.314625,-11.339490,-9.911966,-9.007221,-12.295425

In [87]:
# step 1
HI83_1 = csv_to_xr(DIR_HI+'GHS-HI-DAILY_1983.csv', space_dim = 'ID_HDC_G0', time_dim = 'date')

(13067, 368)
13067

In [88]:
HI83_1.to_pandas()

date,1983.01.01,1983.01.02,1983.01.03,1983.01.04,1983.01.05,1983.01.06,1983.01.07,1983.01.08,1983.01.09,1983.01.10,...,1983.12.22,1983.12.23,1983.12.24,1983.12.25,1983.12.26,1983.12.27,1983.12.28,1983.12.29,1983.12.30,1983.12.31
ID_HDC_G0,,,,,,,,,,,,,,,,,,,,,
5782,-50.290109,-38.741588,-38.527916,-29.775962,-27.355393,-25.563406,-23.869806,-18.560875,-19.614374,-19.276892,...,-28.779136,-40.398462,-30.339417,-20.395295,-15.319946,-15.414477,-18.033254,-14.991101,-15.963260,-18.583906
3316,-6.737854,-5.639201,-9.620732,-15.439825,-9.966626,-8.593357,-7.519376,-7.064662,-9.906245,-7.210659,...,-14.250156,-20.687157,-8.106323,-9.595132,-13.861566,-18.223596,-16.542586,-7.062472,-13.869323,-19.660082
5645,-28.483821,-21.293526,-16.567241,-17.570162,-18.721619,-21.200990,-25.610114,-15.815363,-10.247753,-11.960079,...,-23.420955,-26.181210,-15.323312,-5.394026,-8.077833,-11.663559,-13.886691,-16.108834,-14.447547,-13.034678
3185,-1.493348,-1.489085,-5.802576,-3.995879,-3.020417,-1.876911,-1.279008,-1.179853,-3.128611,-6.715125,...,-11.540405,-5.425336,-4.641525,-10.291178,-11.308963,-5.162991,-4.853079,-7.997720,-11.828115,-10.185535
3539,-8.240884,-8.182602,-19.021062,-16.765597,-12.458584,-5.322319,0.020468,-0.319960,-1.852475,-5.629876,...,-6.044796,-2.682858,-2.283302,-2.448591,-8.065710,-11.314625,-11.339490,-9.911966,-9.007221,-12.295425
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13046,22.027440,23.975676,24.584028,23.638358,17.693388,16.141836,13.205221,19.697393,23.508071,24.300534,...,14.106610,13.995076,11.277148,20.972465,21.003527,10.360160,12.625617,15.683572,16.825587,15.173683
1116,20.751194,20.605424,28.395473,26.143112,15.725534,21.144698,19.910662,17.657918,15.722890,21.430877,...,18.141779,16.539953,21.602810,21.647072,19.074304,14.923604,18.101031,16.628473,16.688273,19.114500
1114,15.229685,17.001158,20.108250,17.904442,12.361274,18.052223,16.921556,14.961832,14.308719,17.855721,...,14.666025,13.237891,17.149178,15.657831,14.811033,13.177019,14.376521,13.611328,14.246505,14.422775
1161,15.739306,17.198276,22.271345,23.470155,12.334445,17.590137,16.378393,17.079039,13.053998,15.806885,...,16.230497,13.400457,19.346755,17.403097,17.085023,14.443016,14.793262,14.887891,15.369589,15.315342
1169,15.763428,16.682877,21.013573,23.006700,12.972336,18.572323,14.851997,18.854617,13.501444,13.983528,...,14.741338,10.561328,18.760076,16.279883,14.952109,11.612484,14.541454,13.413176,14.255401,12.974494

## Step 2 
Is not ok
I think the indexing is getting fucked up somewhere

In [53]:
# Step 2
HI83_2 = tmax_days(HI83, 40.6)

In [54]:
HI83_2[HI83_2['ID_HDC_G0'] == city]

,ID_HDC_G0,total_days,dates,tmax,tmax_tntensity
4359,5782,143,"[1983.04.25, 1983.04.26, 1983.04.27, 1983.05.0...","[42.58442909647524, 42.503736994749104, 42.424...","[1.984429096475239, 1.903736994749103, 1.82448..."

In [57]:
# empty lists & df
# id_list = []
# date_list = []
# dayTot_list = []
# tmax_list = []
# intensity_list = []
# df_out = pd.DataFrame()

# subset xarray
out = HI83_1.where(HI83_1 > 40.6, drop = True)

# # start loop
# for index, loc in enumerate(out.ID_HDC_G0):
#     id_list.append(out.ID_HDC_G0.values[index]) # get IDS
#     date_list.append(out.sel(ID_HDC_G0 = loc).dropna(dim = 'date').date.values) # get event dates

#     # this is actually getting the total events of all, 2019-09-22
#     dayTot_list.append(len(out.sel(ID_HDC_G0 = loc).dropna(dim = 'date').date.values)) # get event totals

#     tmax_list.append(out.sel(ID_HDC_G0 = loc).dropna(dim = 'date').values) # get temp values
#     intensity_list.append(out.sel(ID_HDC_G0 = loc).dropna(dim = 'date').values - Tthresh) # get severity

# # write to a data frame
# df_out['ID_HDC_G0'] = id_list
# df_out['total_days'] = dayTot_list
# df_out['dates'] = date_list
# df_out['tmax'] = tmax_list
# df_out['tmax_tntensity'] = intensity_list

# # return df_out
# return df_out

In [61]:
id_list = []
for index, loc in enumerate(out.ID_HDC_G0):
    id_list.append(out.ID_HDC_G0.values[index]) # get IDS

In [74]:
out.sel(ID_HDC_G0=city).dropna(dim = 'date')

<xarray.DataArray (date: 143)>
array([42.584429, 42.503737, 42.424483, 40.833569, 41.403135, 41.218801,
       41.571135, 40.729051, 42.31297 , 42.955775, 43.834402, 41.697979,
       41.24795 , 40.989978, 42.217521, 43.878061, 42.683855, 40.685785,
       43.910933, 43.946472, 42.092335, 42.326294, 43.539281, 42.938861,
       41.510357, 42.693755, 44.87702 , 43.944489, 42.063051, 42.144353,
       42.784079, 43.111902, 41.41765 , 44.447488, 43.168681, 45.220145,
       44.825995, 40.989381, 45.006954, 44.796263, 45.814822, 48.059075,
       49.806239, 46.532806, 47.104042, 47.503268, 47.553926, 49.079195,
       50.389528, 43.028087, 41.025493, 42.094146, 44.760405, 46.551688,
       48.356238, 43.225541, 45.608592, 43.099125, 45.722895, 49.170148,
       49.303644, 49.584878, 51.897823, 51.010867, 44.782805, 50.105656,
       52.862855, 53.235101, 48.256484, 48.416433, 52.748618, 50.219169,
       49.670276, 43.933239, 51.105109, 41.472545, 41.363227, 41.381089,
       44.429525, 48.363078, 48.71529 , 49.262198, 50.138696, 42.961457,
       44.195917, 44.785718, 46.251173, 50.343485, 50.351127, 47.986413,
       47.690505, 42.855622, 45.681281, 44.69803 , 48.992221, 50.017119,
       41.864024, 44.696686, 45.209193, 42.264667, 42.899671, 42.236475,
       41.948243, 45.333783, 44.1616  , 46.733679, 41.555306, 43.43069 ,
       45.71189 , 44.650657, 44.127025, 45.865833, 45.841141, 46.327392,
       44.007069, 45.912869, 48.503187, 49.255761, 49.411175, 46.969859,
       45.725997, 43.695972, 43.321468, 44.032591, 44.964476, 46.541204,
       45.114603, 43.141606, 45.724185, 44.115201, 43.43207 , 44.230726,
       43.204256, 44.682443, 46.457919, 43.483384, 43.780376, 42.11847 ,
       43.270715, 41.229654, 40.668444, 40.814135, 41.248409])
Coordinates:
    ID_HDC_G0  int64 5782
  * date       (date) object '1983.04.25' '1983.04.26' ... '1983.10.14'

In [92]:
# try it all
DIR_HI = '~/projects/UrbanHeat/data/interim/CHIRTS-GHS-DAILY-HI/'

# step 1
HI83_1 = csv_to_xr(DIR_HI+'GHS-HI-DAILY_1983.csv', space_dim = 'ID_HDC_G0', time_dim = 'date')

# Step 2
HI83_2 = tmax_days(HI83_1, 40.6)

(13067, 368)
13067

In [93]:
HI83_3 = event_split(dates, ID_HDC_G0, intensity, tmax, total_days):

,ID_HDC_G0,total_days,dates,tmax,tmax_tntensity
0,4362,4,"[1983.07.01, 1983.07.03, 1983.07.04, 1983.07.05]","[41.2162297649178, 41.00430534908585, 40.99696...","[0.6162297649177972, 0.4043053490858455, 0.396..."
1,5380,1,[1983.07.03],[47.953803383459274],[7.353803383459272]
2,5872,3,"[1983.06.23, 1983.06.25, 1983.06.30]","[40.744341718490524, 41.27792041224244, 41.944...","[0.1443417184905229, 0.677920412242436, 1.3445..."
3,2960,2,"[1983.07.09, 1983.07.11]","[42.01489963377728, 40.739925045640334]","[1.4148996337772815, 0.13992504564033226]"
4,2493,1,[1983.07.11],[40.87626874327654],[0.27626874327653894]
...,...,...,...,...,...
10219,1036,1,[1983.02.05],[44.406510159884064],[3.8065101598840627]
10220,1040,1,[1983.02.05],[45.489136996534356],[4.889136996534354]
10221,1087,8,"[1983.01.05, 1983.01.12, 1983.01.18, 1983.01.2...","[42.19111942543727, 45.51292800469899, 41.7007...","[1.5911194254372703, 4.9129280046989905, 1.100..."
10222,1081,1,[1983.01.05],[42.889235435136044],[2.2892354351360424]
10223,1082,1,[1983.01.05],[40.98286836098647],[0.38286836098647115]