# Notebook to explore updating PNAS data
- rewrite code to make json not csv <br>
- what are we dropping city year combos in pdays routine?

In [13]:
# Dependencies
import pandas as pd
import numpy as np
import geopandas as gpd
from glob import glob
import os

In [7]:
# Data path
DATA_PATH = '/home/cascade/projects/UrbanHeat/data/'

In [40]:
# Explore files - 1983
content = os.listdir(DATA_PATH+'interim/')
fns = sorted(glob(DATA_PATH+'interim/ERA5_HI/*csv'))
fn = fns[0]
df1983 = pd.read_csv(fn)
df1983.head()

,Unnamed: 0,ID_HDC_G0,CTR_MN_NM,1983.01.01,1983.01.02,1983.01.03,1983.01.04,1983.01.05,1983.01.06,1983.01.07,...,1983.12.22,1983.12.23,1983.12.24,1983.12.25,1983.12.26,1983.12.27,1983.12.28,1983.12.29,1983.12.30,1983.12.31
0,0,5782,Russia,-49.590861,-38.042995,-36.750948,-28.374049,-26.626346,-21.826344,-21.446321,...,-27.149449,-36.333571,-30.164864,-19.821702,-14.509835,-14.259680,-16.596240,-14.705007,-14.277887,-16.171796
1,1,3316,Russia,-4.088565,-2.252119,-6.184317,-13.705580,-7.631833,-7.392443,-5.487767,...,-12.845948,-18.931796,-8.486376,-8.990228,-15.775358,-19.373392,-19.813643,-12.648720,-13.315901,-15.861366
2,2,5645,Russia,-38.693309,-23.243517,-13.361891,-11.548153,-16.044299,-18.756276,-24.426800,...,-20.344301,-26.453421,-16.921110,-2.669969,-4.402858,-9.637487,-11.979378,-15.932049,-15.186321,-12.247702
3,3,3185,Finland,-0.263081,0.372479,-5.046791,-2.224906,-1.583173,-0.187118,-0.431349,...,-6.141768,-3.382719,-2.959680,-7.515815,-13.457510,-4.966569,-5.707407,-10.071544,-9.986938,-10.397102
4,4,3539,Russia,-10.146690,-9.364139,-20.047189,-16.052717,-12.344176,-5.424159,-0.371261,...,-5.950157,-2.916705,-1.734350,-1.815293,-6.173747,-10.115407,-10.211072,-10.359057,-10.359030,-11.863613

In [23]:
df1983.head()

,Unnamed: 0,ID_HDC_G0,CTR_MN_NM,total_days,duration,avg_temp,avg_intensity,tot_intensity,event_dates,intensity,tmax
0,0,3091,Poland,1,1,42.493549,1.893549,1.893549,['1983.05.16'],[1.89354862],[42.49354862]
1,1,1813,United Kingdom,1,1,41.305863,0.705863,0.705863,['1983.07.12'],[0.70586334],[41.30586334]
2,2,1794,United Kingdom,1,1,42.117677,1.517677,1.517677,['1983.07.12'],[1.51767744],[42.11767744]
3,3,1786,United Kingdom,1,1,42.389304,1.789304,1.789304,['1983.07.12'],[1.78930445],[42.38930445]
4,4,3179,Poland,1,1,41.958580,1.358580,1.358580,['1983.05.16'],[1.35857979],[41.95857979]

In [28]:
# compare 1 vs 2 day events
print(len(df1983))
print(len(df1983[df1983['duration'] > 1]))

157540
102552

In [36]:
def one_day(fns):
    
    for fn in fns:
        print(fn)
        df = pd.read_csv(fn)
        # compare 1 vs 2 day events
        print(len(df))
        print(len(df[df['duration'] > 1]), '\n')

In [38]:
#one_day(fns)