# Figures

Notebook to start making figures for Tmax paper.

Cascade Tuholske 2019-09-08

#### NOTES
There seems to be an error w/ ```CHIRTS-GHS-Events/``` whereby it is not capturing each heat event for each city or maybe not spliting them correctly.

#### Depdendencies

In [1]:
import pandas as pd
import geopandas as gpd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

#### Load and arrange data

In [2]:
# file paths

TDATA_IN = '/home/cascade/projects/data_out_urbanheat/'
GHS_DATA_IN = '/home/CHIRTS/Tmax/cascade/GHS-UCDB/'

## RGB Plots

For each city:
- Total number of days per Year 
- Total number of events per year
- Avg duration of events per year
- Avg intensity per event 
- Avg intensity per year
- Severity of each event
- Avg. Severity of each event per year

To start:
- Red = # days in a given year 
- Green = avg duration in a given year
- Blue = avg intensity in a given year

In [3]:
# Open data
events_dir = 'CHIRTS-GHS-Events/'
events1983_fn = 'CHIRTS-GHS-Events1983.csv'

events1983 = pd.read_csv(TDATA_IN+events_dir+events1983_fn)
print(events1983.shape)

(4483, 7)

In [4]:
events1983.head()

,Unnamed: 0,ID_HDC_G0,CTR_MN_NM,Event_Length,Event_Dates,Event_Temps,Event_Severity
0,0,2784,Germany,1,['1983.07.27'],[44.45975],[3.85975]
1,1,2372,France,1,['1983.07.31'],[43.331635],[2.731635]
2,2,6156,Kazakhstan,1,['1983.07.31'],[41.336376],[0.736376]
3,3,2833,Germany,1,['1983.07.27'],[47.49318],[6.89318]
4,4,2885,Austria,1,['1983.07.27'],[44.01389],[3.41389]

In [32]:
country = events1983[events1983['CTR_MN_NM']=='Sudan']

In [37]:
country.iloc[0].Event_Dates

"['1983.04.01' '1983.04.02' '1983.05.03' '1983.05.04' '1983.05.05'\n '1983.05.06' '1983.05.11' '1983.05.12' '1983.05.13' '1983.05.14'\n '1983.05.24' '1983.05.25' '1983.05.26' '1983.05.27' '1983.05.28'\n '1983.05.29' '1983.05.30' '1983.05.31' '1983.06.01' '1983.06.02'\n '1983.06.03' '1983.06.04' '1983.06.07' '1983.06.08' '1983.06.09'\n '1983.06.10' '1983.06.11' '1983.06.13' '1983.06.14' '1983.06.15'\n '1983.06.16' '1983.06.17' '1983.06.18' '1983.06.19' '1983.06.20'\n '1983.06.21' '1983.06.22' '1983.06.23' '1983.06.24' '1983.06.25'\n '1983.06.26' '1983.06.27' '1983.06.28' '1983.06.29' '1983.06.30'\n '1983.07.01' '1983.07.02' '1983.07.03' '1983.07.04' '1983.07.05'\n '1983.07.06' '1983.07.07' '1983.07.09' '1983.07.10' '1983.07.11'\n '1983.07.12' '1983.07.13' '1983.07.14' '1983.07.15' '1983.07.16'\n '1983.07.17' '1983.07.18' '1983.07.19' '1983.07.20' '1983.07.21'\n '1983.07.22' '1983.07.23' '1983.07.24' '1983.07.25' '1983.07.26'\n '1983.07.27' '1983.07.28' '1983.07.29' '1983.07.30' '1983.07.31'\n '1983.08.01' '1983.08.02' '1983.08.03' '1983.08.04' '1983.08.05'\n '1983.08.06' '1983.08.07' '1983.08.08' '1983.08.09' '1983.08.10'\n '1983.08.13' '1983.08.14' '1983.08.15' '1983.08.16' '1983.08.17'\n '1983.08.18' '1983.08.19' '1983.08.20' '1983.08.21' '1983.08.22'\n '1983.08.23' '1983.08.24' '1983.08.25' '1983.08.26' '1983.08.27'\n '1983.08.28' '1983.08.29' '1983.08.30' '1983.09.01' '1983.09.02'\n '1983.09.03' '1983.09.04' '1983.09.05' '1983.09.06' '1983.09.07'\n '1983.09.08' '1983.09.09' '1983.09.11' '1983.09.12' '1983.09.13'\n '1983.09.14' '1983.09.15' '1983.09.21' '1983.09.22' '1983.09.23'\n '1983.09.24' '1983.09.27' '1983.09.28' '1983.09.29' '1983.09.30'\n '1983.10.01' '1983.10.02' '1983.10.03' '1983.10.04' '1983.10.08'\n '1983.10.09' '1983.10.10' '1983.10.11' '1983.10.12']"

In [31]:
len(np.unique(country['ID_HDC_G0']))

114

In [12]:
events1983.groupby('CTR_MN_NM')['Event_Length'].sum()

CTR_MN_NM
Afghanistan    841
Algeria        834
Argentina       22
Australia        3
Austria          2
              ...
Venezuela        1
Vietnam         17
Yemen          413
Zambia          16
Zimbabwe         3
Name: Event_Length, Length: 87, dtype: int64

In [ ]:
# Total Number of days in a Year
events1983_totDays = pd.DataFrame(events1983.groupby('ID_HDC_G0')['Event_Length'].sum())
print(events1983_totDays.shape)

In [ ]:
# Total Number of Events per year
events1983['Events'] = 1
events1983_totEvents = pd.DataFrame(events1983.groupby('ID_HDC_G0')['Events'].sum())

In [ ]:
events1983_totEvents[2000:2050]

## Days and Population

In [ ]:
# file names

chirts_daily_fn = '20190831_TMax-GHS_TotEvents83-2016.csv'
GHS_fn = 'GHS_STAT_UCDB2015MT_GLOBE_R2019A_V1_0.shp'

In [ ]:
# Open daily and GHS_UCDB

df_chirts = pd.read_csv(TDATA_IN+chirts_daily_fn)
df_ghs = gpd.read_file(GHS_DATA_IN+GHS_fn)

In [ ]:
# Map in city populations

# Get Pop
df_pop = pd.DataFrame()
df_pop['ID_HDC_G0'] = df_ghs['ID_HDC_G0']
df_pop['P75'] = df_ghs['P75']
df_pop['P90'] = df_ghs['P90']
df_pop['P00'] = df_ghs['P00']
df_pop['P15'] = df_ghs['P15']

df_pop.head()

In [ ]:
# merge

df_chirts_merge = pd.merge(df_pop, df_chirts, on='ID_HDC_G0', how = 'inner')

In [ ]:
df_chirts_merge.head()

In [ ]:
# Make people days

df_Tpop = pd.DataFrame()
df_Tpop['ID_HDC_G0'] = df_chirts_merge['ID_HDC_G0']
df_Tpop['CTR_MN_NM'] = df_chirts_merge['CTR_MN_NM']
df_Tpop['P75'] = df_chirts_merge['P75']
df_Tpop['P90'] = df_chirts_merge['P90']
df_Tpop['P00'] = df_chirts_merge['P00']
df_Tpop['P15'] = df_chirts_merge['P15']
df_Tpop['1983'] = df_chirts_merge['1983']
df_Tpop['1990'] = df_chirts_merge['1990']
df_Tpop['2000'] = df_chirts_merge['2000']
df_Tpop['2015'] = df_chirts_merge['2015']

In [ ]:
df_Tpop['PD_1983'] = df_Tpop['P75'] * df_Tpop['1983']
df_Tpop['PD_1990'] = df_Tpop['P90'] * df_Tpop['1990']
df_Tpop['PD_2000'] = df_Tpop['P00'] * df_Tpop['2000']
df_Tpop['PD_2015'] = df_Tpop['P15'] * df_Tpop['2015']

In [ ]:
df_Tpop[2500:2600]

In [ ]:
# Write it out

# df_Tpop.to_csv(TDATA_IN+'CHIRTS-GHS-PeopleDays.csv')

#### Sum People Days and Plot it 

- Dude turn this into a function

In [ ]:
year = '2015' # get Tmax events for a given year
pop_year = 'P15' # get the pop for each city

pop_tot = df_Tpop.groupby(year)[pop_year].sum() # group pop by tmax events and sum
pop_range = (list(range(1,len(pop_tot)+1))) # make a list of range

print(len(pop_tot))
print(len(pop_range))

test = pd.DataFrame()
test['pop_tot'] = pop_tot / 10**6
test['pop_range'] = pop_range

tot = test.pop_tot.sum()
print(tot)

In [ ]:
# make plot

sns.set(font_scale=1)
# fig, ax = plt.subplots(nrows=1, ncols=1)
fig = plt.subplots(figsize=[10,10])

ax = sns.barplot(x='pop_range', y='pop_tot', data = test)

# Colors
ax.set_facecolor('White')

# control x and y limits
plt.ylim(0, 130)
plt.xlim(-1, 200)

# Labels
plt.xlabel('Number of Days Per Year > 40.6C')
plt.ylabel('Total Number of Urban Residents Exposed (millions)')
plt.title('Number of Urban Residents Exposed to Days >40.6 in '+year)

# ticks
tick = list(range(0,200, 50))
plt.xticks(tick, tick)

#### Delta Pop vs Delta Temp

- Dude turn this into a function

In [ ]:
# get pop

p75 = df_Tpop.P75
p15 = df_Tpop.P15

# delta pop
delta_pop = p15 - p75

# get Tmax
tmax83 = df_Tpop['1983']
tmax15 = df_Tpop['2015']

delta_tmax = tmax15 - tmax83

# get people days
pd83 = df_Tpop['PD_1983']
pd15 = df_Tpop['PD_2015']

delta_pd = pd15 - pd83

# make df
df_delta = pd.DataFrame()
df_delta['delta_pop'] = np.log10(delta_pop)
df_delta['delta_tmax'] = delta_tmax
df_delta['delta_pd'] = np.log10(delta_pd)

In [ ]:
# make plot

sns.set(font_scale=1)
# fig, ax = plt.subplots(nrows=1, ncols=1)
fig = plt.subplots(figsize=[10,10])

ax = sns.scatterplot(x='delta_tmax', y='delta_pd', data = df_delta, alpha = 0.5)

# Colors
# ax.set_facecolor('White')

# control x and y limits
# plt.ylim(0, 8)
# plt.xlim(-25, 70)

# Labels
plt.ylabel('Log10 Change 2015 - 1983 in PeopleDays (# of days per year >40.6C x population)')
plt.xlabel('Change 2015 - 1983 in number of days >40.6C')
plt.title('Global change in People Days vs change in number of days >40.6C 1983 - 2015')


plt.axvline(x=0, color = 'black')
# plt.axhline(y=2, color = 'black')

# ticks
# tick = list(range(0,200, 50))
# plt.xticks(tick, tick)

#### All events vs all Pop by year w/ size = to People Days

- Dude turn this into a function

In [ ]:
# Get tmax
tmax83 = df_Tpop['1983']
tmax90 = df_Tpop['1990']
tmax00 = df_Tpop['2000']
tmax15 = df_Tpop['2015']

# Get People Days
pd83 = df_Tpop['PD_1983']
pd90 = df_Tpop['PD_1990']
pd00 = df_Tpop['PD_2000']
pd15 = df_Tpop['PD_2015']

# Get Pop 
p75 = df_Tpop.P75
p90 = df_Tpop.P90
p00 = df_Tpop.P00
p15 = df_Tpop.P15

In [ ]:
np.unique(p15)

In [ ]:
def make_df(tmax, pday, pop, year):
    l = len(tmax)
    year_list = [year] * l
    
    df = pd.DataFrame()
    df['events'] = tmax
    df['pop'] = np.log10(pop)
    df['pday'] = pday
    df['year'] = year_list
    
    return df

In [ ]:
# make my data
df83 = make_df(tmax83, pd83, p75, 'Year 1983')
df90 = make_df(tmax90, pd90, p90, 'Year 1990')
df00 = make_df(tmax00, pd00, p00, 'Year 2000')
df15 = make_df(tmax15, pd15, p15, 'Year 2015')

# concat it
df_concat = pd.concat([df83, df90, df00, df15])
df_concat.shape

In [ ]:
# make plot

sns.set(font_scale=1)
# fig, ax = plt.subplots(nrows=1, ncols=1)
fig = plt.subplots(figsize=[15,15])

ax = sns.scatterplot(x='pop', y='events', hue = 'year', data = df_concat, alpha = 0.7)

# Colors
ax.set_facecolor('White')

# control x and y limits
plt.ylim(0, 200)
plt.xlim(-2, 10)

# Labels
# plt.ylabel('Change in population, 1975 - 2015 (log 10)')
# plt.xlabel('Change in number of days per year >40.6, 1983 - 2015')
# plt.title('Change in number of days per year >40.6 vs. Change in Population 1983 - 2015')


# plt.axvline(x=0, color = 'black')
# # plt.axhline(y=2, color = 'black')

# ticks
# tick = list(range(0,200, 50))
# plt.xticks(tick, tick)