# MS Calculations

Notebook to crunch numbers for the MS.

by Cascade Tuholske 2020.02.23 

Updated 2020.08.27 - CPT  
Updated July/Aug 2021

In [1]:
#### Depdencies 
import pandas as pd
import numpy as np
import geopandas as gpd
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns
import glob
import matplotlib.dates as mdates
import os

In [2]:
#### Regressions, no intercept addition is needed because we're using SK LEARN HERE 

def lm_func(df, col):
    
    "simple linear model of a time series data, returns coef"
    
    # Get Data
    X_year = np.array(df.groupby('year')['ID_HDC_G0'].mean().index).reshape((-1, 1))
    Y_stats = np.array(df.groupby('year')[col].sum()).reshape((-1, 1))

    # Add Intercept
    X_year_2 = sm.add_constant(X_year)

    # Regress
    model = sm.OLS(Y_stats, X_year_2).fit() 
        
    coef = int(model.params[1])
    #coef = int(coef)
            
    # R2 and P
    r2 = model.rsquared_adj
    p = model.pvalues[0]
    
    return coef, round(r2, 2), round(p, 3)

In [5]:
#### Load Data
DATA = 'wbgtmax30' # UPDATE 

# file paths
DATA_IN = "/home/CHIRTS/UEH-daily/stats/"  
FIG_OUT = "/home/cascade/projects/UrbanHeat/figures/"
FN_IN = os.path.join(DATA_IN,DATA+'_EXP.json')
HI_STATS = pd.read_json(FN_IN, orient = 'split')

# Set scale
scale = 10**9

In [6]:
# Drop cites where 1983 had 1 day and none elsewhere

print(len(HI_STATS))
only83 = HI_STATS.groupby('ID_HDC_G0')['tot_days'].sum() == 1 # sum up total days and find those with 1 day
only83 = list(only83[only83 == True].index) # make a list of IDs
sub = HI_STATS[HI_STATS['ID_HDC_G0'].isin(only83)] # subset those IDs
bad_ids = sub[(sub['year'] == 1983) & (sub['tot_days'] == 1)] # drop those from 1983 only
drop_list = list(bad_ids['ID_HDC_G0']) # make a list
HI_STATS= HI_STATS[~HI_STATS['ID_HDC_G0'].isin(drop_list)] # drop those from the list
print(len(HI_STATS))

303518
303178

In [7]:
#### Add In Meta Data (e.g. geographic data)
meta_fn = os.path.join('/home/cascade/projects/UrbanHeat/data/interim/','GHS-UCDB-IDS.csv')
meta_data = pd.read_csv(meta_fn)

#### Merge in meta
HI_STATS = HI_STATS.merge(meta_data, on = 'ID_HDC_G0', how = 'left')

In [8]:
 HI_STATS

,ID_HDC_G0,year,tot_days,P,P1983,P2016,people_days,people_days_heat,people_days_pop,CTR_MN_NM,UC_NM_MN,GCPNT_LAT,GCPNT_LON,region,sub-region,intermediate-region
0,18,2006,2,622283.428656,494664.495616,661553.577433,1.244567e+06,989328.991233,255237.866079,United States,Concord [USA],37.913946,-122.048318,Americas,Northern America,Northern America
1,22,2006,2,70915.650551,52064.452435,73006.671133,1.418313e+05,104128.904869,37702.396233,United States,Livermore [USA],37.688409,-121.753980,Americas,Northern America,Northern America
2,26,2006,3,247944.032154,194088.886834,268055.635628,7.438321e+05,582266.660503,161565.435959,United States,Antioch [USA],37.985433,-121.797516,Americas,Northern America,Northern America
3,27,2006,2,90805.062622,80540.779940,93335.494324,1.816101e+05,161081.559880,20528.565365,United States,Fairfield [USA],38.264013,-122.030253,Americas,Northern America,Northern America
4,28,1998,1,68062.052369,59320.971209,91449.606255,6.806205e+04,59320.971209,8741.081160,United States,Tracy [USA],37.730079,-121.431413,Americas,Northern America,Northern America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303173,13135,2010,0,NaN,132501.788370,211650.696320,0.000000e+00,0.000000,0.000000,Fiji,Suva [FJI],-18.104802,178.461255,Oceania,Melanesia,Melanesia
303174,13135,2011,0,NaN,132501.788370,211650.696320,0.000000e+00,0.000000,0.000000,Fiji,Suva [FJI],-18.104802,178.461255,Oceania,Melanesia,Melanesia
303175,13135,2012,0,NaN,132501.788370,211650.696320,0.000000e+00,0.000000,0.000000,Fiji,Suva [FJI],-18.104802,178.461255,Oceania,Melanesia,Melanesia
303176,13135,2013,0,NaN,132501.788370,211650.696320,0.000000e+00,0.000000,0.000000,Fiji,Suva [FJI],-18.104802,178.461255,Oceania,Melanesia,Melanesia
303177,13135,2014,0,NaN,132501.788370,211650.696320,0.000000e+00,0.000000,0.000000,Fiji,Suva [FJI],-18.104802,178.461255,Oceania,Melanesia,Melanesia

In [9]:
#### Check to num days per year greatest > 32
check = HI_STATS.sort_values('tot_days', ascending = False)
check[['CTR_MN_NM', 'UC_NM_MN', 'year', 'tot_days']].head(5)

      CTR_MN_NM        UC_NM_MN  year  tot_days
52805   Eritrea  Mits'Iwa [ERI]  2016       255
52791   Eritrea  Mits'Iwa [ERI]  2002       254
52804   Eritrea  Mits'Iwa [ERI]  2015       248
52799   Eritrea  Mits'Iwa [ERI]  2010       244
52792   Eritrea  Mits'Iwa [ERI]  2003       243

# Global Trends

In [10]:
#### Total Change in people Days
data = HI_STATS.groupby('year')['people_days'].sum()
year = str(data.index[33])
value = str(data.values[33]/10**9)
print('person days in 2016 was '+value+' billion')

year = str(data.index[0])
value = str(data.values[0]/10**9)
print('person days in 1983 was '+value+' billion')

#### Pct Change in Poeple Days 1983 - 2016
pdays16 = data.iloc[len(data) -1]
pdays83 = data.iloc[0]
out = (data.iloc[len(data) -1] - data.iloc[0]) / data.iloc[0] * 100
print('pct increase in people days 83 - 16 is ', out)

person days in 2016 was 118.6608238905162 billion
person days in 1983 was 39.691073649233786 billion
pct increase in people days 83 - 16 is  198.960982862722

In [11]:
#### Rate of change
data = HI_STATS
coef, r2, p = lm_func(data, 'people_days')
print('annual increase in people days ', 'was', coef/10**9, ' p=', p)
coef1, r21, p1 = lm_func(data, 'people_days_heat')
print('annual increase in people days heat ', 'was', coef1/10**9, ' p=', p)
coef2, r22, p2 = lm_func(data, 'people_days_pop')
print('annual increase in people days pop ', 'was', coef2/10**9, ' p=', p)
print('attrib heat ', 'was', coef1 / coef *100, ' p=', p, '\n')

annual increase in people days  was 2.108968631  p= 0.0
annual increase in people days heat  was 0.716240045  p= 0.0
annual increase in people days pop  was 1.392728586  p= 0.0
attrib heat  was 33.96162628840922  p= 0.0

In [12]:
#### Pct Pday Annual Increase from Heat
coef_pdays, r2_pdays, p_pdays = lm_func(HI_STATS, 'people_days') # regress pdays
coef_heat, r2_heat, p_heat = lm_func(HI_STATS, 'people_days_heat') # regreas heat

print('warming is what pct of total?', coef_heat/coef_pdays *100)

warming is what pct of total? 33.96162628840922

In [13]:
#### Pct heat vs pop
coef_pop, r2_pdays, p_pdays = lm_func(HI_STATS, 'people_days_pop') # regress pdays
coef_heat, r2_heat, p_heat = lm_func(HI_STATS, 'people_days_heat') # regreas heat

print('pct of heat vs pop', coef_heat/coef_pop *100)

pct of heat vs pop 51.42710878485551

# City-level

#### Largest cities compared to global total

In [15]:
#### Top cities
cities_fn = os.path.join('/home/CHIRTS/UEH-daily/ms-tables/wbgtmax30_EXP-TOP50.csv')
cities = pd.read_csv(cities_fn)

In [16]:
top = cities.sort_values('coef_pdays', ascending = False).head(25) # get the top ten cities

In [17]:
# What pct of the global annual increase comes from the top 25 cities?
ans = top['coef_pdays'].sum() / coef # coef comes from rate of change cell
print('Top 25 cities of total annual increase', ans * 100)

Top 25 cities of total annual increase 24.658691183911717

#### Pdays

In [19]:
city_coefs_fn = os.path.join('/home/CHIRTS/UEH-daily/stats/wbgtmax30_TREND_PDAYS05.json')
city_coefs = pd.read_json(city_coefs_fn, orient = 'split')
GHS = gpd.read_file('/home/cascade/projects/UrbanHeat/data/raw/GHS_UCDB/GHS_STAT_UCDB2015MT_GLOBE_R2019A_V1_0.shp')

In [20]:
len(city_coefs)

5985

In [21]:
#### Number of cities w/ sig increase in exposure?
print('The pct of cities w/ increases in exposure: ', len(city_coefs)/len(GHS)*100)

The pct of cities w/ increases in exposure:  45.56528359345261

In [22]:
len(city_coefs)

5985

In [23]:
ans = len(city_coefs[(city_coefs['GCPNT_LAT'] < 23.5) & (city_coefs['GCPNT_LAT'] > -23.5)]) / len(city_coefs)
print('what pct of pday cities are low lat?', ans*100)

what pct of pday cities are low lat? 49.2063492063492

In [24]:
print('what pct of global pop are cities with sig pdays?')

what pct of global pop are cities with sig pdays?

In [25]:
def country_search(country, data_set):
    "what pct of cities had a p-day increase?"
    print('Num of Cities in '+country+' ', len(data_set[data_set['CTR_MN_NM'] == country]) / len(GHS[GHS['CTR_MN_NM'] == country]) *100)

In [26]:
data_set = city_coefs

In [27]:
country_search('Senegal', data_set)

Num of Cities in Senegal  96.96969696969697

In [28]:
country_search('Nigeria', data_set)

Num of Cities in Nigeria  87.99171842650104

In [29]:
country_search('India', data_set)

Num of Cities in India  85.09852216748769

#### Pct of global population exposured

In [31]:
city_coefs_fn = os.path.join('/home/CHIRTS/UEH-daily/stats/wbgtmax30_TREND_PDAYS05.json')
city_coefs = pd.read_json(city_coefs_fn, orient = 'split')

In [32]:
pop_fn = os.path.join('/home/cascade/projects/UrbanHeat/data/interim/','GHS-UCDB-Interp.csv')
pop = pd.read_csv(pop_fn)

p16 = pop[['ID_HDC_G0', 'P2016']]

In [33]:
len(p16)

13135

In [34]:
pdays_pop = pd.merge(city_coefs[['ID_HDC_G0']], p16, on = 'ID_HDC_G0', how = 'inner')

In [35]:
ans = pdays_pop['P2016'].sum() / p16['P2016'].sum() * 100 
print('What is the global urban population in 2016', p16['P2016'].sum() / 10**9)
print('How many people live in cities with increasing exp in 2016', pdays_pop['P2016'].sum() / 10**9)
print('What pct of total urban pop has sig increase exp in 2015', ans)

What is the global urban population in 2016 3.5353262985424414
How many people live in cities with increasing exp in 2016 1.6646639187583419
What pct of total urban pop has sig increase exp in 2015 47.08657074863659

In [36]:
# From UN-DESA 2018 estimates for total global pop in 2015
ans =  pdays_pop['P2016'].sum() / 7383009000 * 100
print('What pct of total world pop has sig increase exp in 2016', ans)

What pct of total world pop has sig increase exp in 2016 22.54722862667974

In [37]:
# UN-DESA Urban pop in 2015 was  3 981 498
p16['P2016'].sum()

3535326298.5424414

#### Total Heat Days

In [38]:
city_totdays_fn = os.path.join('/home/CHIRTS/UEH-daily/stats/wbgtmax30_TREND_HEATP05.json')
city_totdays = pd.read_json(city_totdays_fn, orient = 'split')

In [39]:
print('What pct of all cities had sig increase in days/yr > WBGT 30 C ?')
print(len(city_totdays)/len(GHS))
print(len(city_totdays))

What pct of all cities had sig increase in days/yr > WBGT 30 C ?
0.39101636848115723
5136

In [40]:
print('What pct of all cities >1 day / yr in days/yr > WBGT 30 C ?')
print(len(city_totdays[city_totdays['coef_totDays'] >= 1])/len(GHS))
print(len(city_totdays[city_totdays['coef_totDays'] >= 1]))

What pct of all cities >1 day / yr in days/yr > WBGT 30 C ?
0.1714503235629996
2252

In [41]:
## How many cities day increase per year ... 1, 3
top = len(city_totdays)
bottom = len(city_totdays[city_totdays['coef_totDays'] >= 2])

In [42]:
print(top)
print(bottom)

5136
24

In [43]:
## What are some big cities (>1m people)?
hot1m = city_totdays[(city_totdays['coef_totDays'] >= 1.5) & (city_totdays['P2016'] >= 10**6)][['coef_totDays', 'UC_NM_MN', 'P2016']].sort_values('coef_totDays')

In [44]:
len(hot1m)

21

In [45]:
hot1m

      coef_totDays                         UC_NM_MN         P2016
5603      1.519328                     Khulna [BGD]  1.255282e+06
3690      1.522995                     Hardoi [IND]  1.185764e+06
2099      1.524675                    Baghdad [IRQ]  5.367305e+06
4706      1.534912                Muzaffarpur [IND]  1.435602e+06
2059      1.548358             Makkah (Mecca) [SAU]  1.312911e+06
1567      1.568678  N'Djamena [TCD]; Kousseri [CMR]  1.775332e+06
4707      1.602139                      Patna [IND]  2.771973e+06
2314      1.612987                  Ad-Dammam [SAU]  1.564432e+06
5469      1.633461                      Bogra [BGD]  1.284400e+06
2132      1.659587                      Najaf [IRQ]  1.012533e+06
2265      1.682353                      Ahvaz [IRN]  1.232269e+06
5170      1.691367                    Asansol [IND]  3.167486e+06
5522      1.708480                  Sirajganj [BGD]  1.771424e+06
5400      1.712911                     Tamluk [IND]  1.540714e+06
267       1.734759                  Maracaibo [VEN]  2.141737e+06
2261      1.749121    Al Kuwayt (Kuwait City) [KWT]  3.168016e+06
5434      1.762108         Kolkata (Calcutta) [IND]  2.162029e+07
2147      1.798319                  Diwaniyah [IRQ]  1.017085e+06
2245      1.822918          Al-Basrah (Basra) [IRQ]  1.484284e+06
5371      1.870741                 Baharampur [IND]  1.131547e+06
606       1.950802                      Touba [SEN]  1.002133e+06

In [ ]:
2.162029e+07 / 10**6

#### Dehli & Kolkata

In [46]:
# Delhi 6955 & Kolkata 9691
K = city_coefs[city_coefs['ID_HDC_G0']== 9691]
D = city_coefs[city_coefs['ID_HDC_G0']== 6955]

In [47]:
print('Share of heat Kolkata', K.coef_heat / K.coef_pdays * 100)

Share of heat Kolkata 5434    52.306758
dtype: float64

In [48]:
print('Share of heat Delhi', D.coef_heat / D.coef_pdays * 100)

Share of heat Delhi 3058    25.869643
dtype: float64

#### Populations of specific cities

In [ ]:
pop = pd.read_csv(DATA_IN+'interim/GHS-UCDB-Interp.csv')

In [ ]:
# 9691, Kolkata 1998
# 2046, Paris 2003
# 4417, Aleppo 2010

In [ ]:
ans = pop[pop['ID_HDC_G0'] == 9691]['P2015'] / 10**3
print('Pop of Kolkata in 1998', ans)

## WBGT 32 vs 28

In [126]:
wbgt32 = pd.read_json('/home/CHIRTS/UEH-daily/stats/wbgtmax32_TREND_PDAYS05.json', orient = 'split')
wbgt30 = pd.read_json('/home/CHIRTS/UEH-daily/stats/wbgtmax30_TREND_PDAYS05.json', orient = 'split')
wbgt28 = pd.read_json('/home/CHIRTS/UEH-daily/stats/wbgtmax28_TREND_PDAYS05.json', orient = 'split')

In [127]:
print('how many cities wbgt 32?', len(wbgt32))
print('how many cities wbgt 32?', len(wbgt30))
print('how many cities wbgt 28?', len(wbgt28))
print('no trend', len(meta_data) - len(wbgt28))
print('dif is', 8510 - 6022)

how many cities wbgt 32? 2979
how many cities wbgt 32? 5985
how many cities wbgt 28? 7628
no trend 5507
dif is 2488

# Regional Trends

In [ ]:
#### Annual Rates

scale = 10**6
geog = 'sub-region'

for label in np.unique(HI_STATS[geog]):
    label = label
    data = HI_STATS[HI_STATS[geog] == label]
    
    #### Rate of change
    coef, r2, p = lm_func(data, 'people_days')
    print('annual increase in people days '+label, 'was', coef/scale, ' p=', p)
    coef1, r21, p1 = lm_func(data, 'people_days_heat')
    print('annual increase in people days heat '+label, 'was', coef1/scale, ' p=', p)
    coef2, r22, p2 = lm_func(data, 'people_days_pop')
    print('annual increase in people days pop '+label, 'was', coef2/scale, ' p=', p)
    print('attrib heat '+label, 'was', coef1 / coef *100, ' p=', p, '\n')

In [ ]:
#### Trends for Africa, N & SS
geog = 'region'
location = 'Africa'
data = HI_STATS[HI_STATS[geog] == location]
print(location)

#### Total Change in people Days
data = data.groupby('year')['people_days'].sum()
year = str(data.index[33])
value = str(data.values[33]/10**9)
print('person days in 2016 was '+value+' billion')

year = str(data.index[0])
value = str(data.values[0]/10**9)
print('person days in 1983 was '+value+' billion')

#### Pct Change in Poeple Days 1983 - 2016
pdays16 = data.iloc[len(data) -1]
pdays83 = data.iloc[0]
out = (data.iloc[len(data) -1] - data.iloc[0]) / data.iloc[0] * 100
print('pct increase in people days 83 - 16 is ', out)

In [ ]:
#### S Asia as pct of total  global = 5.245146271 B 

print('pct of total pdays from S Asia is ', 1899.70765 / 10**3 / 5.245146271 * 100)

In [ ]:
#### Median Slope
region = 'Europe'
col = 'coef_heat'
geog = 'region'
scale = 10**3
result = city_coefs[city_coefs[geog]== region][col].median()
print(region, col, 'is ', result/scale)

# Heat Waves

- 9691 Kolkata 1998
- 2046 Paris 2003
- 4417, Aleppo 2010

In [49]:
def make_data(dir_in, geog, location):
    """Function makes data to plot daily city-level HI Max and average
    Args:
        dir_in = directory to get data
        geog = column for geography, city-level = 'ID_HDC_G0'
        location = usually a city id
    """
    
    fn_list = sorted(glob.glob(dir_in+'*.csv')) # get data
    df_out = pd.DataFrame() # to write dataframe
    
     # get leap year cols from 2016
    hi16 = pd.read_csv(fn_list[33]) 
    cols = list(hi16.iloc[:,9:].columns)
    cols = [year[5:] for year in cols] # cols for data frame
    
    temp_list = [] # empty list for temps
    
    # loop through dir and get data
    for i, fn in enumerate(fn_list):
        df = pd.read_csv(fn) # open data frame
        year_label = [(df.columns[9]).split('.')[0]] # get year
        row = df[df[geog] == location]
        temp = row.iloc[:,9:] # get only temp columns
        
        # add in col for leap years
        if temp.shape[1] == 365:
            temp.insert(loc = 59, column = year_label[0]+'.02.29', value = np.nan, allow_duplicates=False)

        # Set Index & Columns
        temp.index = year_label
        temp.columns = cols # revalue to m.d
    
        # add to list
        temp_list.append(temp)
    
    df_out = pd.concat(temp_list) # make one big dataframe
    
    return df_out

def plot_data(df, year, start, end):#, start, end):
    """ Make the data for a plot
    Args: 
        df = df w/ daily HI max for a given city
        year = year you want to plot against average
        start = start of plot in julian days (e.g 1 - 365/366)
        end = end of plot in julian days
    """

    # Deal with leap year
    if year % 4 !=0:
        df.drop(columns ='02.29', inplace = True)
    
    # Subset data
    start = start - 1 # zero indexing 
    subset = df.iloc[:,start:end]
    
    # HI Max for year
    hi_year = subset.loc[str(year)]
    
    # make 34-avg daily hi and std
    means = subset.mean(axis = 0)
    stds = subset.std(axis = 0)
    
    # make colums to date time
    cols = pd.to_datetime([str(year)+'.'+date for date in hi_year.index])
    
    return hi_year, means, cols, stds

In [50]:
# Find Heat Wave From All DATA
def select_city_year(df, city_id, year):
    "Quick search to find city and years within HI_STATS"
    df_out = df[(df['ID_HDC_G0'] == city_id) & (df['year'] == year)]
    
    return df_out

In [72]:
# open heat events data
events_fn = os.path.join('/home/CHIRTS/UEH-daily/stats/','himax406_STATS.json')
events = pd.read_json(events_fn, orient = 'split')

In [73]:
# [4417, 'Aleppo', 2010]  [9691, 'Kolkata', 1998] 
city = select_city_year(events, 4417, 2010)
city

,ID_HDC_G0,year,duration,avg_temp,avg_intensity,tot_intensity,event_dates,intensity,tmax,UID
98,4417,2010,8,43.880742,3.280742,26.245933,"[2010.07.29, 2010.07.30, 2010.07.31, 2010.08.0...","[0.259825, 3.74098, 6.741, 4.10323, 3.29362, 2...","[40.859825, 44.34098, 47.341, 44.70323, 43.893...",UID-984386
99,4417,2010,7,43.248183,2.648183,18.537278,"[2010.08.10, 2010.08.11, 2010.08.12, 2010.08.1...","[0.5230600000000001, 2.408305, 2.615866, 4.168...","[41.12306, 43.008305, 43.215866, 44.768524, 45...",UID-984387
100,4417,2010,3,42.813595,2.213595,6.640785,"[2010.08.19, 2010.08.20, 2010.08.21]","[2.120367, 2.33311, 2.187308]","[42.720367, 42.93311, 42.787308]",UID-984388

In [96]:
# Select event and compare to long term means
# Kolkata 1998 UID-3010504, Aleppo 2010 UID-984387 and UID-984386
event_id = 'UID-984386'
event = city[city['UID'] == event_id]
tmax = list(event['tmax'])[0]
dates = list(event['event_dates'])[0]

In [97]:
# Look at event tmax 
max(tmax)

47.341

In [98]:
# Look at event dates 
len(dates)

8

In [99]:
#### Heat Index Data
data = 'himax'
data_label = '$WBGT_{max}$ '
DATA_IN = os.path.join('/home/CHIRTS/UEH-daily/','GHS-'+data+'/') # output from avg wbgt/hi max
FIG_OUT = '/home/cascade/projects/UrbanHeat/figures/'
DS = u"\N{DEGREE SIGN}"
t = 40.6 # wbgt (30) or hi (46.1) threshold

In [111]:
# Get long term means
# Args
#[4417, 'Aleppo'] 2010 [2046, 'Paris'] 2003 [9691, 'Kolkata'] 1998 ['6955, Dehli']

# Args
city_list = [4417, 'Aleppo']
year = 2010

# April 1 to Sep 30 (Use Julian Days), or 1 - 182 lagos
start = 91 
end = 273

# Make Data 
df = make_data(DATA_IN, 'ID_HDC_G0', city_list[0])
years, means, cols, stds = plot_data(df, year, start, end)

In [112]:
# what is the rank of HImax in the entire record?
sorted(df.to_numpy().flatten(), reverse = True)

[47.85866,
 47.341,
 47.222214,
 46.940273,
 46.791942999999996,
 46.568493,
 46.32212,
 46.1024,
 46.08296,
 45.971977,
 45.628246000000004,
 45.541016,
 45.514904,
 45.25997,
 45.241493,
 45.222027000000004,
 45.170605,
 45.103415999999996,
 44.85517,
 44.846848,
 44.83897,
 44.768524,
 44.70892,
 44.70323,
 44.667343,
 44.613037,
 44.59199,
 44.587105,
 44.505604,
 44.47729,
 44.474472,
 44.42072,
 44.368584000000006,
 44.34098,
 44.33639,
 44.325542,
 44.29978,
 44.281143,
 44.264297,
 44.217857,
 44.15063,
 44.143433,
 44.014526000000004,
 44.002525,
 43.979034000000006,
 43.92775,
 43.923206,
 43.89362,
 43.87218,
 43.851757,
 43.83255,
 43.79735,
 43.77262,
 43.769585,
 43.75018,
 43.747295,
 43.697174,
 43.694897,
 43.671425,
 43.66039,
 43.64654,
 43.63062,
 43.442122999999995,
 43.423527,
 43.42151,
 43.4075,
 43.402786,
 43.374565000000004,
 43.345303,
 43.33489,
 43.32069,
 43.320118,
 43.317935999999996,
 43.299335,
 43.293686,
 43.290577,
 43.262640000000005,
 43.215866,
 43.168217,
 43.14105,
 43.138744,
 43.13462,
 43.117798,
 43.10999,
 43.07058,
 43.07038,
 43.06873,
 43.064693,
 43.052017,
 43.050270000000005,
 43.05012,
 43.023582,
 43.008305,
 42.996162,
 42.980328,
 42.96301,
 42.955963,
 42.9429,
 42.93311,
 42.919117,
 42.91008,
 42.87223,
 42.866524,
 42.856895,
 42.855663,
 42.848446,
 42.842471999999994,
 42.828568,
 42.81977,
 42.80908,
 42.787308,
 42.7789,
 42.770508,
 42.769596,
 42.76398,
 42.748657,
 42.732975,
 42.73,
 42.72573,
 42.720366999999996,
 42.6954,
 42.687668,
 42.68023,
 42.664745,
 42.664112,
 42.658671999999996,
 42.651573,
 42.621254,
 42.6193,
 42.606937,
 42.58788,
 42.558178000000005,
 42.55754,
 42.55345,
 42.529064,
 42.50797,
 42.49684,
 42.49142,
 42.48381,
 42.472378000000006,
 42.46382,
 42.43475,
 42.4295,
 42.427177,
 42.416553,
 42.407425,
 42.402786,
 42.398052,
 42.391273,
 42.38834,
 42.37099,
 42.350475,
 42.34882,
 42.337887,
 42.33283,
 42.328182,
 42.298286,
 42.295387,
 42.278458,
 42.276226,
 42.229923,
 42.21132,
 42.195747,
 42.19491,
 42.1931,
 42.192240000000005,
 42.17601,
 42.170044,
 42.16487,
 42.15494,
 42.15147,
 42.150665000000004,
 42.144634,
 42.127254,
 42.11531,
 42.109066,
 42.10768,
 42.088444,
 42.083424,
 42.07717,
 42.06595,
 42.06353,
 42.056286,
 42.047657,
 42.047035,
 42.03626,
 42.03348,
 42.03008,
 42.028003999999996,
 42.021255,
 41.99982,
 41.999107,
 41.996845,
 41.993159999999996,
 41.986954,
 41.984004999999996,
 41.97687,
 41.967518,
 41.950882,
 41.942627,
 41.933475,
 41.90894,
 41.87039,
 41.825665,
 41.822926,
 41.822598,
 41.820347,
 41.81606,
 41.809742,
 41.80749,
 41.803154,
 41.791805,
 41.787228000000006,
 41.783446999999995,
 41.781548,
 41.773315000000004,
 41.752983,
 41.741825,
 41.73113,
 41.72956,
 41.72443,
 41.720837,
 41.70689,
 41.70661,
 41.696487,
 41.695396,
 41.692436,
 41.682587,
 41.678856,
 41.676056,
 41.675434,
 41.675114,
 41.674313,
 41.669445,
 41.660779999999995,
 41.652657,
 41.643433,
 41.63932,
 41.635128,
 41.634956,
 41.622555,
 41.606390000000005,
 41.588146,
 41.584076,
 41.569546,
 41.566837,
 41.5618,
 41.560097,
 41.548428,
 41.546288,
 41.54373,
 41.539134999999995,
 41.537285,
 41.534622,
 41.53353,
 41.525653999999996,
 41.525166,
 41.52235,
 41.521297,
 41.51706,
 41.513077,
 41.509987,
 41.504540000000006,
 41.50292,
 41.499317,
 41.498034999999994,
 41.481712,
 41.475429999999996,
 41.460228,
 41.454291999999995,
 41.4536,
 41.451190000000004,
 41.444109999999995,
 41.442886,
 41.434296,
 41.431940000000004,
 41.429559999999995,
 41.416309999999996,
 41.403296999999995,
 41.385265000000004,
 41.385117,
 41.373924,
 41.37303,
 41.370277,
 41.36985,
 41.365604,
 41.36159,
 41.355422999999995,
 41.345036,
 41.34,
 41.30865,
 41.303238,
 41.29984,
 41.292694,
 41.2786,
 41.272495,
 41.272045,
 41.253975,
 41.235659999999996,
 41.228836,
 41.226420000000005,
 41.225464,
 41.21906,
 41.21754,
 41.214005,
 41.190224,
 41.188843,
 41.18772,
 41.182472,
 41.181366,
 41.178787,
 41.176666,
 41.162620000000004,
 41.16214,
 41.154552,
 41.137904999999996,
 41.132187,
 41.123059999999995,
 41.12278,
 41.114063,
 41.09922,
 41.098217,
 41.097725,
 41.086715999999996,
 41.085026,
 41.070465000000006,
 41.063942,
 41.036156,
 41.028636999999996,
 41.025352000000005,
 41.020596000000005,
 41.013740000000006,
 41.00602,
 41.000126,
 40.993233000000004,
 40.992340000000006,
 40.979820000000004,
 40.976807,
 40.97025,
 40.960133,
 40.955771999999996,
 40.954334,
 40.951865999999995,
 40.940643,
 40.93801,
 40.927242,
 40.926117,
 40.904476,
 40.90299,
 40.889427000000005,
 40.87704,
 40.876923,
 40.876909999999995,
 40.875774,
 40.875409999999995,
 40.87211,
 40.867794,
 40.863968,
 40.859825,
 40.843334000000006,
 40.830154,
 40.828808,
 40.822453,
 40.820747,
 40.81651,
 40.80979,
 40.79051,
 40.789146,
 40.787357,
 40.78613,
 40.78456,
 40.781937,
 40.78094,
 40.77987,
 40.77798,
 40.766420000000004,
 40.76201,
 40.759926,
 40.75602,
 40.753838,
 40.752594,
 40.749367,
 40.747425,
 40.745872,
 40.745583,
 40.739742,
 40.712070000000004,
 40.709070000000004,
 40.691456,
 40.68529,
 40.68079,
 40.67284,
 40.666893,
 40.666832,
 40.66068,
 40.65797,
 40.65725,
 40.654633000000004,
 40.64928,
 40.648293,
 40.644465999999994,
 40.642612,
 40.638870000000004,
 40.627163,
 40.619827,
 40.6161,
 40.61226,
 40.60687,
 40.601677,
 40.5989,
 40.59487,
 40.583797,
 40.58358,
 40.58352,
 40.576233,
 40.57515,
 40.5713,
 40.569244,
 40.55818,
 40.557384000000006,
 40.54614,
 40.545563,
 40.531048,
 40.49856,
 40.494934,
 40.49442,
 40.49269,
 40.49001,
 40.479958,
 40.479279999999996,
 40.473766,
 40.471779999999995,
 40.465866,
 40.461242999999996,
 40.45995,
 40.45961,
 40.44835,
 40.442333000000005,
 40.435177,
 40.435154,
 40.426952,
 40.426414,
 40.425156,
 40.40514,
 40.401928000000005,
 40.397945,
 40.378820000000005,
 40.36332,
 40.353016,
 40.352562,
 40.34189,
 40.339909999999996,
 40.33637,
 40.335346,
 40.32917,
 40.32909,
 40.328224,
 40.323708,
 40.315,
 40.313408,
 40.31179,
 40.31126,
 40.308609999999994,
 40.29892,
 40.29875,
 40.296417,
 40.29553,
 40.289814,
 40.2848,
 40.275368,
 40.265514,
 40.265438,
 40.25875,
 40.25427,
 40.242940000000004,
 40.237159999999996,
 40.233658,
 40.221996000000004,
 40.22011,
 40.21748,
 40.210125,
 40.20762,
 40.202427,
 40.201859999999996,
 40.198704,
 40.195071999999996,
 40.18772,
 40.181872999999996,
 40.180355,
 40.17772,
 40.17541,
 40.159107,
 40.14467,
 40.141155,
 40.12648,
 40.125972999999995,
 40.105743,
 40.103943,
 40.10072,
 40.092909999999996,
 40.082446999999995,
 40.082347999999996,
 40.080090000000006,
 40.058479999999996,
 40.05792,
 40.051052,
 40.04891,
 40.045,
 40.03613,
 40.031498,
 40.030357,
 40.02812,
 40.024628,
 40.022495,
 40.021941999999996,
 40.01934,
 40.013424,
 40.00806,
 40.003029999999995,
 40.00085,
 39.998302,
 39.98023,
 39.977932,
 39.969809999999995,
 39.966125,
 39.959633000000004,
 39.956215,
 39.95489,
 39.953236,
 39.947646999999996,
 39.946265999999994,
 39.942398,
 39.933258,
 39.931020000000004,
 39.927929999999996,
 39.923893,
 39.919715999999994,
 39.90889,
 39.90781,
 39.907016999999996,
 39.897606,
 39.89159,
 39.88397,
 39.87529,
 39.874542,
 39.873615,
 39.869479999999996,
 39.867233,
 39.864605,
 39.85849,
 39.847275,
 39.837036,
 39.836002,
 39.82819,
 39.820812,
 39.819379999999995,
 39.81739,
 39.815647,
 39.814816,
 39.810340000000004,
 39.80831,
 39.806843,
 39.805862,
 39.793040000000005,
 39.79016,
 39.787209999999995,
 39.7848,
 39.782692,
 39.770763,
 39.769622999999996,
 39.769047,
 39.766613,
 39.764595,
 39.760345,
 39.758316,
 39.749725,
 39.746532,
 39.744564000000004,
 39.741209999999995,
 39.735671999999994,
 39.731377,
 39.72484,
 39.718845,
 39.708453999999996,
 39.706093,
 39.705585,
 39.705196,
 39.70003,
 39.696606,
 39.689816,
 39.689353999999994,
 39.68507,
 39.682144,
 39.678191999999996,
 39.674164000000005,
 39.67308,
 39.672066,
 39.666965000000005,
 39.662279999999996,
 39.661359999999995,
 39.661133,
 39.658802,
 39.658157,
 39.657059999999994,
 39.654957,
 39.65007,
 39.648109999999996,
 39.646538,
 39.64427,
 39.639313,
 39.6386,
 39.62005,
 39.618153,
 39.613409999999995,
 39.606018,
 39.60103,
 39.59718,
 39.594367999999996,
 39.593117,
 39.59132,
 39.581688,
 39.579544,
 39.57703,
 39.57365,
 39.572575,
 39.5691,
 39.56633,
 39.565502,
 39.562244,
 39.56055,
 39.55754,
 39.554077,
 39.5461,
 39.54326,
 39.542927,
 39.539845,
 39.53692,
 39.534683,
 39.53412,
 39.533558,
 39.531998,
 39.531162,
 39.52994,
 39.525036,
 39.513546000000005,
 39.507156,
 39.503563,
 39.501034000000004,
 39.498913,
 39.496437,
 39.492527,
 39.490658,
 39.484253,
 39.484116,
 39.482445,
 39.46867,
 39.46611,
 39.466034,
 39.46434,
 39.46184,
 39.4617,
 39.460167,
 39.457256,
 39.456127,
 39.455753,
 39.454166,
 39.44603,
 39.44372,
 39.438675,
 39.4385,
 39.438072,
 39.43694,
 39.435562,
 39.430572999999995,
 39.430035,
 39.429984999999995,
 39.425940000000004,
 39.425391999999995,
 39.422134,
 39.418976,
 39.416004,
 39.415615,
 39.41233,
 39.40863,
 39.407196,
 39.40664,
 39.40526,
 39.40398,
 39.403744,
 39.403114,
 39.39699,
 39.392016999999996,
 39.391937,
 39.391396,
 39.391259999999996,
 39.391216,
 39.38843,
 39.386143,
 39.377544,
 39.37189,
 39.370968,
 39.367287,
 39.36372,
 39.362829999999995,
 39.35272,
 39.349945,
 39.349754,
 39.345146,
 39.338722,
 39.337734000000005,
 39.336605,
 39.33392,
 39.333813,
 39.328765999999995,
 39.318626,
 39.318054,
 39.29509,
 39.293346,
 39.292484,
 39.29182,
 39.288593,
 39.28761,
 39.28747,
 39.28586,
 39.283348,
 39.28074,
 39.279263,
 39.276764,
 39.270720000000004,
 39.26637,
 39.262409999999996,
 39.258774,
 39.25777,
 39.256607,
 39.254498,
 39.254345,
 39.250282,
 39.248470000000005,
 39.24437,
 39.243846999999995,
 39.241479999999996,
 39.239883,
 39.23488,
 39.22679,
 39.22609,
 39.22485,
 39.224464000000005,
 39.22141,
 39.212826,
 39.21244,
 39.208725,
 39.207615000000004,
 39.204525,
 39.199577000000005,
 39.194748,
 39.192234,
 39.191544,
 39.189056,
 39.18837,
 39.181129999999996,
 39.17931,
 39.170063,
 39.167095,
 39.165046999999994,
 39.157787,
 39.155986999999996,
 39.154740000000004,
 39.154144,
 39.150692,
 39.141613,
 39.13512,
 39.132954,
 39.131474,
 39.12923,
 39.129096999999994,
 39.128040000000006,
 39.127457,
 39.11862,
 39.111115000000005,
 39.11013,
 39.103577,
 39.10236,
 39.099136,
 39.097965,
 39.097429999999996,
 39.094986,
 39.088375,
 39.08545,
 39.081432,
 39.079322999999995,
 39.078068,
 39.072327,
 39.069813,
 39.056587,
 39.05396,
 39.047188,
 39.045544,
 39.043385,
 39.04123,
 39.03853,
 39.035587,
 39.034473,
 39.03386,
 39.03255,
 39.032333,
 39.031566999999995,
 39.029232,
 39.020973,
 39.0183,
 39.017959999999995,
 39.014590000000005,
 39.009186,
 39.0048,
 38.99835,
 38.997406,
 38.9955,
 38.987716999999996,
 38.98433,
 38.97873,
 38.975215999999996,
 38.970287,
 38.968284999999995,
 38.967087,
 38.96695,
 38.96405,
 38.962540000000004,
 38.95961,
 38.959488,
 38.957783,
 38.95575,
 38.9543,
 38.951427,
 38.950222,
 38.94225,
 38.934925,
 38.934086,
 38.92991,
 38.92756,
 38.924294,
 38.924015000000004,
 38.921479999999995,
 38.916183000000004,
 38.91556,
 38.913353,
 38.911053,
 38.900326,
 38.899853,
 38.894344,
 38.892464000000004,
 38.89075,
 38.887707,
 38.88082,
 38.87863,
 38.870235,
 38.863471999999994,
 38.85995,
 38.857166,
 38.854904,
 38.854733,
 38.848526,
 38.841087,
 38.839706,
 38.837337,
 38.833659999999995,
 38.830124,
 38.821957,
 38.813587,
 38.81312,
 38.8108,
 38.808002,
 38.806305,
 38.803627,
 38.801159999999996,
 38.800835,
 38.79973,
 38.79173,
 38.789635,
 38.785404,
 38.778729999999996,
 38.776540000000004,
 38.775845000000004,
 38.7725,
 38.765846,
 38.76578,
 38.76093,
 38.75258,
 38.748714,
 38.743446,
 38.743023,
 38.741314,
 38.741096,
 38.733105,
 38.730534000000006,
 38.726490000000005,
 38.722590000000004,
 38.717896,
 38.71543,
 38.713867,
 38.70602,
 38.704246999999995,
 38.701237,
 38.700367,
 38.699659999999994,
 38.693756,
 38.692387,
 38.682983,
 38.682970000000005,
 38.678776,
 38.67416,
 38.67044,
 38.668602,
 38.665825,
 38.660305,
 38.658714,
 38.65715,
 38.654697,
 38.65445,
 38.64822,
 38.644333,
 38.642365000000005,
 38.63048,
 38.629444,
 38.62591,
 38.623344,
 38.621918,
 38.621506,
 38.620228000000004,
 38.619209999999995,
 38.608173,
 38.607475,
 38.602337,
 38.60119,
 38.595848,
 38.591568,
 38.59108,
 38.587364,
 38.58077,
 38.580185,
 38.574703,
 38.568386,
 38.56691,
 38.566578,
 38.55791,
 38.556168,
 38.550682,
 38.54497,
 38.540946999999996,
 38.540516,
 38.53549,
 38.53453,
 38.523594,
 38.51552,
 38.515392,
 38.512609999999995,
 38.509907,
 38.502853,
 38.497840000000004,
 38.49698,
 38.49152,
 38.490429999999996,
 38.487965,
 38.48552,
 38.48226,
 38.47209,
 38.472034,
 38.467873,
 38.466766,
 38.466384999999995,
 38.46536,
 38.460487,
 38.45557,
 38.455006,
 38.45473,
 38.452587,
 38.450127,
 38.449802000000005,
 38.443226,
 38.439674,
 38.43551,
 38.434902,
 38.43455,
 38.42848,
 38.41956,
 38.418853999999996,
 38.417202,
 38.414677000000005,
 38.40866,
 38.408417,
 38.40724,
 38.40627,
 38.40507,
 38.402893,
 38.39918,
 38.39868,
 38.397690000000004,
 38.3944,
 38.390934,
 38.385870000000004,
 38.384483,
 38.383590000000005,
 ...]

In [113]:
cols

DatetimeIndex(['2010-04-01', '2010-04-02', '2010-04-03', '2010-04-04',
               '2010-04-05', '2010-04-06', '2010-04-07', '2010-04-08',
               '2010-04-09', '2010-04-10',
               ...
               '2010-09-21', '2010-09-22', '2010-09-23', '2010-09-24',
               '2010-09-25', '2010-09-26', '2010-09-27', '2010-09-28',
               '2010-09-29', '2010-09-30'],
              dtype='datetime64[ns]', length=183, freq=None)

In [115]:
# make a df
df = pd.DataFrame()
df['dates'] = cols
df['max']  = years.to_list()
df['avg'] = means.to_list()
df['dif'] = df['max'] - df['avg']

In [116]:
df

         dates        max        avg       dif
0   2010-04-01  20.215925  20.563679 -0.347754
1   2010-04-02  22.929924  19.757880  3.172044
2   2010-04-03  24.583519  20.418434  4.165085
3   2010-04-04  24.481691  20.370751  4.110940
4   2010-04-05  24.756367  21.742270  3.014097
..         ...        ...        ...       ...
178 2010-09-26  32.261818  31.668643  0.593175
179 2010-09-27  34.404118  31.765412  2.638706
180 2010-09-28  32.986008  31.068096  1.917912
181 2010-09-29  34.463043  30.896235  3.566808
182 2010-09-30  36.052986  31.073029  4.979957

[183 rows x 4 columns]

In [117]:
type(df['dates'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [118]:
type(dates[0][0])

str

In [119]:
# start and end of heat wave
start = dates[0]
end = dates[-1]

In [120]:
out = df[(df['dates'] >= start) & (df['dates'] <= end)]

In [121]:
# peak heat wave
out.max()

dates    2010-08-05 00:00:00
max                   47.341
avg                  39.0942
dif                  9.05519
dtype: object

In [122]:
out[out['dif'] == out['dif'].max()]

         dates     max        avg       dif
121 2010-07-31  47.341  38.285811  9.055189

In [123]:
for dif in df['dif']:
    print(dif)

-0.34775358823529245
3.172043558823532
4.16508519117647
4.110940441176474
3.01409739705883
3.3695781176470554
-4.224510617647063
-5.494344808823531
-4.092693735294116
-2.8453546470588194
-4.516992970588234
-5.440255602941171
-3.036116117647058
-1.8543154411764675
1.8551093529411702
4.783531470588237
4.89916485294118
4.342953705882351
5.141150676470584
6.204444235294119
-0.8078437941176446
-1.9966462647058805
0.41618079411763986
2.1942171176470637
3.357165764705883
3.3922050882352934
1.2685657352941284
-6.6604488823529415
-3.689127411764705
-3.7089661764705824
-4.222438823529412
-2.069204882352942
0.5544949705882338
0.856665794117653
2.015017823529412
2.8824497647058784
3.594688411764711
2.9946388529411756
2.13490861764706
6.921765558823534
5.631298764705885
5.224262058823534
5.401429000000011
4.839913705882353
4.833134794117651
5.279025735294123
-0.43794702941175956
-1.9739935588235262
-4.875830000000004
-4.318485617647056
-2.7392007352941157
0.09009938235294257
-6.831568382352938
-4.980542764705881
-1.8896580882352971
0.6892459999999971
2.3307872352941175
1.1810547941176388
0.5964017941176536
3.4467273823529503
4.3951187647058845
6.8531559705882295
3.0977386176470603
1.7015499411764772
2.764469147058822
4.530834852941169
0.10554682352941569
-2.45748323529412
-4.3817544999999996
-2.395448882352934
-3.4023683235294016
-0.593767529411771
4.146397794117647
6.17484920588236
0.6722822647058848
-1.3508309705882482
2.9266651176470546
3.223221058823519
3.083763676470589
1.9597635294117666
1.318494441176476
2.8628126764705897
3.4021892352941094
-5.177993764705892
-7.490033088235293
-5.374873558823527
-7.172686529411759
-5.392649617647059
-4.945837294117641
-3.3561132352941243
-2.1072175588235282
-2.173425352941166
0.4535915000000088
2.301417794117633
3.3790703823529284
2.5145440294117734
1.6572676470588306
-0.22194867647058913
-1.062271294117643
-1.9877852058823535
0.37618899999999655
1.8511991764705797
2.0393552647058826
0.503639382352965
1.3983304705882347
1.4216850882352858
1.8001411176470512
0.21192711764705763
-0.22570988235294465
1.6767878235294091
0.9037468235294028
-0.17845379411764384
1.2320924411764622
-0.01380123529411037
-1.200045205882354
-0.3401048235294226
1.5593601176470742
0.17791111764704937
0.10886779411764991
2.4952067941176495
6.278229558823526
9.05518891176471
5.8295705588235265
5.27827902941177
4.898014529411753
4.751052764705882
4.168429500000002
1.368029823529433
-1.9519496764705835
-2.4309558529411746
-1.7737468235294216
2.4955416470588148
4.558921617647066
4.761118882352939
6.0632843529411815
6.226528823529399
5.85484244117648
2.2076847941176396
1.5910094705882258
1.1854050882352922
4.528443264705878
4.750233058823525
4.3611874117647105
-0.09959202941178091
2.45173388235294
2.1677480882352924
2.4098704999999896
1.6031309411764667
1.5000183529411686
1.8800243823529499
1.380807558823527
1.0335301764705846
0.48548979411764037
-0.23779829411764553
-0.4747897647058892
0.9856059117647078
1.8755508823529397
3.7526641176470648
2.6277529411764675
1.7666928529411763
2.6813792941176473
4.942918029411757
4.428253882352948
3.415243000000004
2.5147387058823583
-2.2021226470588253
-0.7159383529411727
0.8812855294117625
1.1471090882352897
0.7151226176470615
1.92572932352941
3.6502350882352914
3.864250882352941
4.663088000000016
2.2603727058823466
3.4494045294117655
4.18209335294118
0.21849714705882306
0.593175117647057
2.63870605882353
1.9179120882353011
3.5668077941176435
4.979956617647055

In [124]:
df[df['dif'] > 8]

         dates     max        avg       dif
121 2010-07-31  47.341  38.285811  9.055189

In [125]:
len(df)

183

# Phoenix Caclulations
1990-6-26 Phoenix, AZ Weather History. https://www.wunderground.com/history/daily/KPHX/date/1990-6-26. Weather Underground. (June 10, 2021).<br>A. Minkler, At 118 degrees, Thursday heat in Phoenix breaks daily record set in 1934. The Arizona Republic (2020) (June 18, 2021).

In [ ]:
# Functions
def c_to_f(C):
    "Convert HI C to F"
    return 1.8 * C + 32 

def hi_to_wbgt(HI):
    """ Convert HI to WBGT using emprical relationship from Bernard and Iheanacho 2015
    WBGT [â—¦C] = âˆ’0.0034 HI2 + 0.96 HIâˆ’34; for HI [â—¦F]
    """
    
    WBGT = -0.0034*HI**2 + 0.96*HI - 34
    
    return WBGT

In [ ]:
# tmax was 122, rh was 11 using https://www.wpc.ncep.noaa.gov/html/heatindex.shtml
# then HI was 49

# Check out cities

In [ ]:
def select_city_year(df, city_id, year):
    "Quick search to find city and years within HI_STATS"
    df_out = df[(df['ID_HDC_G0'] == city_id) & (df['year'] == year)]
    
    return df_out

In [ ]:
city = select_city_year(ALL_DATA, 4417, 2010)
city

# LA

In [ ]:
from glob import glob 
import os

In [ ]:
dir_list = '/home/cascade/projects/UrbanHeat/data/interim/ERA5_HI/'

In [ ]:
fn = 'GHS-ERA5-HI_2009.csv'
data = pd.read_csv(dir_list+fn)
city = data[data['ID_HDC_G0'] == 14]

In [ ]:
temps_list = []
dates_list = []
for fn in sorted(os.listdir(dir_list)):
    data = pd.read_csv(dir_list+fn)
    city = data[data['ID_HDC_G0'] == 14]
    dates = list(city.iloc[:,3:])
    temps = list(city.iloc[:,3:].values[0])
    dates_list.extend(dates)
    temps_list.extend(temps)

In [ ]:
len(dates_list)

# Africa

In [ ]:
#### Dependencies
import glob
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from matplotlib import rcParams
import matplotlib.dates as mdates

In [ ]:
def make_data(dir_in, geog, location):
    """Function makes data to plot daily city-level HI Max and average
    Args:
        dir_in = directory to get data
        geog = column for geography, city-level = 'ID_HDC_G0'
        location = usually a city id
    """
    
    fn_list = sorted(glob.glob(dir_in+'*.csv')) # get data
    df_out = pd.DataFrame() # to write dataframe
    
     # get leap year cols from 2016
    hi16 = pd.read_csv(fn_list[33]) 
    cols = list(hi16.iloc[:,3:].columns)
    cols = [year[5:] for year in cols] # cols for data frame
    
    temp_list = [] # empty list for temps
    
    # loop through dir and get data
    for i, fn in enumerate(fn_list):
        df = pd.read_csv(fn) # open data frame
        year_label = [(df.columns[3]).split('.')[0]] # get year
        row = df[df[geog] == location]
        temp = row.iloc[:,3:] # get only temp columns
        
        # add in col for leap years
        if temp.shape[1] == 365:
            temp.insert(loc = 59, column = year_label[0]+'.02.29', value = np.nan, allow_duplicates=False)

        # Set Index & Columns
        temp.index = year_label
        temp.columns = cols # revalue to m.d
    
        # add to list
        temp_list.append(temp)
    
    df_out = pd.concat(temp_list) # make one big dataframe
    
    return df_out

In [ ]:
def plot_data(df, year, start, end):#, start, end):
    """ Make the data for a plot
    Args: 
        df = df w/ daily HI max for a given city
        year = year you want to plot against average
        start = start of plot in julian days (e.g 1 - 365/366)
        end = end of plot in julian days
    """

    # Deal with leap year
    if year % 4 !=0:
        df.drop(columns ='02.29', inplace = True)
    
    # Subset data
    start = start - 1 # zero indexing 
    subset = df.iloc[:,start:end]
    
    # HI Max for year
    hi_year = subset.loc[str(year)]
    
    # make 34-avg daily hi
    means = subset.mean(axis = 0)
    
    # make colums to date time
    cols = pd.to_datetime([str(year)+'.'+date for date in hi_year.index])
    
    return hi_year, means, cols

In [ ]:
# Args
#[3342, 'Cairo'] #[1910, 'Accra'] 3268, Cape Town
#[4417, 'Aleppo'] 2010 [2046, 'Paris'] 2003 [9691, 'Kolkata'] 1998 ['6955, Dehli']

# Args
city_list = [9691, 'Kolkata'] 
year = 1998
font_size = 10


# April 1 to Sep 30 (Use Julian Days), or 1 - 182 lagos
start = 91 
end = 273

# Labels
hi_label = str(year)+' '+data
labels =  ['avg. '+data, hi_label, str(t)+''+DS+'C']  # <<<<<------------ Be sure to update! 

# Make Data 
df = make_data(DATA_IN, 'ID_HDC_G0', city_list[0])
years, means, cols = plot_data(df, year, start, end)

# Trend First vs. Second Half of Data

In [ ]:
data.head()

In [ ]:
#### Share of exposure due to heat by 17 year split

## 1983 - 1999
data1 = HI_STATS[(HI_STATS['year'] >= 1983) & (HI_STATS['year'] < 2000)]
coef1pop , r21pop, p1pop  = lm_func(data1 , 'people_days_pop')
coef1heat , r21heat, p1heat = lm_func(data1 , 'people_days_heat')

years = list(np.unique(data1['year']))
plt.plot(years, data1.groupby('year')['people_days_heat'].sum())
sns.regplot(years, data1.groupby('year')['people_days_heat'].sum(), 
            color = 'blue', scatter = False, truncate = True)

## 2000 - 2016
data2 = HI_STATS[(HI_STATS['year'] >= 2000) & (HI_STATS['year'] <= 2016)]
coef2heat , r22heat, p2heat = lm_func(data2 , 'people_days_heat')
coef2pop , r22pop, p1pop  = lm_func(data2 , 'people_days_pop')

years = list(np.unique(data1['year']))
plt.plot(years, data2.groupby('year')['people_days_heat'].sum())
sns.regplot(years, data2.groupby('year')['people_days_heat'].sum(), 
            color = 'orange', scatter = False, truncate = True)

In [ ]:
## 2000 - 2016
data2pop = HI_STATS[(HI_STATS['year'] >= 1983) & (HI_STATS['year'] < 2000)]
coef2pop , r22pop, p1pop  = lm_func(data2pop , 'people_days_pop')

data2heat = HI_STATS[(HI_STATS['year'] >= 2000) & (HI_STATS['year'] <= 2016)]
coef2heat , r22heat, p2heat = lm_func(data2heat , 'people_days_heat')

In [ ]:
## Estimates
print('From 83 - 99, contribution from heat was', coef1heat/(coef1pop+coef1heat))
print('From 00 - 16, contribution from heat was', coef2heat/(coef2pop+coef2heat))
print('From 83 - 00, heat was', coef1heat/10**9, round(p1heat, 3))
print('From 00 - 16, heat was', coef2heat/10**9)
print('From 83 - 00, pop was', coef1pop/10**9)
print('From 00 - 16, pop was', coef2pop/10**9)