# MS Calculations

Notebook to crunch numbers for the MS.

by Cascade Tuholske 2020.02.23 

Updated 2020.08.27 - CPT
Was run on ERA5 RH with CHIRTS-Daily Tmax from ERA5

In [53]:
#### Depdencies 
import pandas as pd
import numpy as np
import geopandas as gpd
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns
import glob
import matplotlib.dates as mdates
import os

In [54]:
#### Regressions, no intercept addition is needed because we're using SK LEARN HERE 

def lm_func(df, col):
    
    "simple linear model of a time series data, returns coef"
    
    # Get Data
    X_year = np.array(df.groupby('year')['ID_HDC_G0'].mean().index).reshape((-1, 1))
    Y_stats = np.array(df.groupby('year')[col].sum()).reshape((-1, 1))

    # Add Intercept
    X_year_2 = sm.add_constant(X_year)

    # Regress
    model = sm.OLS(Y_stats, X_year_2).fit() 
        
    coef = int(model.params[1])
    #coef = int(coef)
            
    # R2 and P
    r2 = model.rsquared_adj
    p = model.pvalues[0]
    
    return coef, round(r2, 2), round(p, 3)

In [55]:
#### Load Data
DATA = 'wbgtmax30' # UPDATE 

# file paths
DATA_IN = "/scratch/cascade/UEH-daily/stats/"  
FIG_OUT = "/home/cascade/projects/UrbanHeat/figures/"
FN_IN = os.path.join(DATA_IN,DATA+'_EXP.json')
HI_STATS = pd.read_json(FN_IN, orient = 'split')

# Set scale
scale = 10**9

In [56]:
# Drop cites where 1983 had 1 day and none elsewhere

print(len(HI_STATS))
only83 = HI_STATS.groupby('ID_HDC_G0')['tot_days'].sum() == 1 # sum up total days and find those with 1 day
only83 = list(only83[only83 == True].index) # make a list of IDs
sub = HI_STATS[HI_STATS['ID_HDC_G0'].isin(only83)] # subset those IDs
bad_ids = sub[(sub['year'] == 1983) & (sub['tot_days'] == 1)] # drop those from 1983 only
drop_list = list(bad_ids['ID_HDC_G0']) # make a list
HI_STATS= HI_STATS[~HI_STATS['ID_HDC_G0'].isin(drop_list)] # drop those from the list
print(len(HI_STATS))

303518
303178

In [57]:
#### Add In Meta Data (e.g. geographic data)
meta_fn = os.path.join('/home/cascade/projects/UrbanHeat/data/interim/','GHS-UCDB-IDS.csv')
meta_data = pd.read_csv(meta_fn)

#### Merge in meta
HI_STATS = HI_STATS.merge(meta_data, on = 'ID_HDC_G0', how = 'left')

In [58]:
 HI_STATS

,ID_HDC_G0,year,tot_days,P,P1983,P2016,people_days,people_days_heat,people_days_pop,CTR_MN_NM,UC_NM_MN,GCPNT_LAT,GCPNT_LON,region,sub-region,intermediate-region
0,18,2006,2,622283.428656,494664.495616,661553.577433,1.244567e+06,989328.991233,255237.866079,United States,Concord [USA],37.913946,-122.048318,Americas,Northern America,Northern America
1,22,2006,2,70915.650551,52064.452435,73006.671133,1.418313e+05,104128.904869,37702.396233,United States,Livermore [USA],37.688409,-121.753980,Americas,Northern America,Northern America
2,26,2006,3,247944.032154,194088.886834,268055.635628,7.438321e+05,582266.660503,161565.435959,United States,Antioch [USA],37.985433,-121.797516,Americas,Northern America,Northern America
3,27,2006,2,90805.062622,80540.779940,93335.494324,1.816101e+05,161081.559880,20528.565365,United States,Fairfield [USA],38.264013,-122.030253,Americas,Northern America,Northern America
4,28,1998,1,68062.052369,59320.971209,91449.606255,6.806205e+04,59320.971209,8741.081160,United States,Tracy [USA],37.730079,-121.431413,Americas,Northern America,Northern America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303173,13135,2010,0,NaN,132501.788370,211650.696320,0.000000e+00,0.000000,0.000000,Fiji,Suva [FJI],-18.104802,178.461255,Oceania,Melanesia,Melanesia
303174,13135,2011,0,NaN,132501.788370,211650.696320,0.000000e+00,0.000000,0.000000,Fiji,Suva [FJI],-18.104802,178.461255,Oceania,Melanesia,Melanesia
303175,13135,2012,0,NaN,132501.788370,211650.696320,0.000000e+00,0.000000,0.000000,Fiji,Suva [FJI],-18.104802,178.461255,Oceania,Melanesia,Melanesia
303176,13135,2013,0,NaN,132501.788370,211650.696320,0.000000e+00,0.000000,0.000000,Fiji,Suva [FJI],-18.104802,178.461255,Oceania,Melanesia,Melanesia
303177,13135,2014,0,NaN,132501.788370,211650.696320,0.000000e+00,0.000000,0.000000,Fiji,Suva [FJI],-18.104802,178.461255,Oceania,Melanesia,Melanesia

In [59]:
#### Check to num days per year greatest > 32
check = HI_STATS.sort_values('tot_days', ascending = False)
check[['CTR_MN_NM', 'UC_NM_MN', 'year', 'tot_days']].head(5)

      CTR_MN_NM        UC_NM_MN  year  tot_days
52805   Eritrea  Mits'Iwa [ERI]  2016       255
52791   Eritrea  Mits'Iwa [ERI]  2002       254
52804   Eritrea  Mits'Iwa [ERI]  2015       248
52799   Eritrea  Mits'Iwa [ERI]  2010       244
52792   Eritrea  Mits'Iwa [ERI]  2003       243

# Global Trends

In [60]:
#### Total Change in people Days
data = HI_STATS.groupby('year')['people_days'].sum()
year = str(data.index[33])
value = str(data.values[33]/10**9)
print('person days in 2016 was '+value+' billion')

year = str(data.index[0])
value = str(data.values[0]/10**9)
print('person days in 1983 was '+value+' billion')

#### Pct Change in Poeple Days 1983 - 2016
pdays16 = data.iloc[len(data) -1]
pdays83 = data.iloc[0]
out = (data.iloc[len(data) -1] - data.iloc[0]) / data.iloc[0] * 100
print('pct increase in people days 83 - 16 is ', out)

person days in 2016 was 118.6608238905162 billion
person days in 1983 was 39.691073649233786 billion
pct increase in people days 83 - 16 is  198.960982862722

In [61]:
#### Rate of change
data = HI_STATS
coef, r2, p = lm_func(data, 'people_days')
print('annual increase in people days ', 'was', coef/10**9, ' p=', p)
coef1, r21, p1 = lm_func(data, 'people_days_heat')
print('annual increase in people days heat ', 'was', coef1/10**9, ' p=', p)
coef2, r22, p2 = lm_func(data, 'people_days_pop')
print('annual increase in people days pop ', 'was', coef2/10**9, ' p=', p)
print('attrib heat ', 'was', coef1 / coef *100, ' p=', p, '\n')

annual increase in people days  was 2.108968631  p= 0.0
annual increase in people days heat  was 0.716240045  p= 0.0
annual increase in people days pop  was 1.392728586  p= 0.0
attrib heat  was 33.96162628840922  p= 0.0

In [62]:
#### Pct Pday Annual Increase from Heat
coef_pdays, r2_pdays, p_pdays = lm_func(HI_STATS, 'people_days') # regress pdays
coef_heat, r2_heat, p_heat = lm_func(HI_STATS, 'people_days_heat') # regreas heat

print('warming is what pct of total?', coef_heat/coef_pdays *100)

warming is what pct of total? 33.96162628840922

In [63]:
#### Pct heat vs pop
coef_pop, r2_pdays, p_pdays = lm_func(HI_STATS, 'people_days_pop') # regress pdays
coef_heat, r2_heat, p_heat = lm_func(HI_STATS, 'people_days_heat') # regreas heat

print('pct of heat vs pop', coef_heat/coef_pop *100)

pct of heat vs pop 51.42710878485551

# City-level

#### Largest cities compared to global total

In [64]:
#### Top cities
cities_fn = os.path.join('/scratch/cascade/UEH-daily/ms-tables/wbgtmax30_EXP-TOP50.csv')
cities = pd.read_csv(cities_fn)

In [65]:
top = cities.sort_values('coef_pdays', ascending = False).head(25) # get the top ten cities

In [66]:
# What pct of the global annual increase comes from the top 25 cities?
ans = top['coef_pdays'].sum() / coef # coef comes from rate of change cell
print('Top 25 cities of total annual increase', ans * 100)

Top 25 cities of total annual increase 24.658691183911717

#### Pdays

In [67]:
city_coefs_fn = os.path.join('/scratch/cascade/UEH-daily/stats/wbgtmax30_TREND_PDAYS05.json')
city_coefs = pd.read_json(city_coefs_fn, orient = 'split')
GHS = gpd.read_file('/home/cascade/projects/UrbanHeat/data/raw/GHS_UCDB/GHS_STAT_UCDB2015MT_GLOBE_R2019A_V1_0.shp')

In [68]:
len(city_coefs)

6269

In [69]:
#### Number of cities w/ sig increase in exposure?
print('The pct of cities w/ increases in exposure: ', len(city_coefs)/len(GHS)*100)

The pct of cities w/ increases in exposure:  47.727445755614774

In [70]:
len(city_coefs)

6269

In [71]:
ans = len(city_coefs[(city_coefs['GCPNT_LAT'] < 23.5) & (city_coefs['GCPNT_LAT'] > -23.5)]) / len(city_coefs)
print('what pct of pday cities are low lat?', ans*100)

what pct of pday cities are low lat? 49.91226670920402

In [72]:
print('what pct of global pop are cities with sig pdays?')

what pct of global pop are cities with sig pdays?

In [73]:
def country_search(country, data_set):
    "what pct of cities had a p-day increase?"
    print('Num of Cities in '+country+' ', len(data_set[data_set['CTR_MN_NM'] == country]) / len(GHS[GHS['CTR_MN_NM'] == country]) *100)

In [74]:
data_set = city_coefs

In [75]:
country_search('Senegal', data_set)

Num of Cities in Senegal  100.0

In [76]:
country_search('Nigeria', data_set)

Num of Cities in Nigeria  87.99171842650104

In [77]:
country_search('India', data_set)

Num of Cities in India  88.85467980295566

#### Pct of global population exposured

In [78]:
city_coefs_fn = os.path.join('/scratch/cascade/UEH-daily/stats/wbgtmax30_TREND_PDAYS05.json')
city_coefs = pd.read_json(city_coefs_fn, orient = 'split')

In [79]:
pop_fn = os.path.join('/home/cascade/projects/UrbanHeat/data/interim/','GHS-UCDB-Interp.csv')
pop = pd.read_csv(pop_fn)

p16 = pop[['ID_HDC_G0', 'P2016']]

In [80]:
len(p16)

13135

In [81]:
pdays_pop = pd.merge(city_coefs[['ID_HDC_G0']], p16, on = 'ID_HDC_G0', how = 'inner')

In [82]:
ans = pdays_pop['P2016'].sum() / p16['P2016'].sum() * 100 
print('What is the global urban population in 2016', p16['P2016'].sum() / 10**9)
print('How many people live in cities with increasing exp in 2016', pdays_pop['P2016'].sum() / 10**9)
print('What pct of total urban pop has sig increase exp in 2015', ans)

What is the global urban population in 2016 3.5353262985424414
How many people live in cities with increasing exp in 2016 1.709039189516783
What pct of total urban pop has sig increase exp in 2015 48.34176664884915

In [83]:
# From UN-DESA 2018 estimates for total global pop in 2015
ans =  pdays_pop['P2016'].sum() / 7383009000 * 100
print('What pct of total world pop has sig increase exp in 2016', ans)

What pct of total world pop has sig increase exp in 2016 23.148274497793285

In [84]:
# UN-DESA Urban pop in 2015 was  3 981 498
p16['P2016'].sum()

3535326298.5424414

#### Total Heat Days

In [98]:
city_totdays_fn = os.path.join('/scratch/cascade/UEH-daily/stats/wbgtmax30_TREND_HEATP05.json')
city_totdays = pd.read_json(city_totdays_fn, orient = 'split')

In [99]:
print('What pct of all cities had sig increase in days/yr > WBGT30 C ?')
print(len(city_totdays)/len(GHS))
print(len(city_totdays))

What pct of all cities had sig increase in days/yr > WBGT30 C ?
0.4155310239817282
5458

In [100]:
print('What pct of all cities >1 day / yr in days/yr > WBGT32 C ?')
print(len(city_totdays[city_totdays['coef_totDays'] >= 1])/len(GHS))
print(len(city_totdays[city_totdays['coef_totDays'] >= 1]))

What pct of all cities >1 day / yr in days/yr > WBGT32 C ?
0.17967263037685574
2360

In [ ]:
## How many cities day increase per year ... 1, 3
top = len(city_totdays)
bottom = len(city_totdays[city_totdays['coef_totDays'] >= 2])

In [ ]:
print(top)
print(bottom)

In [ ]:
## What are some big cities (>1m people)?
hot1m = city_totdays[(city_totdays['coef_totDays'] >= 1.5) & (city_totdays['P2016'] >= 10**6)][['coef_totDays', 'UC_NM_MN', 'P2016']].sort_values('coef_totDays')

In [ ]:
len(hot1m)

In [ ]:
hot1m

In [ ]:
2.162029e+07 / 10**6

#### Dehli & Kolkata

In [ ]:
# Delhi 6955 & Kolkata 9691
K = city_coefs[city_coefs['ID_HDC_G0']== 9691]
D = city_coefs[city_coefs['ID_HDC_G0']== 6955]

In [ ]:
print('Share of heat Kolkata', K.coef_heat / K.coef_pdays * 100)

In [ ]:
print('Share of heat Delhi', D.coef_heat / D.coef_pdays * 100)

#### Populations of specific cities

In [ ]:
pop = pd.read_csv(DATA_IN+'interim/GHS-UCDB-Interp.csv')

In [ ]:
# 9691, Kolkata 1998
# 2046, Paris 2003
# 4417, Aleppo 2010

In [ ]:
ans = pop[pop['ID_HDC_G0'] == 9691]['P2015'] / 10**3
print('Pop of Kolkata in 1998', ans)

## WBGT 32 vs 28

In [95]:
wbgt32 = pd.read_json('/scratch/cascade/UEH-daily/stats/wbgtmax32_TREND_PDAYS05.json', orient = 'split')
wbgt30 = pd.read_json('/scratch/cascade/UEH-daily/stats/wbgtmax30_TREND_PDAYS05.json', orient = 'split')
wbgt28 = pd.read_json('/scratch/cascade/UEH-daily/stats/wbgtmax28_TREND_PDAYS05.json', orient = 'split')

In [97]:
print('how many cities wbgt 32?', len(wbgt32))
print('how many cities wbgt 32?', len(wbgt30))
print('how many cities wbgt 28?', len(wbgt28))
print('no trend', len(meta_data) - len(wbgt28))
print('dif is', 8510 - 6022)

how many cities wbgt 32? 3094
how many cities wbgt 32? 6269
how many cities wbgt 28? 7946
no trend 5189
dif is 2488

# Regional Trends

In [ ]:
#### Annual Rates

scale = 10**6
geog = 'sub-region'

for label in np.unique(HI_STATS[geog]):
    label = label
    data = HI_STATS[HI_STATS[geog] == label]
    
    #### Rate of change
    coef, r2, p = lm_func(data, 'people_days')
    print('annual increase in people days '+label, 'was', coef/scale, ' p=', p)
    coef1, r21, p1 = lm_func(data, 'people_days_heat')
    print('annual increase in people days heat '+label, 'was', coef1/scale, ' p=', p)
    coef2, r22, p2 = lm_func(data, 'people_days_pop')
    print('annual increase in people days pop '+label, 'was', coef2/scale, ' p=', p)
    print('attrib heat '+label, 'was', coef1 / coef *100, ' p=', p, '\n')

In [ ]:
#### Trends for Africa, N & SS
geog = 'region'
location = 'Africa'
data = HI_STATS[HI_STATS[geog] == location]
print(location)

#### Total Change in people Days
data = data.groupby('year')['people_days'].sum()
year = str(data.index[33])
value = str(data.values[33]/10**9)
print('person days in 2016 was '+value+' billion')

year = str(data.index[0])
value = str(data.values[0]/10**9)
print('person days in 1983 was '+value+' billion')

#### Pct Change in Poeple Days 1983 - 2016
pdays16 = data.iloc[len(data) -1]
pdays83 = data.iloc[0]
out = (data.iloc[len(data) -1] - data.iloc[0]) / data.iloc[0] * 100
print('pct increase in people days 83 - 16 is ', out)

In [ ]:
#### S Asia as pct of total  global = 5.245146271 B 

print('pct of total pdays from S Asia is ', 1899.70765 / 10**3 / 5.245146271 * 100)

In [ ]:
#### Median Slope
region = 'Europe'
col = 'coef_heat'
geog = 'region'
scale = 10**3
result = city_coefs[city_coefs[geog]== region][col].median()
print(region, col, 'is ', result/scale)

# Heat Waves

- 9691 Kolkata 1998
- 2046 Paris 2003
- 4417, Aleppo 2010

In [2]:
def make_data(dir_in, geog, location):
    """Function makes data to plot daily city-level HI Max and average
    Args:
        dir_in = directory to get data
        geog = column for geography, city-level = 'ID_HDC_G0'
        location = usually a city id
    """
    
    fn_list = sorted(glob.glob(dir_in+'*.csv')) # get data
    df_out = pd.DataFrame() # to write dataframe
    
     # get leap year cols from 2016
    hi16 = pd.read_csv(fn_list[33]) 
    cols = list(hi16.iloc[:,9:].columns)
    cols = [year[5:] for year in cols] # cols for data frame
    
    temp_list = [] # empty list for temps
    
    # loop through dir and get data
    for i, fn in enumerate(fn_list):
        df = pd.read_csv(fn) # open data frame
        year_label = [(df.columns[9]).split('.')[0]] # get year
        row = df[df[geog] == location]
        temp = row.iloc[:,9:] # get only temp columns
        
        # add in col for leap years
        if temp.shape[1] == 365:
            temp.insert(loc = 59, column = year_label[0]+'.02.29', value = np.nan, allow_duplicates=False)

        # Set Index & Columns
        temp.index = year_label
        temp.columns = cols # revalue to m.d
    
        # add to list
        temp_list.append(temp)
    
    df_out = pd.concat(temp_list) # make one big dataframe
    
    return df_out

def plot_data(df, year, start, end):#, start, end):
    """ Make the data for a plot
    Args: 
        df = df w/ daily HI max for a given city
        year = year you want to plot against average
        start = start of plot in julian days (e.g 1 - 365/366)
        end = end of plot in julian days
    """

    # Deal with leap year
    if year % 4 !=0:
        df.drop(columns ='02.29', inplace = True)
    
    # Subset data
    start = start - 1 # zero indexing 
    subset = df.iloc[:,start:end]
    
    # HI Max for year
    hi_year = subset.loc[str(year)]
    
    # make 34-avg daily hi and std
    means = subset.mean(axis = 0)
    stds = subset.std(axis = 0)
    
    # make colums to date time
    cols = pd.to_datetime([str(year)+'.'+date for date in hi_year.index])
    
    return hi_year, means, cols, stds

In [3]:
# Find Heat Wave From All DATA
def select_city_year(df, city_id, year):
    "Quick search to find city and years within HI_STATS"
    df_out = df[(df['ID_HDC_G0'] == city_id) & (df['year'] == year)]
    
    return df_out

In [4]:
# open heat events data
events_fn = os.path.join('/scratch/cascade/UEH-daily/stats/','himax406_STATS.json')
events = pd.read_json(events_fn, orient = 'split')

In [35]:
# [4417, 'Aleppo', 2010]  [9691, 'Kolkata', 1998] 
city = select_city_year(events, 9691, 1998)
city

,ID_HDC_G0,year,duration,avg_temp,avg_intensity,tot_intensity,event_dates,intensity,tmax,UID
369,9691,1998,1,42.934967,2.334967,2.334967,[1998.03.22],[2.334967],[42.934967],UID-3010498
370,9691,1998,10,43.568205,2.968205,29.682055,"[1998.04.06, 1998.04.07, 1998.04.08, 1998.04.0...","[1.183974, 1.842955, 1.922453, 0.125414, 4.671...","[41.783974, 42.442955, 42.522453, 40.725414, 4...",UID-3010499
371,9691,1998,6,44.825648,4.225648,25.353888,"[1998.04.18, 1998.04.19, 1998.04.20, 1998.04.2...","[3.6564300000000003, 5.748175, 4.377676, 6.766...","[44.25643, 46.348175, 44.977676, 47.36685, 44....",UID-3010500
372,9691,1998,8,44.860171,4.260171,34.081366,"[1998.04.25, 1998.04.26, 1998.04.27, 1998.04.2...","[1.03104, 1.941386, 1.84029, 3.833132, 5.41878...","[41.63104, 42.541386, 42.44029, 44.433132, 46....",UID-3010501
373,9691,1998,1,43.116880,2.516880,2.516880,[1998.05.04],[2.51688],[43.11688],UID-3010502
374,9691,1998,5,42.655299,2.055299,10.276495,"[1998.05.06, 1998.05.07, 1998.05.08, 1998.05.0...","[0.014624, 1.948923, 1.734152, 5.525946, 1.05285]","[40.614624, 42.548923, 42.334152, 46.125946, 4...",UID-3010503
375,9691,1998,53,46.928288,6.328288,335.399261,"[1998.05.12, 1998.05.13, 1998.05.14, 1998.05.1...","[3.658385, 5.072863, 5.40717, 6.700617, 1.9240...","[44.258385, 45.672863, 46.00717, 47.300617, 42...",UID-3010504
376,9691,1998,1,42.060640,1.460640,1.460640,[1998.07.08],[1.4606400000000002],[42.06064],UID-3010505
377,9691,1998,2,42.185946,1.585946,3.171891,"[1998.07.10, 1998.07.11]","[2.957545, 0.21434599999999998]","[43.557545, 40.814346]",UID-3010506
378,9691,1998,5,42.240843,1.640843,8.204213,"[1998.07.13, 1998.07.14, 1998.07.15, 1998.07.1...","[1.014307, 2.590765, 2.17667, 1.752463, 0.6700...","[41.614307, 43.190765, 42.77667, 42.352463, 41...",UID-3010507
379,9691,1998,23,43.752926,3.152926,72.517303,"[1998.07.19, 1998.07.20, 1998.07.21, 1998.07.2...","[1.901633, 3.90593, 3.44083, 5.00791, 2.247874...","[42.501633, 44.50593, 44.04083, 45.60791, 42.8...",UID-3010508
380,9691,1998,1,43.661120,3.061120,3.061120,[1998.08.12],[3.06112],[43.66112],UID-3010509
381,9691,1998,1,41.316845,0.716845,0.716845,[1998.08.14],[0.716845],[41.316845],UID-3010510
382,9691,1998,2,42.325227,1.725227,3.450454,"[1998.08.16, 1998.08.17]","[3.222754, 0.2277]","[43.822754, 40.8277]",UID-3010511
383,9691,1998,7,42.690450,2.090450,14.633152,"[1998.08.19, 1998.08.20, 1998.08.21, 1998.08.2...","[2.1485469999999998, 0.255167, 2.79179, 2.7235...","[42.748547, 40.855167, 43.39179, 43.323517, 42...",UID-3010512
384,9691,1998,3,41.864435,1.264435,3.793305,"[1998.08.28, 1998.08.29, 1998.08.30]","[1.444632, 0.16682000000000002, 2.181853]","[42.044632, 40.76682, 42.781853]",UID-3010513
385,9691,1998,5,42.672652,2.072652,10.363261,"[1998.09.01, 1998.09.02, 1998.09.03, 1998.09.0...","[0.406977, 2.244734, 2.33347, 1.524184, 3.8538...","[41.006977, 42.844734, 42.93347, 42.124184, 44...",UID-3010514
386,9691,1998,7,42.921570,2.321570,16.250987,"[1998.09.14, 1998.09.15, 1998.09.16, 1998.09.1...","[0.636797, 3.834616, 3.51793, 1.55153499999999...","[41.236797, 44.434616, 44.11793, 42.151535, 43...",UID-3010515
387,9691,1998,6,45.781710,5.181710,31.090262,"[1998.09.22, 1998.09.23, 1998.09.24, 1998.09.2...","[3.815813, 5.700068, 4.272265, 5.311694, 6.179...","[44.415813, 46.300068, 44.872265, 45.911694, 4...",UID-3010516
388,9691,1998,5,41.294122,0.694122,3.470611,"[1998.09.29, 1998.09.30, 1998.10.01, 1998.10.0...","[0.7912659999999999, 1.226435, 0.6975159999999...","[41.391266, 41.826435, 41.297516, 40.90969, 41...",UID-3010517
389,9691,1998,10,44.231930,3.631930,36.319302,"[1998.10.05, 1998.10.06, 1998.10.07, 1998.10.0...","[1.90521, 3.74887, 3.553687, 5.006968, 5.21144...","[42.50521, 44.34887, 44.153687, 45.606968, 45....",UID-3010518
390,9691,1998,3,41.967676,1.367676,4.103027,"[1998.10.17, 1998.10.18, 1998.10.19]","[0.29665, 1.6792, 2.127177]","[40.89665, 42.2792, 42.727177]",UID-3010519

In [37]:
# Select event and compare to long term means
# Kolkata 1998 UID-3010504, Aleppo 2010 UID-984387 and UID-984386
event_id = 'UID-3010504'
event = city[city['UID'] == event_id]
tmax = list(event['tmax'])[0]
dates = list(event['event_dates'])[0]

In [38]:
# Look at event tmax 
tmax

[44.258385,
 45.672863,
 46.00717,
 47.300617,
 42.52402,
 42.747894,
 40.94503,
 45.23583,
 49.371773,
 53.958176,
 53.112072,
 51.47835,
 48.916313,
 48.40086,
 42.25589,
 43.499332,
 49.97506,
 53.392044,
 53.647552,
 53.467106,
 52.420647,
 51.869835,
 50.09438,
 49.974426,
 50.773907,
 51.098557,
 50.924046,
 54.331165,
 52.15966,
 51.29312,
 46.17026,
 46.86537,
 44.397667,
 43.608288,
 41.59041,
 44.49989,
 47.334194,
 47.493652,
 47.780872,
 48.224854,
 41.623146,
 41.111736,
 43.190582,
 44.582874,
 41.157124,
 44.693645,
 41.130524,
 43.177464,
 44.312164,
 43.226967,
 43.829956,
 42.336132,
 43.75541]

In [39]:
# Look at event dates 
dates

['1998.05.12',
 '1998.05.13',
 '1998.05.14',
 '1998.05.15',
 '1998.05.16',
 '1998.05.17',
 '1998.05.18',
 '1998.05.19',
 '1998.05.20',
 '1998.05.21',
 '1998.05.22',
 '1998.05.23',
 '1998.05.24',
 '1998.05.25',
 '1998.05.26',
 '1998.05.27',
 '1998.05.28',
 '1998.05.29',
 '1998.05.30',
 '1998.05.31',
 '1998.06.01',
 '1998.06.02',
 '1998.06.03',
 '1998.06.04',
 '1998.06.05',
 '1998.06.06',
 '1998.06.07',
 '1998.06.08',
 '1998.06.09',
 '1998.06.10',
 '1998.06.11',
 '1998.06.12',
 '1998.06.13',
 '1998.06.14',
 '1998.06.15',
 '1998.06.16',
 '1998.06.17',
 '1998.06.18',
 '1998.06.19',
 '1998.06.20',
 '1998.06.21',
 '1998.06.22',
 '1998.06.23',
 '1998.06.24',
 '1998.06.25',
 '1998.06.26',
 '1998.06.27',
 '1998.06.28',
 '1998.06.29',
 '1998.06.30',
 '1998.07.01',
 '1998.07.02',
 '1998.07.03']

In [40]:
#### Heat Index Data
data = 'himax'
data_label = '$WBGT_{max}$ '
DATA_IN = os.path.join('/scratch/cascade/UEH-daily/','GHS-'+data+'/') # output from avg wbgt/hi max
FIG_OUT = '/home/cascade/projects/UrbanHeat/figures/'
DS = u"\N{DEGREE SIGN}"
t = 40.6 # wbgt (30) or hi (46.1) threshold

In [41]:
# Get long term means
# Args
#[4417, 'Aleppo'] 2010 [2046, 'Paris'] 2003 [9691, 'Kolkata'] 1998 ['6955, Dehli']

# Args
city_list = [9691, 'Kolkata']
year = 1998

# April 1 to Sep 30 (Use Julian Days), or 1 - 182 lagos
start = 91 
end = 273

# Make Data 
df = make_data(DATA_IN, 'ID_HDC_G0', city_list[0])
years, means, cols, stds = plot_data(df, year, start, end)

In [42]:
# what is the rank of HImax in the entire record?
sorted(df.to_numpy().flatten(), reverse = True)

[55.76492,
 55.540943000000006,
 55.47238,
 55.034977000000005,
 54.444187,
 54.443565,
 54.352623,
 54.342144,
 54.332671999999995,
 54.331165000000006,
 53.958176,
 53.82029300000001,
 53.72861999999999,
 53.708397,
 53.647552000000005,
 53.46710600000001,
 53.39204399999999,
 53.292942000000004,
 53.16766,
 53.160056999999995,
 53.112072,
 53.07143000000001,
 52.902626,
 52.89521800000001,
 52.868988,
 52.852672999999996,
 52.811066000000004,
 52.779109999999996,
 52.77304,
 52.731167000000006,
 52.670704,
 52.662333999999994,
 52.620667000000005,
 52.612743,
 52.584669999999996,
 52.566722999999996,
 52.475216,
 52.428986,
 52.42276,
 52.420646999999995,
 52.38,
 52.344208,
 52.315533,
 52.309875,
 52.292396999999994,
 52.227932,
 52.16578,
 52.162647,
 52.159659999999995,
 52.13902,
 52.129852,
 52.125885,
 52.120678000000005,
 52.108288,
 52.083546000000005,
 52.071636,
 52.06754,
 52.048534000000004,
 52.026196,
 52.024937,
 51.973704999999995,
 51.932045,
 51.890766,
 51.869834999999995,
 51.863678,
 51.8462,
 51.826515,
 51.802048,
 51.760826,
 51.735565,
 51.711535999999995,
 51.700855,
 51.663779999999996,
 51.624023,
 51.62145,
 51.616165,
 51.615615999999996,
 51.613087,
 51.606876,
 51.59551,
 51.586334,
 51.54757,
 51.489,
 51.4865,
 51.47835,
 51.470776,
 51.377266,
 51.354855,
 51.330597,
 51.319122,
 51.3119,
 51.30617,
 51.301624,
 51.29312,
 51.27113,
 51.26458,
 51.226859999999995,
 51.21062,
 51.20973,
 51.185394,
 51.168147999999995,
 51.1539,
 51.112159999999996,
 51.098557,
 51.097557,
 51.089473999999996,
 51.077904,
 51.068207,
 51.053284000000005,
 51.0119,
 50.955246,
 50.93936,
 50.924046000000004,
 50.919792,
 50.89931,
 50.89927,
 50.896229999999996,
 50.87332,
 50.84785,
 50.829376,
 50.81309,
 50.786774,
 50.781307,
 50.773907,
 50.771392999999996,
 50.760822,
 50.753464,
 50.75325,
 50.72126,
 50.709614,
 50.707905,
 50.70745,
 50.70637,
 50.680283,
 50.67100000000001,
 50.656433,
 50.652843,
 50.62362,
 50.598118,
 50.593716,
 50.563404,
 50.559345,
 50.54374,
 50.540844,
 50.531009999999995,
 50.499233000000004,
 50.482384,
 50.452220000000004,
 50.409040000000005,
 50.40887,
 50.40015,
 50.351078,
 50.34547,
 50.320118,
 50.316629999999996,
 50.30935,
 50.304417,
 50.295578000000006,
 50.269196,
 50.267586,
 50.26378,
 50.258602,
 50.233692,
 50.233425,
 50.221484999999994,
 50.220665000000004,
 50.179325,
 50.174296999999996,
 50.156254,
 50.14314,
 50.135506,
 50.119156,
 50.09438,
 50.08487,
 50.073409999999996,
 50.054688,
 50.045887,
 50.038585999999995,
 50.017426,
 50.016659999999995,
 50.014404,
 50.01425,
 50.000859999999996,
 49.998028000000005,
 49.99367,
 49.98151,
 49.97506,
 49.974426,
 49.94035,
 49.90129,
 49.88661,
 49.873726,
 49.868435,
 49.8672,
 49.86659,
 49.859795,
 49.83752,
 49.81646,
 49.810066,
 49.79652,
 49.796085,
 49.792088,
 49.755103999999996,
 49.744823,
 49.74477,
 49.735565,
 49.724236,
 49.718,
 49.710696999999996,
 49.70966,
 49.706715,
 49.70669,
 49.70519,
 49.705090000000006,
 49.69336,
 49.688896,
 49.68639,
 49.684013,
 49.657955,
 49.64987,
 49.643240000000006,
 49.632294,
 49.632059999999996,
 49.6227,
 49.617527,
 49.597454,
 49.57452,
 49.566113,
 49.56436,
 49.546288,
 49.530235,
 49.520252,
 49.5185,
 49.51187,
 49.50578,
 49.49955,
 49.487536999999996,
 49.457924,
 49.45344,
 49.452343,
 49.444775,
 49.430492,
 49.398655,
 49.371773,
 49.36272,
 49.35715,
 49.35203,
 49.343056,
 49.334995,
 49.30073,
 49.292725,
 49.291637,
 49.27532,
 49.273163000000004,
 49.270309999999995,
 49.263992,
 49.257763,
 49.241023999999996,
 49.234272,
 49.227565999999996,
 49.22587,
 49.2234,
 49.219116,
 49.21566,
 49.207813,
 49.201622,
 49.182327,
 49.172153,
 49.171883,
 49.159256,
 49.157753,
 49.153957,
 49.150005,
 49.149242,
 49.14881,
 49.14792,
 49.133472,
 49.131714,
 49.121975,
 49.12088,
 49.10188,
 49.095222,
 49.084095,
 49.081352,
 49.08119,
 49.076145000000004,
 49.06613,
 49.03934,
 49.03226,
 49.012234,
 48.99504,
 48.993137,
 48.98765,
 48.963936,
 48.960945,
 48.95872,
 48.94135,
 48.936802,
 48.929188,
 48.927184999999994,
 48.923159999999996,
 48.92011,
 48.917159999999996,
 48.916313,
 48.908783,
 48.907623,
 48.89656,
 48.888054,
 48.884342,
 48.87738,
 48.87473,
 48.869415000000004,
 48.862353999999996,
 48.861805,
 48.847107,
 48.842163,
 48.83345,
 48.832446999999995,
 48.828228,
 48.82137,
 48.817634999999996,
 48.812378,
 48.809174,
 48.798404999999995,
 48.79326,
 48.792908000000004,
 48.791786,
 48.786037,
 48.77874,
 48.774357,
 48.76433,
 48.737392,
 48.733295,
 48.724616999999995,
 48.722443,
 48.721466,
 48.703053000000004,
 48.702065000000005,
 48.69308,
 48.692840000000004,
 48.689606,
 48.689285,
 48.67954,
 48.678314,
 48.677338,
 48.677054999999996,
 48.654835,
 48.653507,
 48.64568,
 48.644226,
 48.642586,
 48.639786,
 48.63626,
 48.62855,
 48.60603,
 48.603565,
 48.5915,
 48.588078,
 48.587757,
 48.584526000000004,
 48.574659999999994,
 48.5713,
 48.570408,
 48.57011,
 48.555298,
 48.55518,
 48.54813,
 48.544470000000004,
 48.536102,
 48.535843,
 48.535313,
 48.534534,
 48.531665999999994,
 48.523254,
 48.515118,
 48.505795,
 48.479442999999996,
 48.478504,
 48.45901,
 48.449093,
 48.438484,
 48.416453999999995,
 48.413067,
 48.400859999999994,
 48.400806,
 48.396744,
 48.38941,
 48.38933,
 48.387229999999995,
 48.364582,
 48.34685,
 48.34134,
 48.33894,
 48.334236,
 48.3278,
 48.32669,
 48.31323,
 48.31115,
 48.308136,
 48.293209999999995,
 48.292744,
 48.290085,
 48.28835,
 48.279926,
 48.279778,
 48.277626,
 48.242340000000006,
 48.236767,
 48.23384,
 48.23036,
 48.224854,
 48.223209999999995,
 48.216534,
 48.211815,
 48.18764,
 48.18633,
 48.18176,
 48.178356,
 48.177105,
 48.17695,
 48.16892,
 48.166275,
 48.165417,
 48.160354999999996,
 48.15615,
 48.143809999999995,
 48.143593,
 48.130984999999995,
 48.126923,
 48.10717,
 48.09445,
 48.09145,
 48.072414,
 48.072044,
 48.066179999999996,
 48.0654,
 48.0619,
 48.059574,
 48.053883,
 48.04759,
 48.04143,
 48.04137,
 48.031776,
 48.029762,
 48.024677000000004,
 48.021923,
 48.018044,
 48.013474,
 48.008568,
 48.00656,
 47.999893,
 47.998882,
 47.997395000000004,
 47.99541,
 47.994637,
 47.98922,
 47.986317,
 47.980522,
 47.97875,
 47.97517,
 47.972297999999995,
 47.97155,
 47.968006,
 47.959686,
 47.959583,
 47.955456,
 47.95179,
 47.951209999999996,
 47.945724,
 47.94424,
 47.93759,
 47.93715,
 47.93101,
 47.921642,
 47.919129999999996,
 47.913765000000005,
 47.912575,
 47.907112,
 47.90461,
 47.9027,
 47.898999999999994,
 47.8946,
 47.867176,
 47.864371999999996,
 47.854908,
 47.847347,
 47.832764000000005,
 47.830597,
 47.827168,
 47.826809999999995,
 47.81905,
 47.816925,
 47.816765000000004,
 47.812828,
 47.80959,
 47.80122,
 47.8,
 47.780871999999995,
 47.779305,
 47.77653,
 47.766999999999996,
 47.764790000000005,
 47.762015999999996,
 47.74645,
 47.741314,
 47.724133,
 47.72033,
 47.700703000000004,
 47.689083000000004,
 47.68628,
 47.685,
 47.683009999999996,
 47.67528,
 47.673004,
 47.67252,
 47.664764,
 47.655609999999996,
 47.65453,
 47.651398,
 47.647083,
 47.645515,
 47.642720000000004,
 47.63749,
 47.634640000000005,
 47.626835,
 47.624878,
 47.62082,
 47.618988,
 47.604485,
 47.601532,
 47.601017,
 47.595036,
 47.589382,
 47.58003,
 47.57547,
 47.571365,
 47.546646,
 47.539336999999996,
 47.525925,
 47.524464,
 47.51297,
 47.50184,
 47.49779,
 47.493652000000004,
 47.48661,
 47.486496,
 47.480663,
 47.479145,
 47.478176,
 47.472854999999996,
 47.46863,
 47.465523,
 47.460384000000005,
 47.453453,
 47.452873,
 47.435802,
 47.430465999999996,
 47.42222,
 47.40809,
 47.40598,
 47.404076,
 47.397526,
 47.394104,
 47.39208,
 47.390144,
 47.375071999999996,
 47.370247,
 47.369640000000004,
 47.367535,
 47.36685,
 47.36593,
 47.352432,
 47.34147,
 47.334765999999995,
 47.334194000000004,
 47.324065999999995,
 47.323044,
 47.321000000000005,
 47.31863,
 47.3131,
 47.310543,
 47.309334,
 47.30852,
 47.308155,
 47.300616999999995,
 47.29735,
 47.290764,
 47.28628,
 47.28032,
 47.280105999999996,
 47.271965,
 47.265907,
 47.26201,
 47.254433,
 47.25091,
 47.24817,
 47.230667,
 47.229473,
 47.224815,
 47.22205,
 47.217804,
 47.217625,
 47.217064,
 47.216957,
 47.214073,
 47.212418,
 47.20816,
 47.205296000000004,
 47.19993,
 47.191573999999996,
 47.190968,
 47.19068,
 47.188694,
 47.18302,
 47.18168,
 47.178513,
 47.177734,
 47.174479999999996,
 47.165745,
 47.16527,
 47.16511,
 47.16471,
 47.158127,
 47.157790000000006,
 47.1553,
 47.15488,
 47.151714,
 47.14502,
 47.136513,
 47.136044,
 47.135,
 47.131668,
 47.108166,
 47.10802,
 47.107826,
 47.10391,
 47.101288000000004,
 47.09945,
 47.092003000000005,
 47.083259999999996,
 47.07945,
 47.079296,
 47.073437,
 47.07111,
 47.064877,
 47.057827,
 47.056315999999995,
 47.053608000000004,
 47.04968,
 47.04003,
 47.03647,
 47.03468,
 47.03464,
 47.03385,
 47.033390000000004,
 47.026558,
 47.024837,
 47.022865,
 47.022133000000004,
 47.021908,
 47.01703,
 47.01627,
 47.012127,
 46.982433,
 46.977942999999996,
 46.97185,
 46.969463,
 46.96816,
 46.965645,
 46.959118,
 46.956505,
 46.95362,
 46.95175,
 46.949577000000005,
 46.949112,
 46.94663,
 46.94492,
 46.941586,
 46.939896000000005,
 46.938747,
 46.934566,
 46.933890000000005,
 46.925705,
 46.92027,
 46.912684999999996,
 46.909348,
 46.905327,
 46.90213,
 46.901764,
 46.90096,
 46.900135,
 46.89098,
 46.889416,
 46.882090000000005,
 46.878757,
 46.874829999999996,
 46.873974,
 46.86902,
 46.86537,
 46.861732,
 46.86133,
 46.85974,
 46.85666,
 46.8542,
 46.850895,
 46.85038,
 46.848682000000004,
 46.84343,
 46.84323,
 46.84271,
 46.84235,
 46.837685,
 46.83359,
 46.833121999999996,
 46.828793,
 46.82792,
 46.822464000000004,
 46.822272999999996,
 46.808754,
 46.806346999999995,
 46.805145,
 46.80321,
 46.794292,
 46.789608,
 46.788013,
 46.785866,
 46.785587,
 46.782665,
 46.779175,
 46.77693,
 46.77489,
 46.771633,
 46.768986,
 46.768627,
 46.767284000000004,
 46.76383,
 46.760643,
 46.75972,
 46.758305,
 46.757690000000004,
 46.755759999999995,
 46.749546,
 46.74621,
 46.744152,
 46.74374,
 46.74171,
 46.7337,
 46.720734,
 46.718395,
 46.71765,
 46.7069,
 46.706309999999995,
 46.702995,
 46.7009,
 46.694140000000004,
 46.691753000000006,
 46.690777000000004,
 46.690186,
 46.689598,
 46.686367,
 46.679485,
 46.668663,
 46.667084,
 46.6657,
 46.653797,
 46.653687,
 46.647446,
 46.645603,
 46.641865,
 46.641407,
 46.639545,
 46.638268,
 46.636177,
 46.635740000000006,
 46.63472,
 46.631966,
 46.630276,
 46.62789,
 46.622482,
 46.621272999999995,
 46.618362,
 46.617965999999996,
 46.615543,
 46.60855,
 46.607693,
 46.605743,
 46.604614,
 46.602123,
 46.600998,
 46.595366999999996,
 46.592014,
 46.586502,
 46.58556,
 46.58254,
 46.581562,
 46.58015,
 46.579006,
 46.576687,
 46.566917,
 46.566586,
 46.558765,
 46.555023,
 46.554996,
 46.55353,
 46.550979999999996,
 46.550922,
 46.54547,
 46.54455,
 46.54295,
 46.541035,
 46.540455,
 46.539944,
 46.539845,
 46.534718,
 46.528766999999995,
 46.524395,
 46.514540000000004,
 46.51031,
 46.49861,
 46.49633,
 46.480488,
 46.47502,
 46.474823,
 46.4738,
 46.47249,
 46.471146000000005,
 46.469196000000004,
 46.468525,
 46.461535999999995,
 46.458324,
 46.457879999999996,
 46.45366,
 46.450714000000005,
 46.443546000000005,
 46.443443,
 46.44341,
 46.442074,
 46.438038,
 46.43243,
 46.425728,
 46.422806,
 46.42027,
 46.41749,
 46.411274,
 46.411246999999996,
 46.406483,
 46.397976,
 46.39328,
 46.38564,
 46.384098,
 46.380990000000004,
 46.374577,
 46.373047,
 46.372112,
 46.36867,
 46.366486,
 46.36459,
 46.357983000000004,
 46.35082,
 46.349968,
 46.348576,
 46.348175,
 46.341415000000005,
 46.34075,
 46.34059,
 46.33878,
 46.33558,
 46.332256,
 46.323574,
 46.318962,
 46.318847999999996,
 46.316425,
 46.314667,
 46.312584,
 46.30574,
 46.305515,
 46.304127,
 46.303936,
 46.303455,
 46.301037,
 46.300067999999996,
 46.298946,
 46.298798,
 46.291035,
 46.287174,
 46.286896,
 46.28671,
 46.28628,
 46.282543,
 46.280243,
 46.27469,
 46.2695,
 46.267628,
 46.263607,
 46.258945000000004,
 46.257290000000005,
 46.257059999999996,
 46.252390000000005,
 46.25012,
 46.249203,
 46.24158,
 46.238953,
 46.22783,
 46.227318,
 46.22647,
 46.225597,
 46.223209999999995,
 46.221790000000006,
 46.212959999999995,
 46.20582,
 46.203857,
 46.202255,
 46.197272999999996,
 46.19243,
 46.18905,
 46.187798,
 46.184653999999995,
 46.17929,
 46.177937,
 46.172825,
 46.17026,
 46.166579999999996,
 46.166492,
 46.158943,
 46.158703,
 46.15866,
 46.157787,
 46.157257,
 46.156494,
 46.154247,
 46.153717,
 46.148765999999995,
 46.14778,
 46.14379,
 46.14288,
 46.140594,
 46.13094,
 46.12918,
 46.127846000000005,
 46.127309999999994,
 46.126329999999996,
 46.125946,
 46.116558000000005,
 46.115837,
 46.11311,
 46.11278,
 46.1125,
 46.110659999999996,
 46.11037,
 46.10572,
 46.099823,
 46.098118,
 46.084720000000004,
 46.08115,
 46.07848,
 46.073723,
 46.07065,
 46.06386,
 46.063812,
 46.06344,
 46.061558000000005,
 46.061043,
 46.060078000000004,
 46.058537,
 46.054787,
 46.049812,
 46.0466,
 46.04586,
 46.036792999999996,
 46.036159999999995,
 46.031890000000004,
 46.029346000000004,
 46.018784000000004,
 46.018444,
 46.01555,
 46.014164,
 46.013683,
 46.007263,
 46.007195,
 46.00717,
 46.005188000000004,
 46.004215,
 46.003166,
 45.998455,
 45.99573,
 45.99115,
 45.99002,
 45.983709999999995,
 45.982914,
 45.98194,
 45.9811,
 45.980346999999995,
 45.9782,
 45.97755,
 45.976994,
 45.97513,
 45.973009999999995,
 45.972747999999996,
 45.97071,
 45.97041,
 ...]

In [43]:
cols

DatetimeIndex(['1998-04-01', '1998-04-02', '1998-04-03', '1998-04-04',
               '1998-04-05', '1998-04-06', '1998-04-07', '1998-04-08',
               '1998-04-09', '1998-04-10',
               ...
               '1998-09-21', '1998-09-22', '1998-09-23', '1998-09-24',
               '1998-09-25', '1998-09-26', '1998-09-27', '1998-09-28',
               '1998-09-29', '1998-09-30'],
              dtype='datetime64[ns]', length=183, freq=None)

In [44]:
# make a df
df = pd.DataFrame()
df['dates'] = cols
df['max']  = years.to_list()
df['avg'] = means.to_list()
df['dif'] = df['max'] - df['avg']

In [45]:
type(df['dates'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [46]:
type(dates[0][0])

str

In [47]:
# start and end of heat wave
start = dates[0]
end = dates[-1]

In [48]:
out = df[(df['dates'] >= start) & (df['dates'] <= end)]

In [49]:
# peak heat wave
out.max()

dates    1998-07-03 00:00:00
max                  54.3312
avg                  46.8626
dif                  9.01821
dtype: object

In [20]:
out[out['dif'] == out['dif'].max()]

         dates     max        avg       dif
121 2010-07-31  47.341  38.285811  9.055189

In [51]:
for dif in df.dif:
    print(dif)

-8.514848352941186
-7.632409029411768
-5.644966235294113
-3.406062205882357
-1.1614617941176348
0.9526582352941162
0.9823153823529509
0.5851120882353129
-1.471458558823521
2.31912011764706
3.466034558823523
4.373313264705878
-0.20679329411765934
2.978790294117651
-0.9681718235294099
-4.212847823529401
-3.0254702647058735
0.43199894117647375
1.9738507058823416
1.0314872647058806
2.929795352941177
0.9579803235294264
-2.3054202058823563
-5.5697241176470556
-1.7806481470588196
-0.2646762058823455
-0.6511630294117623
1.3561781764705785
3.3569348529411727
4.370823470588235
4.25089208823529
2.7447991470588207
-4.05382838235294
0.2782233529411755
-6.904281352941176
-2.9348011470588133
-0.8604608235294151
-1.2189000882352872
1.4717213823529391
-2.833015617647071
-5.668943441176495
-0.0652439705882486
1.1217894117647162
1.569347794117654
3.399449764705871
-1.2908185000000003
-1.6786421470588095
-3.401395147058828
0.8567205294117599
4.6025100882352845
9.018213352941174
7.08439814705882
6.002842147058836
3.7584700000000097
3.705882941176462
-2.3269698529411684
-0.9278787941176532
4.710240382352936
8.059272647058812
8.127941647058819
7.599272941176459
6.421660529411753
5.007280205882346
4.153610764705888
4.341188617647056
5.504585470588232
5.695572500000004
5.432850852941186
8.851383147058833
7.442168176470567
6.476646264705899
1.3699457058823583
2.0943680588235196
1.0808395294117759
0.19412376470589265
-2.2396345294117666
1.1094176470588124
4.212262411764705
4.7032065000000145
4.540102882352933
5.35187599999999
-0.9356297058823557
-0.7766014411764743
1.4317837058823457
2.9823831764705915
-0.9485327941176465
3.0945539411764855
-0.18770835294117205
1.6710761176470612
2.2717532647059
1.5717498823529326
1.9000246176470625
1.2870799117646925
3.5744356764705714
-2.4132040294117587
-3.79577505882353
-0.46904376470587295
-1.5314805882353113
0.33586870588235485
-1.8370346176470704
1.9145966470588291
-0.6137641764705819
-2.523704441176463
0.07035923529411292
1.9023959705882305
1.5718453529411818
1.1166733235294117
-0.05919626470588213
-2.5094776764705884
1.5821729999999832
4.08119855882353
4.03825097058823
5.502810705882354
1.9471860294117675
5.178477764705889
4.488236676470592
6.234716205882364
4.536425323529421
2.4984524117647027
0.5439814411764701
1.4153572058823443
4.222962470588236
3.664336882352927
1.2798095882352882
2.132492764705887
1.8379966176470646
0.6771372647058982
1.732246470588251
2.134528823529422
2.7817098529411766
3.241321352941185
2.306273794117658
-0.9379392941176334
2.347681117647049
-3.6989926764705885
0.5014596176470718
-0.4704924705882405
3.0402042352941265
0.20569049999999578
-4.142865058823517
1.729226441176472
0.658493382352944
3.1876480588235268
2.5301197647058657
1.4737090882352888
1.6995386764706026
0.04611197058823535
-0.9776241176470677
-2.9310260588235337
1.232953323529415
-0.5292219117646937
1.2567106764705969
-1.031925441176469
-1.1286284705882252
0.900614088235308
1.8007324117646988
1.1025143235294053
3.457886588235297
-0.9177435882352896
-2.870262529411761
-5.815130529411761
-3.4093873235294083
-6.934589529411774
-7.884513147058826
-6.925038852941178
-6.310902676470583
0.15079408823528695
2.6674136470588152
2.6050721176470617
0.2694082352941152
1.8184718529411583
1.7488434117647103
0.0707092647058758
-0.20330191176470436
4.214115588235302
5.941069264705867
4.197722764705894
5.292958794117652
6.130758588235288
5.10200723529411
-1.6555285588235336
0.5740372941176446
0.6619859999999989

In [52]:
df[df['dif'] > 8]

        dates        max        avg       dif
50 1998-05-21  53.958176  44.939963  9.018213
58 1998-05-29  53.392044  45.332771  8.059273
59 1998-05-30  53.647552  45.519610  8.127942
68 1998-06-08  54.331165  45.479782  8.851383

# Phoenix Caclulations
1990-6-26 Phoenix, AZ Weather History. https://www.wunderground.com/history/daily/KPHX/date/1990-6-26. Weather Underground. (June 10, 2021).<br>A. Minkler, At 118 degrees, Thursday heat in Phoenix breaks daily record set in 1934. The Arizona Republic (2020) (June 18, 2021).

In [ ]:
# Functions
def c_to_f(C):
    "Convert HI C to F"
    return 1.8 * C + 32 

def hi_to_wbgt(HI):
    """ Convert HI to WBGT using emprical relationship from Bernard and Iheanacho 2015
    WBGT [◦C] = −0.0034 HI2 + 0.96 HI−34; for HI [◦F]
    """
    
    WBGT = -0.0034*HI**2 + 0.96*HI - 34
    
    return WBGT

In [ ]:
# tmax was 122, rh was 11 using https://www.wpc.ncep.noaa.gov/html/heatindex.shtml
# then HI was 49

# Check out cities

In [ ]:
def select_city_year(df, city_id, year):
    "Quick search to find city and years within HI_STATS"
    df_out = df[(df['ID_HDC_G0'] == city_id) & (df['year'] == year)]
    
    return df_out

In [ ]:
city = select_city_year(ALL_DATA, 4417, 2010)
city

# LA

In [ ]:
from glob import glob 
import os

In [ ]:
dir_list = '/home/cascade/projects/UrbanHeat/data/interim/ERA5_HI/'

In [ ]:
fn = 'GHS-ERA5-HI_2009.csv'
data = pd.read_csv(dir_list+fn)
city = data[data['ID_HDC_G0'] == 14]

In [ ]:
temps_list = []
dates_list = []
for fn in sorted(os.listdir(dir_list)):
    data = pd.read_csv(dir_list+fn)
    city = data[data['ID_HDC_G0'] == 14]
    dates = list(city.iloc[:,3:])
    temps = list(city.iloc[:,3:].values[0])
    dates_list.extend(dates)
    temps_list.extend(temps)

In [ ]:
len(dates_list)

# Africa

In [ ]:
#### Dependencies
import glob
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from matplotlib import rcParams
import matplotlib.dates as mdates

In [ ]:
def make_data(dir_in, geog, location):
    """Function makes data to plot daily city-level HI Max and average
    Args:
        dir_in = directory to get data
        geog = column for geography, city-level = 'ID_HDC_G0'
        location = usually a city id
    """
    
    fn_list = sorted(glob.glob(dir_in+'*.csv')) # get data
    df_out = pd.DataFrame() # to write dataframe
    
     # get leap year cols from 2016
    hi16 = pd.read_csv(fn_list[33]) 
    cols = list(hi16.iloc[:,3:].columns)
    cols = [year[5:] for year in cols] # cols for data frame
    
    temp_list = [] # empty list for temps
    
    # loop through dir and get data
    for i, fn in enumerate(fn_list):
        df = pd.read_csv(fn) # open data frame
        year_label = [(df.columns[3]).split('.')[0]] # get year
        row = df[df[geog] == location]
        temp = row.iloc[:,3:] # get only temp columns
        
        # add in col for leap years
        if temp.shape[1] == 365:
            temp.insert(loc = 59, column = year_label[0]+'.02.29', value = np.nan, allow_duplicates=False)

        # Set Index & Columns
        temp.index = year_label
        temp.columns = cols # revalue to m.d
    
        # add to list
        temp_list.append(temp)
    
    df_out = pd.concat(temp_list) # make one big dataframe
    
    return df_out

In [ ]:
def plot_data(df, year, start, end):#, start, end):
    """ Make the data for a plot
    Args: 
        df = df w/ daily HI max for a given city
        year = year you want to plot against average
        start = start of plot in julian days (e.g 1 - 365/366)
        end = end of plot in julian days
    """

    # Deal with leap year
    if year % 4 !=0:
        df.drop(columns ='02.29', inplace = True)
    
    # Subset data
    start = start - 1 # zero indexing 
    subset = df.iloc[:,start:end]
    
    # HI Max for year
    hi_year = subset.loc[str(year)]
    
    # make 34-avg daily hi
    means = subset.mean(axis = 0)
    
    # make colums to date time
    cols = pd.to_datetime([str(year)+'.'+date for date in hi_year.index])
    
    return hi_year, means, cols

In [ ]:
# Args
#[3342, 'Cairo'] #[1910, 'Accra'] 3268, Cape Town
#[4417, 'Aleppo'] 2010 [2046, 'Paris'] 2003 [9691, 'Kolkata'] 1998 ['6955, Dehli']

# Args
city_list = [9691, 'Kolkata'] 
year = 1998
font_size = 10


# April 1 to Sep 30 (Use Julian Days), or 1 - 182 lagos
start = 91 
end = 273

# Labels
hi_label = str(year)+' '+data
labels =  ['avg. '+data, hi_label, str(t)+''+DS+'C']  # <<<<<------------ Be sure to update! 

# Make Data 
df = make_data(DATA_IN, 'ID_HDC_G0', city_list[0])
years, means, cols = plot_data(df, year, start, end)

# Trend First vs. Second Half of Data

In [ ]:
data.head()

In [ ]:
#### Share of exposure due to heat by 17 year split

## 1983 - 1999
data1 = HI_STATS[(HI_STATS['year'] >= 1983) & (HI_STATS['year'] < 2000)]
coef1pop , r21pop, p1pop  = lm_func(data1 , 'people_days_pop')
coef1heat , r21heat, p1heat = lm_func(data1 , 'people_days_heat')

years = list(np.unique(data1['year']))
plt.plot(years, data1.groupby('year')['people_days_heat'].sum())
sns.regplot(years, data1.groupby('year')['people_days_heat'].sum(), 
            color = 'blue', scatter = False, truncate = True)

## 2000 - 2016
data2 = HI_STATS[(HI_STATS['year'] >= 2000) & (HI_STATS['year'] <= 2016)]
coef2heat , r22heat, p2heat = lm_func(data2 , 'people_days_heat')
coef2pop , r22pop, p1pop  = lm_func(data2 , 'people_days_pop')

years = list(np.unique(data1['year']))
plt.plot(years, data2.groupby('year')['people_days_heat'].sum())
sns.regplot(years, data2.groupby('year')['people_days_heat'].sum(), 
            color = 'orange', scatter = False, truncate = True)

In [ ]:
## 2000 - 2016
data2pop = HI_STATS[(HI_STATS['year'] >= 1983) & (HI_STATS['year'] < 2000)]
coef2pop , r22pop, p1pop  = lm_func(data2pop , 'people_days_pop')

data2heat = HI_STATS[(HI_STATS['year'] >= 2000) & (HI_STATS['year'] <= 2016)]
coef2heat , r22heat, p2heat = lm_func(data2heat , 'people_days_heat')

In [ ]:
## Estimates
print('From 83 - 99, contribution from heat was', coef1heat/(coef1pop+coef1heat))
print('From 00 - 16, contribution from heat was', coef2heat/(coef2pop+coef2heat))
print('From 83 - 00, heat was', coef1heat/10**9, round(p1heat, 3))
print('From 00 - 16, heat was', coef2heat/10**9)
print('From 83 - 00, pop was', coef1pop/10**9)
print('From 00 - 16, pop was', coef2pop/10**9)