In [1]:
import pandas as pd
import geopandas as gpd
import numpy as np
import xarray as xr

In [2]:
DIR_HI = '~/projects/UrbanHeat/data/interim/CHIRTS-GHS-HI-Events-Stats/'
HI83 = pd.read_csv(DIR_HI+'CHIRTS-GHS-HI-Events-Stats1983.csv')

In [3]:
HI83.head()

,Unnamed: 0,ID_HDC_G0,CTR_MN_NM,total_days,duration,avg_temp,avg_intensity,tot_intensity,event_dates,intensity,tmax
0,0,4362,Russia,4,1,41.216230,0.616230,0.616230,['1983.07.01'],[0.61622976],[41.21622976]
1,1,4362,Russia,4,3,41.744828,1.144828,3.434484,['1983.07.03' '1983.07.04' '1983.07.05'],[0.40430535 0.39696466 2.63321359],[41.00430535 40.99696466 43.23321359]
2,2,5380,Russia,1,1,47.953803,7.353803,7.353803,['1983.07.03'],[7.35380338],[47.95380338]
3,3,5872,Russia,3,1,40.744342,0.144342,0.144342,['1983.06.23'],[0.14434172],[40.74434172]
4,4,5872,Russia,3,1,41.277920,0.677920,0.677920,['1983.06.25'],[0.67792041],[41.27792041]

In [ ]:
country_nm = 'Russia'
country = HI83[HI83['CTR_MN_NM'] == country_nm]

In [ ]:
country_cities = country.drop_duplicates('ID_HDC_G0')

In [ ]:
len(country_cities)

In [ ]:
country_cities['total_days'].mean()

In [ ]:
city5441 = HI83[HI83['ID_HDC_G0'] == 5782].drop_duplicates('ID_HDC_G0')

In [ ]:
city5441['total_days'].mean()

# Check a City and Data

In [17]:
city = 2323 # Somewhere in russia 
date = '1983.05.05'

In [20]:
# Heat Index
DIR_HI = '~/projects/UrbanHeat/data/interim/CHIRTS-GHS-HI-Events-Stats/'
HI83 = pd.read_csv(DIR_HI+'CHIRTS-GHS-HI-Events-Stats1983.csv')
HI83[HI83['ID_HDC_G0'] == city].drop_duplicates('ID_HDC_G0')

,Unnamed: 0,ID_HDC_G0,CTR_MN_NM,total_days,duration,avg_temp,avg_intensity,tot_intensity,event_dates,intensity,tmax
95746,95746,2323,Nigeria,155,3,42.878297,2.278297,6.834892,['1983.03.28' '1983.03.29' '1983.03.30'],[0.80287353 4.85370246 1.17831559],[41.40287353 45.45370246 41.77831559]

In [27]:
# Tmax
DIR_Tmax = '~/projects/UrbanHeat/data/interim/CHIRTS-GHS-DAILY-Tmax/'
Tmax83 = pd.read_csv(DIR_Tmax+'GHS-Tmax-DAILY_1983.csv')
cityTmax = Tmax83[Tmax83['ID_HDC_G0'] == city]
Tmax = cityTmax[date]
print(Tmax)
# print('Tmax in', city, ', which is in russia, on', date, 'was', Tmax, 'C')

9090    44.100197
Name: 1983.05.05, dtype: float64

In [28]:
# RH 
DIR_RH = '~/projects/UrbanHeat/data/interim/CHIRTS-GHS-DAILY-RH/'
RH83 = pd.read_csv(DIR_RH+'GHS-Tmax-RH_1983.csv')
cityRH = RH83[RH83['ID_HDC_G0'] == city]
RH = cityRH[date]
print(RH)
print('RH in', city, ', which is in russia, on', date, 'was', str(RH)+'%')

9090    15.557219
Name: 1983.05.05, dtype: float64
RH in 2323 , which is in russia, on 1983.05.05 was 9090    15.557219
Name: 1983.05.05, dtype: float64%

In [15]:
# HI 
DIR_HI = '~/projects/UrbanHeat/data/interim/CHIRTS-GHS-DAILY-HI/'
HI83 = pd.read_csv(DIR_HI+'GHS-HI-DAILY_1983.csv')
cityHI = HI83[HI83['ID_HDC_G0'] == city]
HI = cityHI[date][0]
print('HI in', city, ', which is in russia, on', date, 'was', str(HI)+'%')

HI in 5782 , which is in russia, on 1983.04.25 was -11.633329694444445%

In [16]:
HI83.head()

,Unnamed: 0,ID_HDC_G0,CTR_MN_NM,1983.01.01,1983.01.02,1983.01.03,1983.01.04,1983.01.05,1983.01.06,1983.01.07,...,1983.12.22,1983.12.23,1983.12.24,1983.12.25,1983.12.26,1983.12.27,1983.12.28,1983.12.29,1983.12.30,1983.12.31
0,0,5782,Russia,-50.290109,-38.741588,-38.527916,-29.775962,-27.355393,-25.563406,-23.869806,...,-28.779136,-40.398462,-30.339417,-20.395295,-15.319946,-15.414477,-18.033254,-14.991101,-15.963260,-18.583906
1,1,3316,Russia,-6.737854,-5.639201,-9.620732,-15.439825,-9.966626,-8.593357,-7.519376,...,-14.250156,-20.687157,-8.106323,-9.595132,-13.861566,-18.223596,-16.542586,-7.062472,-13.869323,-19.660082
2,2,5645,Russia,-28.483821,-21.293526,-16.567241,-17.570162,-18.721619,-21.200990,-25.610114,...,-23.420955,-26.181210,-15.323312,-5.394026,-8.077833,-11.663559,-13.886691,-16.108834,-14.447547,-13.034678
3,3,3185,Finland,-1.493348,-1.489085,-5.802576,-3.995879,-3.020417,-1.876911,-1.279008,...,-11.540405,-5.425336,-4.641525,-10.291178,-11.308963,-5.162991,-4.853079,-7.997720,-11.828115,-10.185535
4,4,3539,Russia,-8.240884,-8.182602,-19.021062,-16.765597,-12.458584,-5.322319,0.020468,...,-6.044796,-2.682858,-2.283302,-2.448591,-8.065710,-11.314625,-11.339490,-9.911966,-9.007221,-12.295425

# Let's try running 4_Tmax_Stats.py functions

In [ ]:
#### 1 Function turns csv into x-array
def csv_to_xr(file_in, time_dim, space_dim):
    
    """ Function reads in a csv w/ GHS-UCDB IDs and temp, isolates the temp
    and returns a xarray data array with dims set to city ids and dates
    
    Args:
        file_in = file name and path
        time_dim = name for time dim as a str ... use date :-)
        space_dim = col name for GHS-UCDB IDs as an str (ID_HDC_G0)
    """
    
    df = pd.read_csv(file_in) # read the file in as a df
    print(df.shape)
    
    df_id = df[space_dim] # get IDs
    df = df.iloc[:,3:] # get only temp columns
    df.index = df_id # set index values
    df_drop = df.dropna() # Drop cities w/ no temp record 
    print(len(df_drop))
    
    arr = df_drop.to_numpy() # turn temp cols into an np array
    
    # make xr Data Array w/ data as temp and dims as spece (e.g. id)
    
    # Note 2019 09 17 changed to xr.Dataset from xr.Dataarray
    xr_da = xr.DataArray(arr, coords=[df_drop.index, df_drop.columns], 
                            dims=[space_dim, time_dim])
    
    return xr_da

#### 2 Function finds all the Tmax Events and writes it to a dateframe w/ dates for each city
def tmax_days(xarray, Tthresh):
    """ Function finds all the tmax days in a year and sums total days per year
    greater than a threshold within a year where Tmax > Tthresh for each city. Returns the total number of days,
    the dates, the tempatures, and the intensity (daily Tmax - Tthresh)

    Args:
        xarray = an xarray object with dims = (space, times)
        Tthresh = int of temp threshold
    """

    # empty lists & df
    id_list = []
    date_list = []
    dayTot_list = []
    tmax_list = []
    intensity_list = []
    df_out = pd.DataFrame()

    # subset xarray
    out = xarray.where(xarray > Tthresh, drop = True)

    # start loop
    for index, loc in enumerate(out.ID_HDC_G0):
        id_list.append(out.ID_HDC_G0.values[index]) # get IDS
        date_list.append(out.sel(ID_HDC_G0 = loc).dropna(dim = 'date').date.values) # get event dates

        # this is actually getting the total events of all, 2019-09-22
        dayTot_list.append(len(out.sel(ID_HDC_G0 = loc).dropna(dim = 'date').date.values)) # get event totals

        tmax_list.append(out.sel(ID_HDC_G0 = loc).dropna(dim = 'date').values) # get temp values
        intensity_list.append(out.sel(ID_HDC_G0 = loc).dropna(dim = 'date').values - Tthresh) # get severity

    # write to a data frame
    df_out['ID_HDC_G0'] = id_list
    df_out['total_days'] = dayTot_list
    df_out['dates'] = date_list
    df_out['tmax'] = tmax_list
    df_out['tmax_tntensity'] = intensity_list

    # return df_out
    return df_out

#### 3 Function splits the dataset into Tmax events (continuous days >Tmax) for each city
def jul_convert(dates):
    "Function turn days into julian datetime"
    jul_days = pd.to_datetime(dates).to_julian_date()

    return jul_days

def event_split(dates, ID_HDC_G0, intensity, tmax, total_days):
    """ Searchs a list of dates and isolates sequential dates as a list, then calculates event stats.
    See comments in code for more details.

    Args:
        dates: pandas.core.index as julian dates
        ID_HDC_G0: city ID as string
        country: country for each city as string
        intensity: numpy.ndarray of intensities values
        tmax: numpy.ndarray of intensities values of tmax values
        total_days: total number of tmax days in a year for a given city

    """

    # city id
    city_id = ID_HDC_G0
    tot_days = total_days

    # lists to fill
    city_id_list = []
    tot_days_list = []
    event_dates_list = []
    dur_list = []
    intensity_list = []
    tmax_list = []
    avg_temp_list = []
    avg_int_list = []
    tot_int_list = []

    # data frame out
    df_out = pd.DataFrame()

    # turn days into julian days
    jul_days = jul_convert(dates)

    # Counters to make sure we write the correct event dates to a list, don't want julian days in output
    counter = 0
    start = 0
    end = 0

    # Loop through dur list and isolate seq days, temps, and intensities
    for k, g in groupby(enumerate(jul_days.values), lambda x: x[1]-x[0]):

        seq = list(map(itemgetter(1), g)) # isolate seq. days
        dur = len(seq) # duration of each event

        counter = counter + dur # add duration to counter
        end = counter # end of current event

        event_dates = dates[start:end] # dates of tmax days during each event
        intense = intensity[start:end] # intensity of each day during event
        temp = tmax[start:end] # temp of each day during event
        avg_temp = mean(temp) # avg. temp during event
        avg_int = mean(intense) # avg. intensity during event
        tot_int = intense.sum() # total intensity during event

        start = counter # reset start to current end (e.g. counter)

        # fill lists
        city_id_list.append(city_id)
        tot_days_list.append(tot_days)
        dur_list.append(dur)
        event_dates_list.append(event_dates)
        intensity_list.append(intense)
        tmax_list.append(temp)
        avg_temp_list.append(avg_temp)
        avg_int_list.append(avg_int)
        tot_int_list.append(tot_int)

    # write out as a dateframe
    df_out['ID_HDC_G0'] = city_id_list
    df_out['total_days'] = tot_days_list
    df_out['duration'] = dur_list
    df_out['avg_temp'] = avg_temp_list
    df_out['avg_intensity'] = avg_int_list
    df_out['tot_intensity'] = tot_int_list
    df_out['event_dates'] = event_dates_list
    df_out['duration'] = dur_list
    df_out['intensity'] = intensity_list
    df_out['tmax'] = tmax_list

    return df_out

#### 4 Function feeds output from function 2 into function 3

def tmax_stats(df_in):
    """ runs event_split functionon a dataframe to produce desired tmax stats

        NOTE - If you add arguments to event_split to make more states,
        be sure to update this function

        args:
            df: input dataframe
    """
    df_out = pd.DataFrame()


    # NOTE - If you add arguments to event_split to make more stats,
    # be sure to update this function

    for index, row in df_in.iterrows():
        dates = row['dates'] # Get event dates
        intensity = row['tmax_tntensity'] # Get intensity for each day
        tmax = row['tmax'] # Get tmax for each day
        ID_HDC_G0 = row['ID_HDC_G0'] # get city id
        total_days = row['total_days'] # get total number of tmax days

        df = event_split(dates, ID_HDC_G0, intensity, tmax, total_days)

        df_out = df_out.append(df)

    return df_out

## Step 1
seems ok ... no I think the indexing is getting fucked up

In [ ]:
def csv_to_xr(file_in, time_dim, space_dim):
    
    """ Function reads in a csv w/ GHS-UCDB IDs and temp, isolates the temp
    and returns a xarray data array with dims set to city ids and dates
    
    Args:
        file_in = file name and path
        time_dim = name for time dim as a str ... use date :-)
        space_dim = col name for GHS-UCDB IDs as an str (ID_HDC_G0)
    """
    
    df = pd.read_csv(file_in) # read the file in as a df
    print(df.shape)
    
    df_id = df[space_dim] # get IDs
    df = df.iloc[:,3:] # get only temp columns
    df.index = df_id # set index values
    df_drop = df.dropna() # Drop cities w/ no temp record 
    print(len(df_drop))
    
    arr = df_drop.to_numpy() # turn temp cols into an np array
    
    # make xr Data Array w/ data as temp and dims as spece (e.g. id)
    
    # Note 2019 09 17 changed to xr.Dataset from xr.Dataarray
    xr_da = xr.DataArray(arr, coords=[df_drop.index, df_drop.columns], 
                            dims=[space_dim, time_dim])
    
    return xr_da

In [ ]:
DIR_HI = '~/projects/UrbanHeat/data/interim/CHIRTS-GHS-DAILY-HI/'
HI83 = pd.read_csv(DIR_HI+'GHS-HI-DAILY_1983.csv')

In [ ]:
HI83.head()

In [ ]:
# step 1
HI83_1 = csv_to_xr(DIR_HI+'GHS-HI-DAILY_1983.csv', space_dim = 'ID_HDC_G0', time_dim = 'date')

In [ ]:
HI83_1.to_pandas()

## Step 2 
Is not ok
I think the indexing is getting fucked up somewhere

In [ ]:
# Step 2
HI83_2 = tmax_days(HI83, 40.6)

In [ ]:
HI83_2[HI83_2['ID_HDC_G0'] == city]

In [ ]:
# empty lists & df
# id_list = []
# date_list = []
# dayTot_list = []
# tmax_list = []
# intensity_list = []
# df_out = pd.DataFrame()

# subset xarray
out = HI83_1.where(HI83_1 > 40.6, drop = True)

# # start loop
# for index, loc in enumerate(out.ID_HDC_G0):
#     id_list.append(out.ID_HDC_G0.values[index]) # get IDS
#     date_list.append(out.sel(ID_HDC_G0 = loc).dropna(dim = 'date').date.values) # get event dates

#     # this is actually getting the total events of all, 2019-09-22
#     dayTot_list.append(len(out.sel(ID_HDC_G0 = loc).dropna(dim = 'date').date.values)) # get event totals

#     tmax_list.append(out.sel(ID_HDC_G0 = loc).dropna(dim = 'date').values) # get temp values
#     intensity_list.append(out.sel(ID_HDC_G0 = loc).dropna(dim = 'date').values - Tthresh) # get severity

# # write to a data frame
# df_out['ID_HDC_G0'] = id_list
# df_out['total_days'] = dayTot_list
# df_out['dates'] = date_list
# df_out['tmax'] = tmax_list
# df_out['tmax_tntensity'] = intensity_list

# # return df_out
# return df_out

In [ ]:
id_list = []
for index, loc in enumerate(out.ID_HDC_G0):
    id_list.append(out.ID_HDC_G0.values[index]) # get IDS

In [ ]:
out.sel(ID_HDC_G0=city).dropna(dim = 'date')

In [ ]:
# try it all
DIR_HI = '~/projects/UrbanHeat/data/interim/CHIRTS-GHS-DAILY-HI/'

# step 1
HI83_1 = csv_to_xr(DIR_HI+'GHS-HI-DAILY_1983.csv', space_dim = 'ID_HDC_G0', time_dim = 'date')

# Step 2
HI83_2 = tmax_days(HI83_1, 40.6)

In [ ]:
HI83_3 = event_split(dates, ID_HDC_G0, intensity, tmax, total_days):

# Check all HI

In [4]:
allHI = pd.read_csv('~/projects/UrbanHeat/data/processed/All_data_HI406.csv')

In [10]:
allHI[(allHI['CTR_MN_NM'] == 'Nigeria') & (allHI['year']== 1983) & (allHI['ID_HDC_G0']== 2323)]

,Unnamed: 0,Event_ID,ID_HDC_G0,CTR_MN_NM,total_days,duration,avg_temp,avg_intensity,tot_intensity,event_dates,intensity,tmax,year
95746,95746,95747,2323,Nigeria,155,3,42.878297,2.278297,6.834892,['1983.03.28' '1983.03.29' '1983.03.30'],[0.80287353 4.85370246 1.17831559],[41.40287353 45.45370246 41.77831559],1983
95747,95747,95748,2323,Nigeria,155,3,41.483566,0.883566,2.650698,['1983.04.25' '1983.04.26' '1983.04.27'],[1.96816795 0.3269498 0.35558021],[42.56816795 40.9269498 40.95558021],1983
95748,95748,95749,2323,Nigeria,155,1,40.643697,0.043697,0.043697,['1983.05.01'],[0.04369717],[40.64369717],1983
95749,95749,95750,2323,Nigeria,155,72,47.948586,7.348586,529.098163,['1983.05.03' '1983.05.04' '1983.05.05' '1983....,[ 1.22144378 0.52593104 2.87577216 7.277769...,[41.82144378 41.12593104 43.47577216 47.877769...,1983
95750,95750,95751,2323,Nigeria,155,6,44.287838,3.687838,22.127030,['1983.07.15' '1983.07.16' '1983.07.17' '1983....,[4.05707058 0.01403061 0.9111228 3.74713903 6...,[44.65707058 40.61403061 41.5111228 44.347139...,1983
95751,95751,95752,2323,Nigeria,155,2,42.279925,1.679925,3.359850,['1983.07.22' '1983.07.23'],[0.88630633 2.4735437 ],[41.48630633 43.0735437 ],1983
95752,95752,95753,2323,Nigeria,155,5,44.027329,3.427329,17.136643,['1983.07.25' '1983.07.26' '1983.07.27' '1983....,[2.11010519 1.02134266 2.7359736 4.25929625 7...,[42.71010519 41.62134266 43.3359736 44.859296...,1983
95753,95753,95754,2323,Nigeria,155,3,43.355513,2.755513,8.266540,['1983.08.01' '1983.08.02' '1983.08.03'],[0.4093966 6.35881494 1.49832845],[41.0093966 46.95881494 42.09832845],1983
95754,95754,95755,2323,Nigeria,155,3,43.489241,2.889241,8.667724,['1983.08.05' '1983.08.06' '1983.08.07'],[1.71876987 3.53165719 3.41729674],[42.31876987 44.13165719 44.01729674],1983
95755,95755,95756,2323,Nigeria,155,8,45.112668,4.512668,36.101345,['1983.08.09' '1983.08.10' '1983.08.11' '1983....,[4.75465964 4.67386049 6.67876514 3.99885717 3...,[45.35465964 45.27386049 47.27876514 44.598857...,1983
95756,95756,95757,2323,Nigeria,155,2,40.678606,0.078606,0.157211,['1983.08.18' '1983.08.19'],[0.02270367 0.13450782],[40.62270367 40.73450782],1983
95757,95757,95758,2323,Nigeria,155,11,44.895640,4.295640,47.252041,['1983.08.22' '1983.08.23' '1983.08.24' '1983....,[2.85058329 2.55872001 0.40022783 3.03785134 2...,[43.45058329 43.15872001 41.00022783 43.637851...,1983
95758,95758,95759,2323,Nigeria,155,15,44.476887,3.876887,58.153306,['1983.09.03' '1983.09.04' '1983.09.05' '1983....,[ 5.86288979 6.85977709 10.13490209 5.313325...,[46.46288979 47.45977709 50.73490209 45.913325...,1983
95759,95759,95760,2323,Nigeria,155,17,46.933010,6.333010,107.661168,['1983.09.19' '1983.09.20' '1983.09.21' '1983....,[ 6.27866055 7.91232404 1.97486477 3.902964...,[46.87866055 48.51232404 42.57486477 44.502964...,1983
95760,95760,95761,2323,Nigeria,155,1,41.399541,0.799541,0.799541,['1983.10.09'],[0.79954133],[41.39954133],1983
95761,95761,95762,2323,Nigeria,155,3,42.184730,1.584730,4.754190,['1983.10.12' '1983.10.13' '1983.10.14'],[0.59439274 2.76621157 1.39358554],[41.19439274 43.36621157 41.99358554],1983