In [2]:
import pandas as pd
import geopandas as gpd
import numpy as np

In [4]:
DIR_HI = '~/projects/UrbanHeat/data/interim/CHIRTS-GHS-HI-Events-Stats/'
HI83 = pd.read_csv(DIR_HI+'CHIRTS-GHS-HI-Events-Stats1983.csv')

In [5]:
HI83.head()

,Unnamed: 0,ID_HDC_G0,CTR_MN_NM,total_days,duration,avg_temp,avg_intensity,tot_intensity,event_dates,intensity,tmax
0,0,5782,Russia,143,3,42.504216,1.904216,5.712649,['1983.04.25' '1983.04.26' '1983.04.27'],[1.9844291 1.90373699 1.82448336],[42.5844291 42.50373699 42.42448336]
1,1,5782,Russia,143,1,40.833569,0.233569,0.233569,['1983.05.04'],[0.2335687],[40.8335687]
2,2,5782,Russia,143,5,41.447019,0.847019,4.235093,['1983.05.06' '1983.05.07' '1983.05.08' '1983....,[0.80313511 0.61880108 0.97113543 0.12905083 1...,[41.40313511 41.21880108 41.57113543 40.729050...
3,3,5782,Russia,143,5,42.145217,1.545217,7.726085,['1983.05.13' '1983.05.14' '1983.05.15' '1983....,[2.35577511 3.23440216 1.09797936 0.64795039 0...,[42.95577511 43.83440216 41.69797936 41.247950...
4,4,5782,Russia,143,5,42.675231,2.075231,10.376155,['1983.05.19' '1983.05.20' '1983.05.21' '1983....,[1.61752066 3.27806134 2.08385488 0.08578527 3...,[42.21752066 43.87806134 42.68385488 40.685785...

In [6]:
country_nm = 'Russia'
country = HI83[HI83['CTR_MN_NM'] == country_nm]

In [7]:
country_cities = country.drop_duplicates('ID_HDC_G0')

In [8]:
len(country_cities)

191

In [9]:
country_cities['total_days'].mean()

92.59162303664921

In [10]:
city5441 = HI83[HI83['ID_HDC_G0'] == 5782].drop_duplicates('ID_HDC_G0')

In [11]:
city5441['total_days'].mean()

141.0

# Check a City and Data

In [22]:
city = 5782 # Somewhere in russia 
date = '1983.04.25'

In [23]:
# Heat Index
DIR_HI = '~/projects/UrbanHeat/data/interim/CHIRTS-GHS-HI-Events-Stats/'
HI83 = pd.read_csv(DIR_HI+'CHIRTS-GHS-HI-Events-Stats1983.csv')
HI83[HI83['ID_HDC_G0'] == 5782].drop_duplicates('ID_HDC_G0')

,Unnamed: 0,ID_HDC_G0,CTR_MN_NM,total_days,duration,avg_temp,avg_intensity,tot_intensity,event_dates,intensity,tmax
0,0,5782,Russia,143,3,42.504216,1.904216,5.712649,['1983.04.25' '1983.04.26' '1983.04.27'],[1.9844291 1.90373699 1.82448336],[42.5844291 42.50373699 42.42448336]

In [31]:
# Tmax
DIR_Tmax = '~/projects/UrbanHeat/data/interim/CHIRTS-GHS-DAILY-Tmax/'
Tmax83 = pd.read_csv(DIR_Tmax+'GHS-Tmax-DAILY_1983.csv')
cityTmax = Tmax83[Tmax83['ID_HDC_G0'] == city]
Tmax = cityTmax[date][0]
print('Tmax in', city, ', which is in russia, on', date, 'was', Tmax, 'C')

Tmax in 5782 , which is in russia, on 1983.04.25 was -9.299653 C

In [34]:
# RH 
DIR_RH = '~/projects/UrbanHeat/data/interim/CHIRTS-GHS-DAILY-RH/'
RH83 = pd.read_csv(DIR_RH+'GHS-Tmax-RH_1983.csv')
cityRH = RH83[RH83['ID_HDC_G0'] == city]
RH = cityRH[date][0]
print('RH in', city, ', which is in russia, on', date, 'was', str(RH)+'%')

RH in 5782 , which is in russia, on 1983.04.25 was 97.30467%

In [35]:
# HI 
DIR_HI = '~/projects/UrbanHeat/data/interim/CHIRTS-GHS-DAILY-HI/'
HI83 = pd.read_csv(DIR_HI+'GHS-HI-DAILY_1983.csv')
cityHI = HI83[HI83['ID_HDC_G0'] == city]
HI = cityHI[date][0]
print('HI in', city, ', which is in russia, on', date, 'was', str(HI)+'%')

HI in 5782 , which is in russia, on 1983.04.25 was -11.633329694444445%

In [36]:
HI83.head()

,Unnamed: 0,ID_HDC_G0,CTR_MN_NM,1983.01.01,1983.01.02,1983.01.03,1983.01.04,1983.01.05,1983.01.06,1983.01.07,...,1983.12.22,1983.12.23,1983.12.24,1983.12.25,1983.12.26,1983.12.27,1983.12.28,1983.12.29,1983.12.30,1983.12.31
0,0,5782,Russia,-50.290109,-38.741588,-38.527916,-29.775962,-27.355393,-25.563406,-23.869806,...,-28.779136,-40.398462,-30.339417,-20.395295,-15.319946,-15.414477,-18.033254,-14.991101,-15.963260,-18.583906
1,1,3316,Russia,-6.737854,-5.639201,-9.620732,-15.439825,-9.966626,-8.593357,-7.519376,...,-14.250156,-20.687157,-8.106323,-9.595132,-13.861566,-18.223596,-16.542586,-7.062472,-13.869323,-19.660082
2,2,5645,Russia,-28.483821,-21.293526,-16.567241,-17.570162,-18.721619,-21.200990,-25.610114,...,-23.420955,-26.181210,-15.323312,-5.394026,-8.077833,-11.663559,-13.886691,-16.108834,-14.447547,-13.034678
3,3,3185,Finland,-1.493348,-1.489085,-5.802576,-3.995879,-3.020417,-1.876911,-1.279008,...,-11.540405,-5.425336,-4.641525,-10.291178,-11.308963,-5.162991,-4.853079,-7.997720,-11.828115,-10.185535
4,4,3539,Russia,-8.240884,-8.182602,-19.021062,-16.765597,-12.458584,-5.322319,0.020468,...,-6.044796,-2.682858,-2.283302,-2.448591,-8.065710,-11.314625,-11.339490,-9.911966,-9.007221,-12.295425