In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from time import time
import xarray as xr

In [2]:
fn = "/home/cascade/projects/UrbanHeat/data/processed/All_data_HI406.csv"  # Note: Need ?dl=1 to make sure this file gets read correctly
df = pd.read_csv(fn)
df.columns

Index(['Unnamed: 0', 'Event_ID', 'ID_HDC_G0', 'CTR_MN_NM', 'total_days',
       'duration', 'avg_temp', 'avg_intensity', 'tot_intensity', 'event_dates',
       'intensity', 'tmax', 'year'],
      dtype='object')

In [4]:
df = df.iloc[:,1:]

In [5]:
df.head()

,Event_ID,ID_HDC_G0,CTR_MN_NM,total_days,duration,avg_temp,avg_intensity,tot_intensity,event_dates,intensity,tmax,year
0,1,4362,Russia,4,1,41.216230,0.616230,0.616230,['1983.07.01'],[0.61622976],[41.21622976],1983
1,2,4362,Russia,4,3,41.744828,1.144828,3.434484,['1983.07.03' '1983.07.04' '1983.07.05'],[0.40430535 0.39696466 2.63321359],[41.00430535 40.99696466 43.23321359],1983
2,3,5380,Russia,1,1,47.953803,7.353803,7.353803,['1983.07.03'],[7.35380338],[47.95380338],1983
3,4,5872,Russia,3,1,40.744342,0.144342,0.144342,['1983.06.23'],[0.14434172],[40.74434172],1983
4,5,5872,Russia,3,1,41.277920,0.677920,0.677920,['1983.06.25'],[0.67792041],[41.27792041],1983

In [6]:
x_arr = df.to_xarray()

In [12]:
x_arr.where('12.31' in 'event_dates')

<xarray.Dataset>
Dimensions:        (index: 5678214)
Coordinates:
  * index          (index) int64 0 1 2 3 4 ... 5678210 5678211 5678212 5678213
Data variables:
    Event_ID       (index) float64 nan nan nan nan nan ... nan nan nan nan nan
    ID_HDC_G0      (index) float64 nan nan nan nan nan ... nan nan nan nan nan
    CTR_MN_NM      (index) object nan nan nan nan nan ... nan nan nan nan nan
    total_days     (index) float64 nan nan nan nan nan ... nan nan nan nan nan
    duration       (index) float64 nan nan nan nan nan ... nan nan nan nan nan
    avg_temp       (index) float64 nan nan nan nan nan ... nan nan nan nan nan
    avg_intensity  (index) float64 nan nan nan nan nan ... nan nan nan nan nan
    tot_intensity  (index) float64 nan nan nan nan nan ... nan nan nan nan nan
    event_dates    (index) object nan nan nan nan nan ... nan nan nan nan nan
    intensity      (index) object nan nan nan nan nan ... nan nan nan nan nan
    tmax           (index) object nan nan nan nan nan ... nan nan nan nan nan
    year           (index) float64 nan nan nan nan nan ... nan nan nan nan nan