Notebook to fix 09_MakeMeta.py, CPT Feb 2021

In [40]:
# Dependencies
import pandas as pd
import numpy as np
import geopandas as gpd

# Load Files
DATA_PATH= '/home/cascade/projects/UrbanHeat/data/'

In [22]:
# check trends meta

In [41]:
fn_in = DATA_PATH+'processed/PNAS-DATA-v2/HI406_2D_TREND_ALL.json'

In [42]:
heat = pd.read_json(fn_in, orient = 'split')

In [43]:
bad = ['Brunei',
'Cape Verde', 
'Cabo Verde', 
'Moldova',
'São Tomé and Príncipe',
'United Kingdom',
'Taiwan',
'Czech Republic',]

In [44]:
for nm in bad:
    print(heat[heat['CTR_MN_NM'] == nm]['region'])

8531    Asia
Name: region, dtype: object
Series([], Name: region, dtype: object)
Series([], Name: region, dtype: object)
2260    Europe
2262    Europe
Name: region, dtype: object
1586    Africa
Name: region, dtype: object
1118    Europe
1123    Europe
1128    Europe
1170    Europe
1178    Europe
1188    Europe
1192    Europe
1196    Europe
1202    Europe
1203    Europe
1204    Europe
1206    Europe
1207    Europe
1214    Europe
1220    Europe
Name: region, dtype: object
8517    Asia
8518    Asia
8519    Asia
8520    Asia
8521    Asia
8526    Asia
Name: region, dtype: object
1917    Europe
1942    Europe
2016    Europe
Name: region, dtype: object

In [45]:
heat[heat['CTR_MN_NM'] == 'Taiwan']

,ID_HDC_G0,coef_pdays,p_value_pdays,coef_heat,p_value_heat,coef_pop,p_value_pop,coef_totDays,p_value_totDays,coef_attrib,coef_attrib_norm,CTR_MN_NM,UC_NM_MN,GCPNT_LAT,GCPNT_LON,region,sub-region,intermediate-region,P1983,P2016
8517,12691,2.650177e+05,0.0149,1.089844e+05,0.1383,1.560334e+05,0.0001,0.256684,0.1383,0.177532,0.588677,Taiwan,Xinzhu [TWN],24.823329,120.992776,Asia,Eastern Asia,Eastern Asia,4.245849e+05,7.141547e+05
8518,12696,4.497583e+06,0.0110,2.031796e+06,0.1255,2.465787e+06,0.0000,0.334301,0.1255,0.096494,0.548150,Taiwan,Xinbei [TWN],25.006841,121.412805,Asia,Eastern Asia,Eastern Asia,6.077743e+06,8.873427e+06
8519,12698,1.183861e+03,0.3488,4.359565e+02,0.6299,7.479046e+02,0.0618,0.014668,0.6299,0.263501,0.631671,Taiwan,Chutung [TWN],24.732891,121.091722,Asia,Eastern Asia,Eastern Asia,2.972224e+04,5.248928e+04
8520,12701,1.083063e+05,0.0009,5.392138e+04,0.0287,5.438491e+04,0.0000,0.621696,0.0287,0.004280,0.502033,Taiwan,Tanshui [TWN],25.184280,121.434446,Asia,Eastern Asia,Eastern Asia,8.673272e+04,1.228345e+05
8521,12703,7.128511e+05,0.0025,2.495288e+05,0.2809,4.633224e+05,0.0000,0.278228,0.2809,0.299913,0.649881,Taiwan,Tainan [TWN],22.986858,120.230879,Asia,Eastern Asia,Eastern Asia,8.968510e+05,1.059817e+06
8526,12709,2.181745e+06,0.0001,9.467496e+05,0.0635,1.234995e+06,0.0000,0.462185,0.0635,0.132117,0.565965,Taiwan,Gaoxiong [TWN],22.652644,120.333590,Asia,Eastern Asia,Eastern Asia,2.048422e+06,2.413648e+06

In [48]:
heat['sub-region'].unique()

array(['Northern America', 'Latin America and the Caribbean',
       'Western Europe', 'Sub-Saharan Africa', 'Northern Africa', None,
       'Southern Europe', 'Northern Europe', 'Eastern Europe',
       'Western Asia', 'Central Asia', 'Southern Asia', 'Eastern Asia',
       'South-eastern Asia', 'Australia and New Zealand', 'Melanesia'],
      dtype=object)

In [ ]:
heat[heat['CTR_MN_NM'].isnull()]

In [ ]:
# Get UN regions
countries_fn = DATA_PATH+'raw/countrylist.csv'
countries = pd.read_csv(regions_fn)

In [ ]:
# Get GHS-UCDB Columns we want to use 
ghs_fn = DATA_PATH+'raw/GHS_UCDB/GHS_STAT_UCDB2015MT_GLOBE_R2019A_V1_0.shp'
ghs = gpd.read_file(ghs_fn)

In [ ]:
# GHS columns we want 
cols = ['ID_HDC_G0','CTR_MN_NM', 'UC_NM_MN','GCPNT_LAT','GCPNT_LON']
ghs_sub = ghs[cols]

In [ ]:
regions.rename(columns={'name': 'CTR_MN_NM'}, inplace = True)

In [ ]:
df_out = ghs_sub.merge(regions, on = 'CTR_MN_NM', how = 'left')

In [ ]:
for cnt in sorted(df_out.CTR_MN_NM.unique()):
    print(cnt)

In [ ]:
# Get UN regions
regions_fn = DATA_PATH+'raw/countrylist.csv'
regions = pd.read_csv(regions_fn)

In [ ]:
regions[regions['name'] == 'Cabo Verde']

In [ ]:
fn_in = DATA_PATH+'interim/GHS-UCDB-IDS.csv'

In [ ]:
meta = pd.read_csv(fn_in)

In [ ]:
meta[meta['CTR_MN_NM'] == 'Cape Verde']

In [ ]:
meta[meta.CTR_MN_NM.isnull()]

In [ ]:
len(meta)

In [ ]:
# Load Files
DATA_PATH= '/home/cascade/projects/UrbanHeat/data/'

# Get GHS-UCDB Columns we want to use 
ghs_fn = DATA_PATH+'raw/GHS_UCDB/GHS_STAT_UCDB2015MT_GLOBE_R2019A_V1_0.shp'
ghs = gpd.read_file(ghs_fn)

# GHS columns we want 
cols = ['ID_HDC_G0','CTR_MN_NM', 'UC_NM_MN','GCPNT_LAT','GCPNT_LON']
df_out = ghs[cols]

# Fix Ivory coast
df_out.CTR_MN_NM = df_out.CTR_MN_NM.replace('CÃ´te d\'Ivoire', 'Ivory Coast') 

# Get UN regions
regions_fn = DATA_PATH+'raw/countrylist.csv'
regions = pd.read_csv(regions_fn)

cols = ['name','region','sub-region','intermediate-region']
regions = regions[cols]
regions.rename(columns={'name': 'CTR_MN_NM'}, inplace = True)

# Merge
df_out = df_out.merge(regions, on = 'CTR_MN_NM', how = 'left')

# write out 
# fn_out = DATA_PATH+'interim/GHS-UCDB-IDS.csv'
# df_out.to_csv(fn_out, index = False)

In [ ]:
df_out

In [ ]:
df_out[df_out['GCPNT_LAT'].isnull()]

In [ ]:
df_out[df_out['ID_HDC_G0'] == 1450]

In [ ]:
ids = [ 1450,  1451,  1549,  1562,  1563,  1567,  1583,  1585,  1586,
        1587,  1589,  1590,  1591,  1601,  1603,  1606,  1610,  1611,
        1615,  1617,  1625,  1628,  1633,  1637,  1639,  1642,  1666,
        1672,  1675,  1683,  1684,  1689,  1693,  1704,  1706,  1707,
        1713,  1715,  1718,  1725,  1728,  1729,  1741,  1746,  1751,
        1752,  1753,  1759,  1760,  1761,  1764,  1767,  1770,  1771,
        1772,  1773,  1775,  1776,  1777,  1778,  1780,  1781,  1782,
        1786,  1790,  1792,  1793,  1794,  1795,  1796,  1800,  1803,
        1805,  1806,  1810,  1811,  1813,  1815,  1816,  1819,  1828,
        1831,  1833,  1834,  1835,  1836,  1837,  1838,  1839,  1840,
        1841,  1845,  1847,  1848,  1851,  1857,  1858,  1859,  1860,
        1861,  1862,  1864,  1867,  1869,  1874,  1877,  1880,  1887,
        1889,  1891,  1892,  1893,  1895,  1896,  1899,  1900,  1905,
        1906,  1912,  1914,  1915,  1919,  1920,  1923,  1924,  1929,
        1930,  1936,  1939,  1945,  1946,  1948,  1960,  1965,  1971,
        1973,  1978,  1979,  1980,  1981,  1983,  1984,  1993,  1995,
        2003,  2004,  2005,  2485,  2886,  2911,  2921,  2927,  2939,
        2951,  2989,  2992,  3036,  3063,  3120,  3132,  3468,  3498,
        3501,  3534,  3537, 12687, 12689, 12691, 12692, 12693, 12694,
       12695, 12696, 12697, 12698, 12699, 12700, 12701, 12702, 12703,
       12709, 12714, 12715, 12717, 12718, 12721, 12724]

In [ ]:
bad_data = df_out[df_out['ID_HDC_G0'].isin(ids)]

In [ ]:
bad_data

In [ ]:
bad_countries = list(bad_data['CTR_MN_NM'].unique())

In [ ]:
sorted(bad_countries)

In [ ]:
# Get UN regions
countries_fn = DATA_PATH+'raw/countrylist.csv'
countries = pd.read_csv(regions_fn)

In [ ]:
countries

In [ ]:
for name in countries['name']:
    print(name)