In [ ]:
#### Aug 27 2020
# Checking ERA5 RH before running it

In [4]:
import pandas as pd
import rasterio
import matplotlib.pyplot as plt

In [ ]:
# DATA_IN = '/home/cascade/projects/UrbanHeat/data/interim/ERA5_RH/'
DATA_IN = '/home/cascade/projects/UrbanHeat/data/interim/ERA5-MERRA2-RH/ERA5_RH/'
RH_FN = 'GHS-ERA5-RH_1983.csv'

In [ ]:
RH = pd.read_csv(DATA_IN+RH_FN)

In [ ]:
RH.head()

In [ ]:
#### RH data still looks funky, check rasters
DATA_IN = '/home/CHIRTS/daily_ERA5/w-ERA5_Td.eq2/1983/'
DATE = '1983.07.01'
RH_RST_FN = 'RH.'+DATE+'.tif'

In [ ]:
RH_RST = rasterio.open(DATA_IN+RH_RST_FN)

In [ ]:
arr = RH_RST.read(1)

In [ ]:
fig, axs = plt.subplots(1, 1, figsize = (16, 5), sharex=True)
im = axs.imshow(arr)
fig.colorbar(mappable = im)
plt.title('ERA5 Down-scaled RH '+DATE);

In [ ]:
#### Rasters look ok so check specific cities and dates

In [ ]:
RH[RH['CTR_MN_NM'] == 'Chad']['1983.01.07'][:10]

In [1]:
#### RH looks good, let's check heat index data
DATA_IN = '/home/cascade/projects/UrbanHeat/data/interim/ERA5_HI/'
HI_FN = 'GHS-ERA5-HI_1983.csv'

In [4]:
HI = pd.read_csv(DATA_IN+HI_FN)

In [5]:
HI.head()

,Unnamed: 0,ID_HDC_G0,CTR_MN_NM,1983.01.01,1983.01.02,1983.01.03,1983.01.04,1983.01.05,1983.01.06,1983.01.07,...,1983.12.22,1983.12.23,1983.12.24,1983.12.25,1983.12.26,1983.12.27,1983.12.28,1983.12.29,1983.12.30,1983.12.31
0,0,5782,Russia,-49.857214,-38.729252,-37.001551,-29.143848,-27.000158,-22.011683,-21.723666,...,-27.730533,-37.050467,-30.901891,-20.311091,-14.930245,-14.632136,-17.034772,-15.178763,-14.934411,-17.088080
1,1,3316,Russia,-4.448029,-2.749327,-6.614082,-14.010675,-7.999239,-7.755829,-5.825578,...,-13.148299,-18.989402,-8.909535,-9.247229,-15.846875,-19.561407,-20.013953,-12.989734,-13.495910,-16.124821
2,2,5645,Russia,-38.421634,-23.388137,-13.584402,-11.483258,-15.887374,-18.694718,-24.199398,...,-20.897827,-26.194221,-17.223648,-2.882725,-4.359712,-9.710804,-12.080263,-15.853232,-15.265374,-12.252254
3,3,3185,Finland,-0.364913,0.126625,-5.147376,-2.239638,-1.765041,-0.264282,-0.551099,...,-6.302291,-3.434607,-3.045877,-7.742753,-13.689821,-5.224839,-5.823378,-10.373148,-10.341955,-10.547523
4,4,3539,Russia,-10.380945,-9.793969,-20.098505,-16.056241,-12.463709,-5.252823,-0.493196,...,-6.037689,-3.076933,-1.874009,-1.958378,-6.382231,-10.348652,-10.520248,-10.544188,-10.594575,-12.054484

In [7]:
HI[HI['CTR_MN_NM'] == 'Chad']['1983.06.07'][:10]

8315    43.289521
8467    32.630066
8631    39.376969
8725    41.246861
8747    43.975651
8844    42.442880
8854    39.702715
8908    48.039029
8928    51.836257
8937    48.400447
Name: 1983.06.07, dtype: float64

In [ ]:
#### Let's check the final data

In [15]:
# New data with ERA5 RH
DATA_IN = '/home/cascade/projects/UrbanHeat/data/processed/'
FN_IN = 'AllDATA-GHS-ERA5-HI406-FIGDATA.csv'
NEW_DATA = pd.read_csv(DATA_IN+FN_IN)

FN_IN = 'AllDATA-GHS-ERA5-HI406-META.csv'
NEW_STATS = pd.read_csv(DATA_IN+FN_IN)

In [16]:
NEW_STATS.head()

,Unnamed: 0,Unnamed: 0.1,ID_HDC_G0,CTR_MN_NM,total_days,duration,avg_temp,avg_intensity,tot_intensity,event_dates,intensity,tmax,year,Event_ID,region,sub-region,intermediate-region,GCPNT_LAT,GCPNT_LON
0,0,0,5872,Russia,4,4,42.044214,1.444214,5.776855,['1983.06.24' '1983.06.25' '1983.06.26' '1983....,[0.25877464 0.97121187 0.6026487 3.94422018],[40.85877464 41.57121187 41.2026487 44.54422018],1983,1,Europe,Eastern Europe,Eastern Europe,60.934879,76.563941
1,1,4,5872,Russia,1,1,45.551854,4.951854,4.951854,['1998.08.09'],[4.9518539],[45.5518539],1998,2752230,Europe,Eastern Europe,Eastern Europe,60.934879,76.563941
2,2,1,6155,Russia,1,1,40.653628,0.053628,0.053628,['1983.06.26'],[0.05362772],[40.65362772],1983,2,Europe,Eastern Europe,Eastern Europe,56.264886,90.499493
3,3,29,6155,Russia,1,1,43.823756,3.223756,3.223756,['1989.07.12'],[3.22375646],[43.82375646],1989,1101253,Europe,Eastern Europe,Eastern Europe,56.264886,90.499493
4,4,28,6155,Russia,1,1,41.738616,1.138616,1.138616,['1991.07.10'],[1.13861616],[41.73861616],1991,1466353,Europe,Eastern Europe,Eastern Europe,56.264886,90.499493

In [17]:
# Old data with MERRA-2 RH
DATA_IN = '/home/cascade/projects/UrbanHeat/data/processed/ERA5-MERRA2/'
FN_IN = 'AllDATA-GHS-ERA5-HI406-FIGDATA.csv'
OLD_DATA = pd.read_csv(DATA_IN+FN_IN)

FN_IN = 'AllDATA-GHS-ERA5-HI406-META.csv'
OLD_STATS = pd.read_csv(DATA_IN+FN_IN)

In [6]:
NEW_DATA.head()

,Unnamed: 0,ID_HDC_G0,year,total_days,P,P1983,P2016,people_days,people_days_heat,people_days_pop
0,0,5872,1983,4,118512.488678,118512.488678,123162.925438,474049.954712,474049.954712,0.000000
1,1,5872,1998,1,124242.299487,118512.488678,123162.925438,124242.299487,118512.488678,5729.810809
2,2,6155,1983,1,75330.945329,75330.945329,68715.577148,75330.945329,75330.945329,0.000000
3,3,6155,1989,1,76870.685270,75330.945329,68715.577148,76870.685270,75330.945329,1539.739941
4,4,6155,1991,1,76865.328467,75330.945329,68715.577148,76865.328467,75330.945329,1534.383138

In [8]:
OLD_DATA.head()

,Unnamed: 0,ID_HDC_G0,year,total_days,P,P1983,P2016,people_days,people_days_heat,people_days_pop
0,0,5645,1983,1,80796.793810,80796.79381,96123.248169,80796.793810,80796.79381,0.000000
1,1,5645,1989,2,78918.494262,80796.79381,96123.248169,157836.988523,161593.58762,-3756.599097
2,2,5645,1990,3,78605.444337,80796.79381,96123.248169,235816.333011,242390.38143,-6574.048420
3,3,5645,1994,1,76481.266889,80796.79381,96123.248169,76481.266889,80796.79381,-4315.526921
4,4,5645,2005,1,80904.416534,80796.79381,96123.248169,80904.416534,80796.79381,107.622724

In [10]:
#### Let's look at paris 2046
old_city = OLD_DATA[OLD_DATA['ID_HDC_G0'] == 2046]
new_city = NEW_DATA[NEW_DATA['ID_HDC_G0'] == 2046]

In [13]:
old_city[old_city['year'] == 1983]

,Unnamed: 0,ID_HDC_G0,year,total_days,P,P1983,P2016,people_days,people_days_heat,people_days_pop
6621,6621,2046,1983,2,8.224578e+06,8.224578e+06,9.711652e+06,1.644916e+07,1.644916e+07,0.0

In [14]:
new_city[new_city['year'] == 1983]

,Unnamed: 0,ID_HDC_G0,year,total_days,P,P1983,P2016,people_days,people_days_heat,people_days_pop
11754,11754,2046,1983,3,8.224578e+06,8.224578e+06,9.711652e+06,2.467374e+07,2.467374e+07,0.0

In [18]:
#### Let's look at paris 2046
old_city_stat = OLD_STATS[OLD_STATS['ID_HDC_G0'] == 2046]
new_city_stat = NEW_STATS[NEW_STATS['ID_HDC_G0'] == 2046]

In [20]:
old_city_stat[old_city_stat['year'] == 2003]

,Unnamed: 0,Unnamed: 0.1,ID_HDC_G0,CTR_MN_NM,total_days,duration,avg_temp,avg_intensity,tot_intensity,event_dates,intensity,tmax,year,Event_ID,region,sub-region,intermediate-region,GCPNT_LAT,GCPNT_LON
12473,12473,477,2046,France,9,9,44.779882,4.179882,37.618938,['2003.08.04' '2003.08.05' '2003.08.06' '2003....,[1.13297322 4.31255677 8.00699478 5.21369439 3...,[41.73297322 44.91255677 48.60699478 45.813694...,2003,3344928,Europe,Western Europe,Western Europe,48.839905,2.32201

In [21]:
new_city_stat[new_city_stat['year'] == 2003]

,Unnamed: 0,Unnamed: 0.1,ID_HDC_G0,CTR_MN_NM,total_days,duration,avg_temp,avg_intensity,tot_intensity,event_dates,intensity,tmax,year,Event_ID,region,sub-region,intermediate-region,GCPNT_LAT,GCPNT_LON
31791,31791,1200,2046,France,9,9,47.71503,7.11503,64.035269,['2003.08.04' '2003.08.05' '2003.08.06' '2003....,[ 3.11467952 6.92976453 13.42494675 11.142212...,[43.71467952 47.52976453 54.02494675 51.742212...,2003,3669498,Europe,Western Europe,Western Europe,48.839905,2.32201

# Old Code (but useful)
2020.08.26 CPT

In [ ]:
DATA_IN = '/home/CHIRTS/Tmax/v1.0/daily_ERA5/'

In [ ]:
import os
from glob import glob

In [ ]:
dir_list= sorted(glob(DATA_IN+'*/'))

In [ ]:
dir_list = dir_list[:-1]

In [ ]:
dir_nm = dir_list[0]
dir_year = dir_nm.split(DATA_IN)[1].split('/')[0]

In [ ]:
DATA = 'Tmax.'
for fn in sorted(os.listdir(dir_nm)):
    
    if fn.startswith(DATA):        
        dir_year = dir_nm.split(DATA_IN)[1].split('/')[0]
        # Get the date of each chirt file
        date = (fn.split(DATA)[1].split('.tif')[0]) 
        print(dir_year)
        print(date)

In [ ]:
import pandas as pd

In [ ]:
DIR_Tmax = '/home/cascade/projects/UrbanHeat/data/interim/ERA5_Tmax/'
DIR_RH = '/home/cascade/projects/UrbanHeat/data/interim/ERA5_RH/'

In [ ]:
Tmax = pd.read_csv(DIR_Tmax+'GHS-ERA5-Tmax_1983.csv')

In [ ]:
Tmax.iloc[:,3:].head(2)

In [ ]:
RH = pd.read_csv(DIR_RH+'GHS-ERA5-RH_1983.csv')

In [ ]:
RH.iloc[:,3:].head(2)

In [ ]:
fn = 'GHS-ERA5-Tmax_1983.csv'
data = 'GHS-ERA5-Tmax_'

In [ ]:
fn.split(data)[1].split('.csv')[0]

In [ ]:
DIR_Tmax = '/home/cascade/projects/UrbanHeat/data/interim/ERA5_Tmax/'
DIR_RH = '/home/cascade/projects/UrbanHeat/data/interim/ERA5_RH/'

In [ ]:
import glob
Tmax_fn_list = glob.glob(DIR_Tmax+'*.csv')
RH_fn_list = glob.glob(DIR_RH+'*.csv')

In [ ]:
Tmax_fn_list

In [ ]:
fn = 'GHS-ERA5-HI_1983.csv'
FN_IN = 'GHS-ERA5-HI_'
year = fn.split(FN_IN)[1].split('.csv')[0] # for some reason it's 2...?
print(year)

In [ ]:
import pandas as pd
# File Paths + FN
DATA_INTERIM = '/home/cascade/projects/UrbanHeat/data/interim/' # interim data
DATA_PROCESSED = '/home/cascade/projects/UrbanHeat/data/processed/'
DATA_IN = DATA_INTERIM+'ERA5_HI/' # output from avg temp <<<<< UPDATE

#FN_OUT = DATA_PROCESSED+'AllDATA-GHS-ERA5-HI406.csv' #<<< UPDATE

In [ ]:
import pandas as pd
import glob

# File Paths + FN
DATA_INTERIM = '/home/cascade/projects/UrbanHeat/data/interim/' # interim data
DATA_PROCESSED = '/home/cascade/projects/UrbanHeat/data/processed/'
DATA_IN = DATA_INTERIM+'ERA5_HI/' # output from avg temp <<<<< UPDATE

FN_OUT = DATA_PROCESSED+'AllDATA-GHS-ERA5-HI406.csv' #<<< UPDATE
FN_IN = 'GHS-ERA5-HI_'

def event_stack_loop(dir_in):
    
    """ Loop through a dir with csvs of tmax events for each year and
    stack them into one data frame. Current file name is CHIRTS-GHS-Events-StatsXXXX.csv
    
    Args:
        dir_in = dir path to loop through

    """
        
    # Get File list
    fn_list = glob.glob(dir_in+'*.csv')
    
    fn_list = fn_list[:2]
    
    # Data frame to fill
    df_out = pd.DataFrame()
    
    for fn in sorted(fn_list):
            
        year = fn.split(FN_IN)[1].split('.csv')[0] # for some reason it's 2...?
        print(year)
        
        # open csv 
        stats = pd.read_csv(fn)
        
        stats['year'] = year
#        print('stats is ', stats.shape)
        
        print(len(df_out))
        
        df_out = df_out.append(stats, sort = False)
    
    return df_out

# Run script
event_stack = event_stack_loop(DATA_IN)
print(len(event_stack))

# Add 'Event_ID'
event_stack = event_stack.rename(columns = {'Unnamed: 0' : 'Event_ID'})

event_ids = range(1, len(event_stack)+1)
len(event_ids)

event_stack['Event_ID'] = event_ids

#event_stack.to_csv(FN_OUT)

In [ ]:
event_stack.head()

In [ ]:
# GHS-ERA5-Stats_
# Dependencies

import pandas as pd
import glob

# File Paths + FN
DATA_INTERIM = '/home/cascade/projects/UrbanHeat/data/interim/' # interim data
DATA_PROCESSED = '/home/cascade/projects/UrbanHeat/data/processed/'
DATA_IN = DATA_INTERIM+'ERA5_STATS/' # <<<<< UPDATE

FN_OUT = DATA_PROCESSED+'AllDATA-GHS-ERA5-HI406.csv' #<<< UPDATE
FN_IN = 'GHS-ERA5-STATS_' #<<< UPDATE

def event_stack_loop(dir_in):
    
    """ Loop through a dir with csvs of tmax events for each year and
    stack them into one data frame. Current file name is CHIRTS-GHS-Events-StatsXXXX.csv
    
    Args:
        dir_in = dir path to loop through

    """
        
    # Get File list
    fn_list = glob.glob(dir_in+'*.csv')
    fn_list = fn_list[:3]
    
    # Data frame to fill
    df_out = pd.DataFrame()
    
    for fn in sorted(fn_list):
            
        year = fn.split(FN_IN)[1].split('.csv')[0] # for some reason it's 2...?
        print(year)
        
        # open csv 
        stats = pd.read_csv(fn)
        
        # drop index col
        stats = stats.iloc[:,1:]
        
        stats['year'] = year
        
        print(len(df_out))
        
        df_out = df_out.append(stats)
    
    return df_out

# Run script
event_stack = event_stack_loop(DATA_IN)
print(len(event_stack))

# Add 'Event_ID'
event_ids = range(1, len(event_stack)+1)
len(event_ids)

event_stack['Event_ID'] = event_ids

print('Writing final df to disk')
#event_stack.to_csv(FN_OUT)
print('ALL DONE!')

In [ ]:
fn_list = glob.glob(DATA_IN+'*.csv')
fn_list = fn_list[:3]

df1 = pd.read_csv(fn_list[0])

In [ ]:
fn_list

In [ ]:
FN_IN = 'GHS-ERA5-Stats_'
year = fn_list[0].split(FN_IN)[1].split('.csv')[0]
year

In [ ]:
#### Dependencies
import pandas as pd
import numpy as np
import geopandas as gpd

#### Load Files

DATA_PROCESSED = '/home/cascade/projects/UrbanHeat/data/processed/'
FN_IN = DATA_PROCESSED+"AllDATA-GHS-ERA5-HI406.csv" # SET
FN_OUT = DATA_PROCESSED+"AllDATA-GHS-ERA5-HI406-META.csv" # SET

events = pd.read_csv(FN_IN)
ghs = gpd.read_file('/home/cascade/tana-crunch-cascade/projects/UrbanHeat/data/raw/GHS_UCDB/GHS_STAT_UCDB2015MT_GLOBE_R2019A_V1_0.shp')
countries = pd.read_csv('/home/cascade/tana-crunch-cascade/projects/UrbanHeat/data/raw/countrylist.csv')

print(events.head())

# Fix Ivory Coast
#events.CTR_MN_NM = events.CTR_MN_NM.replace('CÃƒÂ´te d\'Ivoire', 'Ivory Coast') #CPT 2020.02.23

#### Merge Events and Countries <<<--- 2020.03.30 commented out by CPT, not needed
# ghs_countries = pd.DataFrame()
# ghs_countries['CTR_MN_NM'] = ghs['CTR_MN_NM']
# ghs_countries['ID_HDC_G0'] = ghs['ID_HDC_G0']
# events = events.merge(ghs_countries, on = 'ID_HDC_G0', how = 'inner')
events.CTR_MN_NM = events.CTR_MN_NM.replace('CÃƒÂ´te d\'Ivoire', 'Ivory Coast') 

# make a region dataframe of the cols we want
regions = pd.DataFrame()
regions['CTR_MN_NM'] = countries['name']
regions['region'] = countries['region']
regions['sub-region'] = countries['sub-region']
regions['intermediate-region'] = countries['intermediate-region']

# Merge 
print(len(events))
events = events.merge(regions, on = 'CTR_MN_NM', how = 'inner')
print(len(events))

print(events.head())

#### Add lat/lon of GHS-UCDB to events
# get GHS-UCDB lat/long
df = pd.DataFrame()
df['ID_HDC_G0'] = ghs['ID_HDC_G0']
df['GCPNT_LAT'] = ghs['GCPNT_LAT']
df['GCPNT_LON'] = ghs['GCPNT_LON']

# merge
events = events.merge(df, on = 'ID_HDC_G0', how = 'inner')

print(events.head())

# save out file 
events.to_csv(FN_OUT)

In [ ]:
events.head()