# Notebook to search our data
Cascade Tuholske 2021.02.15

In [1]:
# Dependencies
import pandas as pd
import os
from glob import glob
import multiprocessing as mp 
from multiprocessing import Pool

## Find Cities

In [2]:
C40_cities = ['Addis Ababa',
'Amman',
'Amsterdam',
'Athinai (Athens)',#'Athens',
'Auckland',
'Austin',
'Basel',#'Basel-Stadt',
'Bogota',#'Bogotá',
'Boston',
'Buenos Aires',
'Cape Town',
'Caracas',
'Chicago',
'Kbenhavn (Copenhagen)',#'Copenhagen',
'Curitiba',
'Washington, D.C.',#'District of Columbia',
'Durban (Ethekwini)',#'Durban',
'Hong Kong',
'Houston',
'Jakarta',
'Johannesburg',
'Lagos',
'Lima',
'London',
'Los Angeles',
'Madrid',
'Melbourne',
'Ciudad de Mexico (Mexico City)',#'Mexico City',
'Milano (Milan)',#'Milano',
'New Orleans',
'New York-Newark',#'New York City',
'Oslo',
'Paris',
'Philadelphia',
'Portland',#'Portland, OR',
'Pretoria', #'Pretoria - Tshwane',
'Quito',
'Rio de Janeiro',
'Roma (Rome)',#'Roma',
'Rotterdam',
'Salvador',
'San Francisco',
'Santiago',
'Seattle',
'Seoul',
'Heidelberg',#'Stadt Heidelberg',
'Stockholm',
'Sydney',
'Tokyo',
'Toronto',
'Vancouver',
'Venezia',
'Warszawa (Warsaw)',#'Warsaw',
'Tokyo']#'Yokohama']

In [3]:
DATA_PATH = '/home/cascade/projects/UrbanHeat/data/'
ids_fn = DATA_PATH+'interim/GHS-UCDB-IDS.csv'
ids = pd.read_csv(ids_fn)

In [4]:
ids

,ID_HDC_G0,CTR_MN_NM,UC_NM_MN,GCPNT_LAT,GCPNT_LON,region,sub-region,intermediate-region
0,5782,Russia,Norilsk [RUS],69.333682,88.205172,Europe,Eastern Europe,Eastern Europe
1,3316,Russia,Murmansk [RUS],68.955354,33.078645,Europe,Eastern Europe,Eastern Europe
2,5645,Russia,Novy Urengoy [RUS],66.083799,76.646580,Europe,Eastern Europe,Eastern Europe
3,3539,Russia,Severodvinsk [RUS],64.572142,39.831477,Europe,Eastern Europe,Eastern Europe
4,3554,Russia,Arkhangelsk [RUS],64.536597,40.596246,Europe,Eastern Europe,Eastern Europe
...,...,...,...,...,...,...,...,...
12915,13127,New Zealand,Hamilton [NZL],-37.773802,175.271232,Oceania,Australia and New Zealand,Australia and New Zealand
12916,13124,New Zealand,Palmerston North [NZL],-40.350511,175.614762,Oceania,Australia and New Zealand,Australia and New Zealand
12917,13121,New Zealand,Wellington [NZL],-41.305691,174.786046,Oceania,Australia and New Zealand,Australia and New Zealand
12918,13071,New Zealand,Christchurch [NZL],-43.525401,172.621443,Oceania,Australia and New Zealand,Australia and New Zealand
12919,13046,New Zealand,Dunedin [NZL],-45.881060,170.498303,Oceania,Australia and New Zealand,Australia and New Zealand

In [5]:
# Drop country from city name
ids['city_nm'] = ids['UC_NM_MN'].map(lambda X: X.split(' [')[0]) # lambda x: x.split(' ['[0]))

In [6]:
# find intersection
a = list(ids['city_nm'])
b = C40_cities
common_cities = list(set(a).intersection(set(b)))
missing_cities = list(set(b).difference(set(a)))

# let's manually find missing cities
# country = 'Poland'
# for city in cities[cities['CTR_MN_NM']== country]['city_nm']:
#     print(city)

In [8]:
# merge them
df_common = pd.DataFrame()
df_common['city_nm'] = C40_cities
df_common = df_common.merge(ids, on = 'city_nm', how = 'inner')

In [10]:
df_common.to_csv(DATA_PATH+'interim/ghs-c40.csv')

## City Search

In [ ]:
def search(): 
    """
    """
    
    # Dirs and fns
    DATA_PATH = '/home/cascade/projects/UrbanHeat/data/'
    OUT = DATA_PATH
    
    # open df
    df = pd.open_csv('')