In [ ]:
DATA_IN = '/home/CHIRTS/Tmax/v1.0/daily_ERA5/'

In [ ]:
import os
from glob import glob

In [ ]:
dir_list= sorted(glob(DATA_IN+'*/'))

In [ ]:
dir_list = dir_list[:-1]

In [ ]:
dir_nm = dir_list[0]
dir_year = dir_nm.split(DATA_IN)[1].split('/')[0]

In [ ]:
DATA = 'Tmax.'
for fn in sorted(os.listdir(dir_nm)):
    
    if fn.startswith(DATA):        
        dir_year = dir_nm.split(DATA_IN)[1].split('/')[0]
        # Get the date of each chirt file
        date = (fn.split(DATA)[1].split('.tif')[0]) 
        print(dir_year)
        print(date)

In [ ]:
import pandas as pd

In [ ]:
DIR_Tmax = '/home/cascade/projects/UrbanHeat/data/interim/ERA5_Tmax/'
DIR_RH = '/home/cascade/projects/UrbanHeat/data/interim/ERA5_RH/'

In [ ]:
Tmax = pd.read_csv(DIR_Tmax+'GHS-ERA5-Tmax_1983.csv')

In [ ]:
Tmax.iloc[:,3:].head(2)

In [ ]:
RH = pd.read_csv(DIR_RH+'GHS-ERA5-RH_1983.csv')

In [ ]:
RH.iloc[:,3:].head(2)

In [ ]:
fn = 'GHS-ERA5-Tmax_1983.csv'
data = 'GHS-ERA5-Tmax_'

In [ ]:
fn.split(data)[1].split('.csv')[0]

In [ ]:
DIR_Tmax = '/home/cascade/projects/UrbanHeat/data/interim/ERA5_Tmax/'
DIR_RH = '/home/cascade/projects/UrbanHeat/data/interim/ERA5_RH/'

In [ ]:
import glob
Tmax_fn_list = glob.glob(DIR_Tmax+'*.csv')
RH_fn_list = glob.glob(DIR_RH+'*.csv')

In [ ]:
Tmax_fn_list

In [ ]:
fn = 'GHS-ERA5-HI_1983.csv'
FN_IN = 'GHS-ERA5-HI_'
year = fn.split(FN_IN)[1].split('.csv')[0] # for some reason it's 2...?
print(year)

In [ ]:
import pandas as pd
# File Paths + FN
DATA_INTERIM = '/home/cascade/projects/UrbanHeat/data/interim/' # interim data
DATA_PROCESSED = '/home/cascade/projects/UrbanHeat/data/processed/'
DATA_IN = DATA_INTERIM+'ERA5_HI/' # output from avg temp <<<<< UPDATE

#FN_OUT = DATA_PROCESSED+'AllDATA-GHS-ERA5-HI406.csv' #<<< UPDATE

In [ ]:
import pandas as pd
import glob

# File Paths + FN
DATA_INTERIM = '/home/cascade/projects/UrbanHeat/data/interim/' # interim data
DATA_PROCESSED = '/home/cascade/projects/UrbanHeat/data/processed/'
DATA_IN = DATA_INTERIM+'ERA5_HI/' # output from avg temp <<<<< UPDATE

FN_OUT = DATA_PROCESSED+'AllDATA-GHS-ERA5-HI406.csv' #<<< UPDATE
FN_IN = 'GHS-ERA5-HI_'

def event_stack_loop(dir_in):
    
    """ Loop through a dir with csvs of tmax events for each year and
    stack them into one data frame. Current file name is CHIRTS-GHS-Events-StatsXXXX.csv
    
    Args:
        dir_in = dir path to loop through

    """
        
    # Get File list
    fn_list = glob.glob(dir_in+'*.csv')
    
    fn_list = fn_list[:2]
    
    # Data frame to fill
    df_out = pd.DataFrame()
    
    for fn in sorted(fn_list):
            
        year = fn.split(FN_IN)[1].split('.csv')[0] # for some reason it's 2...?
        print(year)
        
        # open csv 
        stats = pd.read_csv(fn)
        
        stats['year'] = year
#        print('stats is ', stats.shape)
        
        print(len(df_out))
        
        df_out = df_out.append(stats, sort = False)
    
    return df_out

# Run script
event_stack = event_stack_loop(DATA_IN)
print(len(event_stack))

# Add 'Event_ID'
event_stack = event_stack.rename(columns = {'Unnamed: 0' : 'Event_ID'})

event_ids = range(1, len(event_stack)+1)
len(event_ids)

event_stack['Event_ID'] = event_ids

#event_stack.to_csv(FN_OUT)

In [ ]:
event_stack.head()

In [8]:
# GHS-ERA5-Stats_
# Dependencies

import pandas as pd
import glob

# File Paths + FN
DATA_INTERIM = '/home/cascade/projects/UrbanHeat/data/interim/' # interim data
DATA_PROCESSED = '/home/cascade/projects/UrbanHeat/data/processed/'
DATA_IN = DATA_INTERIM+'ERA5_STATS/' # <<<<< UPDATE

FN_OUT = DATA_PROCESSED+'AllDATA-GHS-ERA5-HI406.csv' #<<< UPDATE
FN_IN = 'GHS-ERA5-STATS_' #<<< UPDATE

def event_stack_loop(dir_in):
    
    """ Loop through a dir with csvs of tmax events for each year and
    stack them into one data frame. Current file name is CHIRTS-GHS-Events-StatsXXXX.csv
    
    Args:
        dir_in = dir path to loop through

    """
        
    # Get File list
    fn_list = glob.glob(dir_in+'*.csv')
    fn_list = fn_list[:3]
    
    # Data frame to fill
    df_out = pd.DataFrame()
    
    for fn in sorted(fn_list):
            
        year = fn.split(FN_IN)[1].split('.csv')[0] # for some reason it's 2...?
        print(year)
        
        # open csv 
        stats = pd.read_csv(fn)
        
        # drop index col
        stats = stats.iloc[:,1:]
        
        stats['year'] = year
        
        print(len(df_out))
        
        df_out = df_out.append(stats)
    
    return df_out

# Run script
event_stack = event_stack_loop(DATA_IN)
print(len(event_stack))

# Add 'Event_ID'
event_ids = range(1, len(event_stack)+1)
len(event_ids)

event_stack['Event_ID'] = event_ids

print('Writing final df to disk')
#event_stack.to_csv(FN_OUT)
print('ALL DONE!')

IndexError: list index out of range

In [9]:
fn_list = glob.glob(DATA_IN+'*.csv')
fn_list = fn_list[:3]

df1 = pd.read_csv(fn_list[0])

In [11]:
fn_list

['/home/cascade/projects/UrbanHeat/data/interim/ERA5_STATS/GHS-ERA5-Stats_2010.csv',
 '/home/cascade/projects/UrbanHeat/data/interim/ERA5_STATS/GHS-ERA5-Stats_1989.csv',
 '/home/cascade/projects/UrbanHeat/data/interim/ERA5_STATS/GHS-ERA5-Stats_1987.csv']

In [15]:
FN_IN = 'GHS-ERA5-Stats_'
year = fn_list[0].split(FN_IN)[1].split('.csv')[0]
year

'2010'

In [22]:
#### Dependencies
import pandas as pd
import numpy as np
import geopandas as gpd

#### Load Files

DATA_PROCESSED = '/home/cascade/projects/UrbanHeat/data/processed/'
FN_IN = DATA_PROCESSED+"AllDATA-GHS-ERA5-HI406.csv" # SET
FN_OUT = DATA_PROCESSED+"AllDATA-GHS-ERA5-HI406-META.csv" # SET

events = pd.read_csv(FN_IN)
ghs = gpd.read_file('/home/cascade/tana-crunch-cascade/projects/UrbanHeat/data/raw/GHS_UCDB/GHS_STAT_UCDB2015MT_GLOBE_R2019A_V1_0.shp')
countries = pd.read_csv('/home/cascade/tana-crunch-cascade/projects/UrbanHeat/data/raw/countrylist.csv')

print(events.head())

# Fix Ivory Coast
#events.CTR_MN_NM = events.CTR_MN_NM.replace('CÃ´te d\'Ivoire', 'Ivory Coast') #CPT 2020.02.23

#### Merge Events and Countries <<<--- 2020.03.30 commented out by CPT, not needed
# ghs_countries = pd.DataFrame()
# ghs_countries['CTR_MN_NM'] = ghs['CTR_MN_NM']
# ghs_countries['ID_HDC_G0'] = ghs['ID_HDC_G0']
# events = events.merge(ghs_countries, on = 'ID_HDC_G0', how = 'inner')
events.CTR_MN_NM = events.CTR_MN_NM.replace('CÃ´te d\'Ivoire', 'Ivory Coast') 

# make a region dataframe of the cols we want
regions = pd.DataFrame()
regions['CTR_MN_NM'] = countries['name']
regions['region'] = countries['region']
regions['sub-region'] = countries['sub-region']
regions['intermediate-region'] = countries['intermediate-region']

# Merge 
print(len(events))
events = events.merge(regions, on = 'CTR_MN_NM', how = 'inner')
print(len(events))

print(events.head())

#### Add lat/lon of GHS-UCDB to events
# get GHS-UCDB lat/long
df = pd.DataFrame()
df['ID_HDC_G0'] = ghs['ID_HDC_G0']
df['GCPNT_LAT'] = ghs['GCPNT_LAT']
df['GCPNT_LON'] = ghs['GCPNT_LON']

# merge
events = events.merge(df, on = 'ID_HDC_G0', how = 'inner')

print(events.head())

# save out file 
events.to_csv(FN_OUT)

   Unnamed: 0  ID_HDC_G0 CTR_MN_NM  total_days  duration   avg_temp  \
0           0       5645    Russia           1         1  42.596714
1           1       5872    Russia           6         6  43.411134
2           2       6155    Russia           1         1  42.275731
3           3       4993    Russia           1         1  41.127857
4           4       3091    Poland           1         1  42.874764

   avg_intensity  tot_intensity  \
0       1.996714       1.996714
1       2.811134      16.866806
2       1.675731       1.675731
3       0.527857       0.527857
4       2.274764       2.274764

                                         event_dates  \
0                                     ['1983.06.28']
1  ['1983.06.23' '1983.06.24' '1983.06.25' '1983....
2                                     ['1983.06.26']
3                                     ['1983.08.15']
4                                     ['1983.05.16']

                                           intensity  \
0                                       [1.99671447]
1  [5.31903748 2.9527051  0.88265857 2.27567969 4...
2                                       [1.67573143]
3                                       [0.52785663]
4                                       [2.27476433]

                                                tmax  year  Event_ID
0                                      [42.59671447]  1983         1
1  [45.91903748 43.5527051  41.48265857 42.875679...  1983         2
2                                      [42.27573143]  1983         3
3                                      [41.12785663]  1983         4
4                                      [42.87476433]  1983         5
5757330
5745226
   Unnamed: 0  ID_HDC_G0 CTR_MN_NM  total_days  duration   avg_temp  \
0           0       5645    Russia           1         1  42.596714
1           1       5872    Russia           6         6  43.411134
2           2       6155    Russia           1         1  42.275731
3           3       4993    Russia           1         1  41.127857
4          61       5094    Russia           1         1  41.751296

   avg_intensity  tot_intensity  \
0       1.996714       1.996714
1       2.811134      16.866806
2       1.675731       1.675731
3       0.527857       0.527857
4       1.151296       1.151296

                                         event_dates  \
0                                     ['1983.06.28']
1  ['1983.06.23' '1983.06.24' '1983.06.25' '1983....
2                                     ['1983.06.26']
3                                     ['1983.08.15']
4                                     ['1983.07.14']

                                           intensity  \
0                                       [1.99671447]
1  [5.31903748 2.9527051  0.88265857 2.27567969 4...
2                                       [1.67573143]
3                                       [0.52785663]
4                                       [1.15129609]

                                                tmax  year  Event_ID  region  \
0                                      [42.59671447]  1983         1  Europe
1  [45.91903748 43.5527051  41.48265857 42.875679...  1983         2  Europe
2                                      [42.27573143]  1983         3  Europe
3                                      [41.12785663]  1983         4  Europe
4                                      [41.75129609]  1983        62  Europe

       sub-region intermediate-region
0  Eastern Europe      Eastern Europe
1  Eastern Europe      Eastern Europe
2  Eastern Europe      Eastern Europe
3  Eastern Europe      Eastern Europe
4  Eastern Europe      Eastern Europe
   Unnamed: 0  ID_HDC_G0 CTR_MN_NM  total_days  duration   avg_temp  \
0           0       5645    Russia           1         1  42.596714
1           0       5645    Russia           2         1  40.762713
2           1       5645    Russia           2         1  42.299558
3           0       5645    Russia           3         3  44.492237
4           0       5645    Russia           1         1  40.829614

   avg_intensity  tot_intensity                               event_dates  \
0       1.996714       1.996714                            ['1983.06.28']
1       0.162713       0.162713                            ['1989.07.03']
2       1.699558       1.699558                            ['1989.07.21']
3       3.892237      11.676712  ['1990.07.15' '1990.07.16' '1990.07.17']
4       0.229614       0.229614                            ['1994.07.01']

                            intensity                                   tmax  \
0                        [1.99671447]                          [42.59671447]
1                        [0.16271323]                          [40.76271323]
2                        [1.69955783]                          [42.29955783]
3  [7.13736697 4.07729667 0.46204822]  [47.73736697 44.67729667 41.06204822]
4                        [0.22961432]                          [40.82961432]

   year  Event_ID  region      sub-region intermediate-region  GCPNT_LAT  \
0  1983         1  Europe  Eastern Europe      Eastern Europe  66.083799
1  1989    993096  Europe  Eastern Europe      Eastern Europe  66.083799
2  1989    993097  Europe  Eastern Europe      Eastern Europe  66.083799
3  1990   1155480  Europe  Eastern Europe      Eastern Europe  66.083799
4  1994   1820456  Europe  Eastern Europe      Eastern Europe  66.083799

   GCPNT_LON
0   76.64658
1   76.64658
2   76.64658
3   76.64658
4   76.64658

In [20]:
events.head()

,Unnamed: 0,ID_HDC_G0,CTR_MN_NM,total_days,duration,avg_temp,avg_intensity,tot_intensity,event_dates,intensity,tmax,year,Event_ID
0,0,5645,Russia,1,1,42.596714,1.996714,1.996714,['1983.06.28'],[1.99671447],[42.59671447],1983,1
1,1,5872,Russia,6,6,43.411134,2.811134,16.866806,['1983.06.23' '1983.06.24' '1983.06.25' '1983....,[5.31903748 2.9527051 0.88265857 2.27567969 4...,[45.91903748 43.5527051 41.48265857 42.875679...,1983,2
2,2,6155,Russia,1,1,42.275731,1.675731,1.675731,['1983.06.26'],[1.67573143],[42.27573143],1983,3
3,3,4993,Russia,1,1,41.127857,0.527857,0.527857,['1983.08.15'],[0.52785663],[41.12785663],1983,4
4,4,3091,Poland,1,1,42.874764,2.274764,2.274764,['1983.05.16'],[2.27476433],[42.87476433],1983,5