# Edge Search

Notebook to search for extreme heat events that overlap years.
Fix to resolve problem TBD.

By Cascade Tuholske, 2019-10-19


### Preliminary Findings

- In the entire record, there are 97 events that start on Jan 1.
- In the entire record, there are 94 events that end of Dec 31.

Of these, it looks like 5 were from the same city and bridged two years

#### Depdencies

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

#### Load File

In [15]:
file_url = "https://www.dropbox.com/s/nxoffwsd135yznw/All_data20191019.csv?dl=1"  # Note: Need ?dl=1 to make sure this file gets read correctly
df = pd.read_csv(file_url)
df.columns

Index(['Unnamed: 0', 'Event_ID', 'ID_HDC_G0', 'CTR_MN_NM', 'total_days',
       'duration', 'avg_temp', 'avg_intensity', 'tot_intensity', 'event_dates',
       'intensity', 'tmax', 'year'],
      dtype='object')

In [16]:
df[df['ID_HDC_G0'] == 5534]

,Unnamed: 0,Event_ID,ID_HDC_G0,CTR_MN_NM,total_days,duration,avg_temp,avg_intensity,tot_intensity,event_dates,intensity,tmax,year
22525,22525,22526,5534,Ethiopia,84,1,40.736885,0.136885,0.136885,['1983.01.05'],[0.136885],[40.736885],1983
22526,22526,22527,5534,Ethiopia,84,13,41.737855,1.137855,14.792109,['1983.01.19' '1983.01.20' '1983.01.21' '1983....,[0.846815 2.002577 1.19209 0.916884 0.81514 ...,[41.446815 42.602577 41.79209 41.516884 41.41...,1983
22527,22527,22528,5534,Ethiopia,84,9,41.062670,0.462670,4.164027,['1983.02.05' '1983.02.06' '1983.02.07' '1983....,[0.137976 0.035193 0.511267 0.594824 1.123145 ...,[40.737976 40.635193 41.111267 41.194824 41.72...,1983
22528,22528,22529,5534,Ethiopia,84,8,41.553627,0.953627,7.629014,['1983.02.16' '1983.02.17' '1983.02.18' '1983....,[0.600165 1.43894 1.109015 1.421606 1.34052 ...,[41.200165 42.03894 41.709015 42.021606 41.94...,1983
22529,22529,22530,5534,Ethiopia,84,43,42.115429,1.515429,65.163434,['1983.02.26' '1983.02.27' '1983.02.28' '1983....,[0.33683 1.354803 1.337897 1.908553 0.734724 ...,[40.93683 41.954803 41.937897 42.508553 41.33...,1983
22530,22530,22531,5534,Ethiopia,84,10,41.332326,0.732326,7.323264,['1983.04.11' '1983.04.12' '1983.04.13' '1983....,[0.224825 0.785494 0.962283 1.486514 0.874148 ...,[40.824825 41.385494 41.562283 42.086514 41.47...,1983
45818,23121,45819,5534,Ethiopia,103,2,41.258831,0.658831,1.317663,['1984.01.01' '1984.01.02'],[0.795733 0.52193 ],[41.395733 41.12193 ],1984
45819,23122,45820,5534,Ethiopia,103,3,41.405620,0.805620,2.416860,['1984.01.07' '1984.01.08' '1984.01.09'],[0.42183 1.36269 0.63234],[41.02183 41.96269 41.23234],1984
45820,23123,45821,5534,Ethiopia,103,2,41.278409,0.678409,1.356818,['1984.01.11' '1984.01.12'],[1.01482 0.341998],[41.61482 40.941998],1984
45821,23124,45822,5534,Ethiopia,103,20,41.422909,0.822909,16.458184,['1984.01.14' '1984.01.15' '1984.01.16' '1984....,[0.115893 0.989214 0.969042 0.85222 1.455157 ...,[40.715893 41.589214 41.569042 41.45222 42.05...,1984
45822,23125,45823,5534,Ethiopia,103,12,41.953006,1.353006,16.236069,['1984.02.06' '1984.02.07' '1984.02.08' '1984....,[1.027716 1.64164 2.013403 1.40827 1.402747 ...,[41.627716 42.24164 42.613403 42.00827 42.00...,1984
45823,23126,45824,5534,Ethiopia,103,59,42.443915,1.843915,108.790966,['1984.02.19' '1984.02.20' '1984.02.21' '1984....,[0.607092 1.498297 0.749915 0.06165 0.90482 ...,[41.207092 42.098297 41.349915 40.66165 41.50...,1984
45824,23127,45825,5534,Ethiopia,103,3,40.845422,0.245422,0.736266,['1984.04.26' '1984.04.27' '1984.04.28'],[0.072794 0.56016 0.103312],[40.672794 41.16016 40.703312],1984
45825,23128,45826,5534,Ethiopia,103,1,40.890488,0.290488,0.290488,['1984.10.01'],[0.290488],[40.890488],1984
45826,23129,45827,5534,Ethiopia,103,1,41.186325,0.586325,0.586325,['1984.10.03'],[0.586325],[41.186325],1984
67940,21967,67941,5534,Ethiopia,67,2,41.054547,0.454546,0.909093,['1985.01.17' '1985.01.18'],[0.455477 0.453616],[41.055477 41.053616],1985
67941,21968,67942,5534,Ethiopia,67,4,40.952023,0.352023,1.408091,['1985.01.20' '1985.01.21' '1985.01.22' '1985....,[0.102084 0.254122 0.734408 0.317477],[40.702084 40.854122 41.334408 40.917477],1985
67942,21969,67943,5534,Ethiopia,67,1,40.979640,0.379640,0.379640,['1985.01.27'],[0.37964],[40.97964],1985
67943,21970,67944,5534,Ethiopia,67,1,41.015163,0.415163,0.415163,['1985.01.31'],[0.415163],[41.015163],1985
67944,21971,67945,5534,Ethiopia,67,5,41.324339,0.724339,3.621695,['1985.02.02' '1985.02.03' '1985.02.04' '1985....,[0.937132 1.023863 0.43222 0.97183 0.25665 ],[41.537132 41.623863 41.03222 41.57183 40.85...,1985
67945,21972,67946,5534,Ethiopia,67,2,41.287805,0.687805,1.375610,['1985.02.11' '1985.02.12'],[0.95404 0.42157],[41.55404 41.02157],1985
67946,21973,67947,5534,Ethiopia,67,5,41.866343,1.266343,6.331716,['1985.02.14' '1985.02.15' '1985.02.16' '1985....,[0.2135 1.011412 0.86929 2.59979 1.637724],[40.8135 41.611412 41.46929 43.19979 42.23...,1985
67947,21974,67948,5534,Ethiopia,67,34,42.038012,1.438012,48.892409,['1985.02.22' '1985.02.23' '1985.02.24' '1985....,[0.034758 0.65332 0.745665 1.112883 2.167723 ...,[40.634758 41.25332 41.345665 41.712883 42.76...,1985
67948,21975,67949,5534,Ethiopia,67,1,42.134450,1.534450,1.534450,['1985.04.04'],[1.53445],[42.13445],1985
67949,21976,67950,5534,Ethiopia,67,4,41.902813,1.302812,5.211250,['1985.04.07' '1985.04.08' '1985.04.09' '1985....,[1.010065 1.165827 1.37481 1.660548],[41.610065 41.765827 41.97481 42.260548],1985
67950,21977,67951,5534,Ethiopia,67,2,40.976330,0.376330,0.752660,['1985.12.02' '1985.12.03'],[0.19559 0.55707],[40.79559 41.15707],1985
67951,21978,67952,5534,Ethiopia,67,2,40.850155,0.250154,0.500309,['1985.12.17' '1985.12.18'],[0.068636 0.431673],[40.668636 41.031673],1985
67952,21979,67953,5534,Ethiopia,67,4,40.874546,0.274546,1.098184,['1985.12.20' '1985.12.21' '1985.12.22' '1985....,[0.37842 0.362704 0.106173 0.250887],[40.97842 40.962704 40.706173 40.850887],1985
90633,22581,90634,5534,Ethiopia,86,2,40.812500,0.212500,0.425000,['1986.01.06' '1986.01.07'],[0.169333 0.255667],[40.769333 40.855667],1986
90634,22582,90635,5534,Ethiopia,86,1,40.603104,0.003104,0.003104,['1986.01.09'],[0.003104],[40.603104],1986
...,...,...,...,...,...,...,...,...,...,...,...,...,...
849414,29814,849415,5534,Ethiopia,126,4,41.391850,0.791850,3.167400,['2015.10.05' '2015.10.06' '2015.10.07' '2015....,[0.028918 0.86739 1.176165 1.094927],[40.628918 41.46739 41.776165 41.694927],2015
849415,29815,849416,5534,Ethiopia,126,2,40.880173,0.280173,0.560346,['2015.11.25' '2015.11.26'],[0.14675 0.413596],[40.74675 41.013596],2015
849416,29816,849417,5534,Ethiopia,126,1,41.211853,0.611853,0.611853,['2015.12.05'],[0.611853],[41.211853],2015
849417,29817,849418,5534,Ethiopia,126,1,40.770600,0.170600,0.170600,['2015.12.07'],[0.1706],[40.7706],2015
849418,29818,849419,5534,Ethiopia,126,1,41.090270,0.490270,0.490270,['2015.12.12'],[0.49027],[41.09027],2015
849419,29819,849420,5534,Ethiopia,126,1,41.185180,0.585180,0.585180,['2015.12.15'],[0.58518],[41.18518],2015
849420,29820,849421,5534,Ethiopia,126,3,40.749848,0.149848,0.449544,['2015.12.25' '2015.12.26' '2015.12.27'],[0.231604 0.04853 0.16941 ],[40.831604 40.64853 40.76941 ],2015
849421,29821,849422,5534,Ethiopia,126,1,42.601044,2.001044,2.001044,['2015.12.31'],[2.001044],[42.601044],2015
882572,32743,882573,5534,Ethiopia,141,3,41.470568,0.870568,2.611705,['2016.01.01' '2016.01.02' '2016.01.03'],[0.514815 0.950606 1.146284],[41.114815 41.550606 41.746284],2016
882573,32744,882574,5534,Ethiopia,141,1,40.657326,0.057326,0.057326,['2016.01.06'],[0.057326],[40.657326],2016
882574,32745,882575,5534,Ethiopia,141,1,40.804910,0.204910,0.204910,['2016.01.14'],[0.20491],[40.80491],2016
882575,32746,882576,5534,Ethiopia,141,1,40.755990,0.155990,0.155990,['2016.01.17'],[0.15599],[40.75599],2016
882576,32747,882577,5534,Ethiopia,141,9,41.763831,1.163831,10.474483,['2016.01.24' '2016.01.25' '2016.01.26' '2016....,[0.063277 1.778365 1.751326 1.781905 1.798872 ...,[40.663277 42.378365 42.351326 42.381905 42.39...,2016
882577,32748,882578,5534,Ethiopia,141,17,42.515354,1.915354,32.561013,['2016.02.03' '2016.02.04' '2016.02.05' '2016....,[0.49616 1.194006 1.632025 1.495367 1.81916 ...,[41.09616 41.794006 42.232025 42.095367 42.41...,2016
882578,32749,882579,5534,Ethiopia,141,16,43.151234,2.551234,40.819742,['2016.02.21' '2016.02.22' '2016.02.23' '2016....,[0.53452 2.583563 3.755743 3.47367 3.95548 ...,[41.13452 43.183563 44.355743 44.07367 44.55...,2016
882579,32750,882580,5534,Ethiopia,141,32,44.106081,3.506081,112.194577,['2016.03.09' '2016.03.10' '2016.03.11' '2016....,[1.17215 2.56366 3.523955 2.948515 3.334746 ...,[41.77215 43.16366 44.123955 43.548515 43.93...,2016
882580,32751,882581,5534,Ethiopia,141,3,42.733708,2.133708,6.401123,['2016.04.13' '2016.04.14' '2016.04.15'],[2.056773 3.147074 1.197276],[42.656773 43.747074 41.797276],2016
882581,32752,882582,5534,Ethiopia,141,2,41.741871,1.141871,2.283742,['2016.04.18' '2016.04.19'],[1.270304 1.013438],[41.870304 41.613438],2016
882582,32753,882583,5534,Ethiopia,141,3,41.620508,1.020508,3.061523,['2016.04.21' '2016.04.22' '2016.04.23'],[0.08192 2.106913 0.87269 ],[40.68192 42.706913 41.47269 ],2016
882583,32754,882584,5534,Ethiopia,141,3,41.305290,0.705290,2.115870,['2016.05.29' '2016.05.30' '2016.05.31'],[0.668913 1.047575 0.399382],[41.268913 41.647575 40.999382],2016
882584,32755,882585,5534,Ethiopia,141,2,40.680474,0.080474,0.160947,['2016.09.09' '2016.09.10'],[0.019057 0.14189 ],[40.619057 40.74189 ],2016
882585,32756,882586,5534,Ethiopia,141,3,41.212298,0.612298,1.836895,['2016.09.15' '2016.09.16' '2016.09.17'],[0.433913 0.694777 0.708205],[41.033913 41.294777 41.308205],2016
882586,32757,882587,5534,Ethiopia,141,17,41.501338,0.901338,15.322741,['2016.09.22' '2016.09.23' '2016.09.24' '2016....,[0.128493 0.164412 0.562483 0.565718 0.827376 ...,[40.728493 40.764412 41.162483 41.165718 41.42...,2016
882587,32758,882588,5534,Ethiopia,141,9,41.146369,0.546369,4.917320,['2016.10.10' '2016.10.11' '2016.10.12' '2016....,[0.176516 0.950808 0.441348 0.57416 1.027956 ...,[40.776516 41.550808 41.041348 41.17416 41.62...,2016
882588,32759,882589,5534,Ethiopia,141,6,40.957907,0.357907,2.147443,['2016.10.21' '2016.10.22' '2016.10.23' '2016....,[0.27878 0.47858 0.393282 0.549105 0.374056 ...,[40.87878 41.07858 40.993282 41.149105 40.97...,2016
882589,32760,882590,5534,Ethiopia,141,1,42.062527,1.462527,1.462527,['2016.10.29'],[1.462527],[42.062527],2016
882590,32761,882591,5534,Ethiopia,141,1,41.200800,0.600800,0.600800,['2016.10.31'],[0.6008],[41.2008],2016
882591,32762,882592,5534,Ethiopia,141,2,40.961380,0.361380,0.722760,['2016.12.15' '2016.12.16'],[0.27712 0.44564],[40.87712 41.04564],2016
882592,32763,882593,5534,Ethiopia,141,4,41.267685,0.667685,2.670741,['2016.12.22' '2016.12.23' '2016.12.24' '2016....,[0.72872 0.582724 0.4916 0.867697],[41.32872 41.182724 41.0916 41.467697],2016
882593,32764,882594,5534,Ethiopia,141,5,41.373770,0.773770,3.868849,['2016.12.27' '2016.12.28' '2016.12.29' '2016....,[0.37856 1.09142 1.113852 1.009787 0.27523 ],[40.97856 41.69142 41.713852 41.609787 40.87...,2016

#### Find Edges

Build query to find dates XXXX.12.31 and XXXX.01.01 
Events col are strings

In [21]:
df.dtypes

Unnamed: 0         int64
Event_ID           int64
ID_HDC_G0          int64
CTR_MN_NM         object
total_days         int64
duration           int64
avg_temp         float64
avg_intensity    float64
tot_intensity    float64
event_dates       object
intensity         object
tmax              object
year               int64
dtype: object

In [28]:
def date_search(df, date):

    event_id_list = []
    event_dates_list = []
    city_id_list = []
    
    for index, row in df.iterrows():
        if date in row['event_dates']:
            
            event_id = row['Event_ID']
            event_dates = row['event_dates']
            city_id = row['ID_HDC_G0']
            
            event_id_list.append(event_id)
            event_dates_list.append(event_dates)
            city_id_list.append(city_id)
    
    df_out = pd.DataFrame()
    df_out['ID_HDC_G0'] = city_id_list
    #df_out['Event_ID'] = event_id_list
    df_out['event_dates'] = event_dates_list
    
    return df_out

In [29]:
df_1231 = date_search(df, '12.31')

In [30]:
df_1231

    ID_HDC_G0                  event_dates
0        4449               ['1984.12.31']
1        4384               ['1984.12.31']
2        4342               ['1984.12.31']
3        4300               ['1984.12.31']
4        4301               ['1984.12.31']
..        ...                          ...
92       1010  ['2016.12.30' '2016.12.31']
93        996               ['2016.12.31']
94        974               ['2016.12.31']
95        962               ['2016.12.31']
96        975               ['2016.12.31']

[97 rows x 2 columns]

In [31]:
df_0101 = date_search(df, '01.01')

In [32]:
df_0101.head()

   ID_HDC_G0                  event_dates
0       5534  ['1984.01.01' '1984.01.02']
1       5541  ['1984.01.01' '1984.01.02']
2       5520  ['1984.01.01' '1984.01.02']
3       5390               ['1984.01.01']
4       3398  ['1985.01.01' '1985.01.02']

In [33]:
print(len(df_0101))
print(len(df_1231))

94
97

In [35]:
# Code does not work

# df_overlap1 = df_0101.merge(df_1231, on ='ID_HDC_G0', how = 'inner')
# df_overlap1

## NEXT:

I need to write a function that compares years with the resulting subset of Dec 31 and Jan 1 and then I think we will just drop all these from the record and then add them on as heat waves that overlap years later. There should be about 100 of them