In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import numpy as np
import statsmodels.api as sm
import warnings

# Check event stats

In [ ]:
fn = os.path.join('/scratch/cascade/UEH-daily/stats/wbgtmax30_STATS.json')

In [ ]:
df = pd.read_json(fn, orient = 'split')

In [ ]:
df.head()

In [ ]:
# Dehli 6955, Kolkata 9691

In [ ]:
def mk_data(df, id_):
    data = df[df['ID_HDC_G0'] == id_][['year','duration']].groupby('year').sum()
    pd.DataFrame(data.reset_index(inplace = True))
    
    return data

In [ ]:
dehli = mk_data(df, 6955)
kolkata = mk_data(df, 9691)

In [ ]:
fig = plt.gcf()
fig.set_size_inches(10, 10)
plt.plot(dehli['year'], dehli['duration'], color = 'cornflowerblue', linewidth = 3)
plt.plot(kolkata['year'], kolkata['duration'], color = 'chocolate', linewidth = 3)
plt.legend(['Deli','Kolata'], fontsize = 15)
plt.xlabel('Year', fontsize = 15)
plt.ylabel('days/yr wbgt-max > 30Â°C', fontsize = 15)

In [ ]:
#### Args
DATA = 'wbgt30' # Always update WBGT32_1D, WBGT28_1D, HI406_1D HI406_2D & HI461_1D 
DATA_PATH = os.path.join('/scratch/cascade/UEH-daily/stats/')
FN_POP = os.path.join('/home/cascade/projects/UrbanHeat/data/interim/GHS-UCDB-Interp.csv')
FN_STATS = os.path.join(DATA_PATH, DATA+'_STATS.json')
FN_OUT = os.path.join(DATA_PATH, DATA+'_EXP.json')

In [ ]:
FN_STATS

In [ ]:
FN_STATS = os.path.join('/scratch/cascade/UEH-daily/stats/wbgtmax30_STATS.json')

In [ ]:
stats = pd.read_json(FN_STATS, orient = 'split') # read in stats
df_pop = pd.read_csv(FN_POP) # read in interp population from GHS-UCDB

In [ ]:
len(np.unique(stats['ID_HDC_G0']))

In [ ]:
stats

In [ ]:
def tot_days(df):
    """ Calulates the total number of days per year when a heat threshold was met
    """
    df_out = df[['ID_HDC_G0','year','duration']].groupby(['ID_HDC_G0','year']).sum().reset_index()
    df_out.rename(columns={'duration':'tot_days'}, inplace=True)
    
    return df_out

In [ ]:
#### Args
DATA = 'wbgtmax30' # Always update WBGT32_1D, WBGT28_1D, HI406_1D HI406_2D & HI461_1D 
DATA_PATH = os.path.join('/scratch/cascade/UEH-daily/stats/')
FN_POP = os.path.join('/home/cascade/projects/UrbanHeat/data/interim/GHS-UCDB-Interp.csv')
FN_STATS = os.path.join(DATA_PATH, DATA+'_STATS.json')
FN_OUT = os.path.join(DATA_PATH, DATA+'_EXP.json')

In [ ]:
df = pd.read_json(FN_OUT, orient = 'split')

In [ ]:
df

# Check TREND

In [2]:
fn = '/scratch/cascade/UEH-daily/stats/wbgtmax30_TREND_ALL.json'

In [3]:
trend = pd.read_json(fn, orient = 'split')
len(trend)

8917

In [7]:
trend.head()

,ID_HDC_G0,coef_pdays,p_value_pdays,coef_heat,p_value_heat,coef_pop,p_value_pop,coef_totDays,p_value_totDays,coef_attrib,coef_attrib_norm,CTR_MN_NM,UC_NM_MN,GCPNT_LAT,GCPNT_LON,region,sub-region,intermediate-region,P1983,P2016
0,18,2472.019732,0.5191,1965.053764,0.5191,506.965968,0.5191,0.003972,0.5191,-0.589837,0.746604,United States,Concord [USA],37.913946,-122.048318,Americas,Northern America,Northern America,494664.495616,661553.577433
1,22,281.712286,0.5191,206.825938,0.5191,74.886349,0.5191,0.003972,0.5191,-0.468349,0.746772,United States,Livermore [USA],37.688409,-121.753980,Americas,Northern America,Northern America,52064.452435,73006.671133
2,26,1477.435791,0.5191,1156.526598,0.5191,320.909193,0.5191,0.005959,0.5191,-0.565586,0.746637,United States,Antioch [USA],37.985433,-121.797516,Americas,Northern America,Northern America,194088.886834,268055.635628
3,27,360.722938,0.5191,319.948094,0.5191,40.774843,0.5191,0.003972,0.5191,-0.773927,0.746349,United States,Fairfield [USA],38.264013,-122.030253,Americas,Northern America,Northern America,80540.779940,93335.494324
4,28,589.850324,0.5481,444.114223,0.5539,145.736101,0.5322,0.007487,0.5539,-0.505854,0.746720,United States,Tracy [USA],37.730079,-121.431413,Americas,Northern America,Northern America,59320.971209,91449.606255

In [19]:
trend[(trend['p_value_pdays'] < 0.05) & (trend['coef_pdays'] < 0)]

,ID_HDC_G0,coef_pdays,p_value_pdays,coef_heat,p_value_heat,coef_pop,p_value_pop,coef_totDays,p_value_totDays,coef_attrib,coef_attrib_norm,CTR_MN_NM,UC_NM_MN,GCPNT_LAT,GCPNT_LON,region,sub-region,intermediate-region,P1983,P2016
913,1702,-1056.283476,0.0309,-1117.352224,0.0341,61.068749,0.1958,-0.011917,0.0341,-1.115629,0.745875,Spain,Jaen [ESP],37.780479,-3.787381,Europe,Southern Europe,Southern Europe,93757.311650,66540.934692
1671,2998,-627.328766,0.0459,-621.946687,0.0456,-5.382079,0.1432,-0.008251,0.0456,-0.982841,0.746059,Poland,Legnica [POL],51.206241,16.176722,Europe,Eastern Europe,Eastern Europe,75382.241980,66979.700439
1673,3001,-490.661017,0.0460,-484.601639,0.0456,-6.059378,0.1432,-0.008251,0.0456,-0.975301,0.746070,Poland,Pila [POL],53.152501,16.747037,Europe,Eastern Europe,Eastern Europe,58735.513480,56832.666321
1676,3006,-452.975953,0.0463,-442.146332,0.0456,-10.829621,0.1432,-0.008251,0.0456,-0.952185,0.746102,Poland,Leszno [POL],51.843782,16.577666,Europe,Eastern Europe,Eastern Europe,53589.773038,56598.201181
1682,3012,-4676.282852,0.0459,-4621.976803,0.0456,-54.306048,0.1432,-0.008251,0.0456,-0.976774,0.746068,Poland,Poznan [POL],52.400971,16.918282,Europe,Eastern Europe,Eastern Europe,560200.707010,527670.385445
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7694,11597,-29573.948182,0.0477,7994.972629,0.7246,-37568.920811,0.0000,0.063102,0.7246,1.540677,0.749556,China,Yuyue [CHN],29.974200,113.902127,Asia,Eastern Asia,Eastern Asia,126699.989970,91419.355957
7784,11693,-79323.603526,0.0292,26843.731136,0.6037,-106167.334661,0.0000,0.084950,0.6037,1.676816,0.749744,China,Huanggang [CHN],30.466754,114.893979,Asia,Eastern Asia,Eastern Asia,315993.201949,212823.100403
7888,11809,-39215.385844,0.0458,25750.144352,0.3362,-64965.530196,0.0000,0.134148,0.3362,2.313267,0.750626,China,Caohe [CHN],30.243488,115.423547,Asia,Eastern Asia,Eastern Asia,191952.955331,125085.617828
7943,11869,-70772.416855,0.0227,22439.358097,0.6279,-93211.774952,0.0000,0.077158,0.6279,1.634127,0.749685,China,Wuxue [CHN],29.850464,115.570692,Asia,Eastern Asia,Eastern Asia,290822.967808,208923.691280
8006,11939,-38504.621568,0.0034,15444.621305,0.4030,-53949.242873,0.0000,0.129412,0.4030,1.802222,0.749918,China,Jiujiang [CHN],29.758632,115.982292,Asia,Eastern Asia,Eastern Asia,119344.800990,74472.246498

In [ ]:
trend[trend.isna().any(axis=1)]

In [ ]:
ids_trend = np.unique(trend['ID_HDC_G0'])

In [ ]:
fn = '/scratch/cascade/UEH-daily/stats/wbgtmax30_EXP.json'

In [ ]:
exp = pd.read_json(fn, orient = 'split')

In [ ]:
ids_exp = np.unique(exp['ID_HDC_G0'])

In [ ]:
len(ids_exp)

In [ ]:
len(ids_trend)

In [ ]:
#missing = list(set(ids_exp) - set(ids_trend))

In [ ]:
test = exp[exp['ID_HDC_G0'] == 8203]

In [ ]:
pop = OLS(df = test, geog = 'ID_HDC_G0', col = 'people_days_pop', alpha = 0.05) # get stats

In [ ]:
pop

In [ ]:
for item in list(zip(trend['ID_HDC_G0'],trend['coef_pop'])):
    print(item)

In [ ]:
exp[exp['ID_HDC_G0'] == 733]

# WBGT

In [ ]:
# Functions
def c_to_f(C):
    "Convert HI C to F"
    return 1.8 * C + 32

def F_to_C(Tmax_F):
    "Function converts temp in F to C"
    Tmax_C = (Tmax_F - 32) * (5/9)
    
    return Tmax_C

def hi_to_wbgt(HI):
    """ Convert HI to WBGT using emprical relationship from Bernard and Iheanacho 2015
    WBGT [â¦C] = â0.0034 HI2 + 0.96 HIâ34; for HI [â¦F]
    Args:
        HI = heat index as an array
    """
    
    WBGT = -0.0034*HI**2 + 0.96*HI - 34
    
    return WBGT

In [ ]:
hi_to_wbgt(105)

In [ ]:
c_to_f(29)