# Figures 

Notebook to start making figures for Tmax paper.

Cascade Tuholske 2019-09-08

#### NOTES
There seems to be an error w/ ```CHIRTS-GHS-Events/``` whereby it is not capturing each heat event for each city or maybe not spliting them correctly.

Updated 2019-09-24 Now use ```/home/cascade/projects/data_out_urbanheat/CHIRTS-GHS-Events-Stats```

## RGB Plots

For each city:
- Total number of days per Year 
- Total number of events per year
- Avg duration of events per year
- Avg intensity per event 
- Avg intensity per year
- Severity of each event
- Avg. Severity of each event per year

To start:
- Red = # days in a given year 
- Green = avg duration in a given year
- Blue = avg intensity in a given year

#### Depdendencies

In [3]:
import pandas as pd
import geopandas as gpd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from mpl_toolkits import mplot3d
import matplotlib as mpl

#### Load and arrange data

In [1]:
# file paths

DATA_IN = '/home/cascade/projects/data_out_urbanheat/CHIRTS-GHS-Events-Stats/'
GHS_DATA_IN = '/home/CHIRTS/Tmax/cascade/GHS-UCDB/'

In [4]:
# GHS Data
GHS_fn = 'GHS_STAT_UCDB2015MT_GLOBE_R2019A_V1_0.shp'
df_ghs = gpd.read_file(GHS_DATA_IN+GHS_fn)

In [5]:
df_ghs[df_ghs['CTR_MN_NM'] == 'India'].shape

(3248, 161)

In [6]:
# Map in city populations

# Get Pop
df_pop = pd.DataFrame()
df_pop['ID_HDC_G0'] = df_ghs['ID_HDC_G0']
df_pop['P75'] = df_ghs['P75']
df_pop['P90'] = df_ghs['P90']
df_pop['P00'] = df_ghs['P00']
df_pop['P15'] = df_ghs['P15']

df_pop.head()

   ID_HDC_G0            P75            P90            P00            P15
0       5782   76680.403870   77349.278442   75261.170776   69023.903442
1       3316  432518.760010  399369.630417  350416.157928  281927.639362
2       5645   83301.193208   78605.444337   73295.000717   96123.248169
3       3185   59961.838394   67281.163544   73833.521271   83504.834900
4       3539  216241.069946  203083.534027  181690.372681  155063.227570

#### India Subset

In [ ]:
# Open 

year = '2015'
stats_fn = 'CHIRTS-GHS-Events-Stats'+year+'.csv'
stats = pd.read_csv(DATA_IN+stats_fn)
stats.head()

In [ ]:
# Select India
india = stats[stats['CTR_MN_NM']=='India']

sub_df = pd.DataFrame()
sub_df['ID_HDC_G0'] = df_ghs['ID_HDC_G0']
sub_df['P15'] = df_ghs['P15']
sub_df['geometry'] = df_ghs['geometry']

# merge population data
india = india.merge(sub_df, on='ID_HDC_G0', how = 'inner')

# to shape file
india_gdf = gpd.GeoDataFrame(india, geometry = 'geometry')

india_gdf.to_file('IndiaTemp2015.csv')

In [ ]:
# to shape file
#india.to_csv('IndiaTemp2015.csv')
#india_gdf.to_file('IndiaTemp2015')

In [24]:
# 2015 all temp for india

DAILY_IN = '/home/cascade/projects/data_out_urbanheat/CHIRTS-GHS-DAILY/'

# Get 2015 daily avg temp
daily_2015 = pd.read_csv(DAILY_IN+'GHS-Tmax-DAILY_2015.csv')

# Select India
india = daily_2015[daily_2015['CTR_MN_NM']=='India']

sub_df = pd.DataFrame()
sub_df['ID_HDC_G0'] = df_ghs['ID_HDC_G0']
sub_df['P15'] = df_ghs['P15']
sub_df['geometry'] = df_ghs['geometry']

sub_df.head()

# merge population data
sub_df = sub_df.merge(india, on='ID_HDC_G0', how = 'inner')

sub_df.head()

# # to shape file
india_gdf = gpd.GeoDataFrame(sub_df, geometry = 'geometry')

#india_gdf.to_file('IndiaTemp_daily2015.shp')

#sub_df.to_csv('IndiaTemp_daily2015.csv')

In [22]:
india_gdf.head()

,ID_HDC_G0,P15,geometry,Unnamed: 0,CTR_MN_NM,2015.01.01,2015.01.02,2015.01.03,2015.01.04,2015.01.05,...,2015.12.22,2015.12.23,2015.12.24,2015.12.25,2015.12.26,2015.12.27,2015.12.28,2015.12.29,2015.12.30,2015.12.31
0,6377,175516.100342,"POLYGON ((74.24837242178884 34.5448745072262, ...",2818,India,11.298597,11.801771,9.942030,6.903456,9.057173,...,2.173816,2.514087,7.903125,8.535815,7.782947,10.915393,11.215777,12.110766,11.272388,12.288043
1,6365,145998.342850,"POLYGON ((74.16635124000636 34.5187577769607, ...",2837,India,11.217757,11.720931,9.861190,6.822616,8.976333,...,2.375951,2.716222,8.105260,8.737950,7.985082,11.117528,11.417912,12.312902,11.474523,12.490178
2,6412,105459.208618,"POLYGON ((74.64349934013318 34.46653356313358,...",2858,India,9.774817,10.592933,8.744880,6.112098,8.494330,...,1.610515,1.489849,5.386700,7.684978,7.473552,9.186076,9.839976,10.729106,9.726665,10.908336
3,6382,62692.136108,"POLYGON ((74.28198205703076 34.42302278553506,...",2866,India,12.045166,12.548340,10.688599,7.650024,9.803741,...,2.783269,3.123540,8.512579,9.145269,8.392401,11.524846,11.825231,12.720220,11.881841,12.897496
4,6393,57140.376221,"POLYGON ((74.37996234242176 34.33602679750986,...",2893,India,12.094355,12.754999,10.901102,8.065424,10.333399,...,3.308534,3.418336,8.061280,9.526765,9.044618,11.467103,11.944245,12.836305,11.915895,13.014558

#### Functions

In [ ]:
def make_stats(year, country):
    
    """ Function makes stats for plots ... ADD DETIALS LATER CPT"""
    stats_fn = 'CHIRTS-GHS-Events-Stats'+year+'.csv'
    stats = pd.read_csv(DATA_IN+stats_fn)
    print(stats.shape)
    
    # Pick a country to subset for ease
    country = stats[stats['CTR_MN_NM']==country]
    print(country.shape)
    
    # Avg intensity and duration for each city for the whole year
    avg_int = country.groupby('ID_HDC_G0')['avg_intensity'].mean()
    avg_dur = country.groupby('ID_HDC_G0')['duration'].mean()

    # Select cities and total days
    cities = pd.DataFrame()
    cities['ID_HDC_G0'] = country['ID_HDC_G0']
    cities['total_days'] = country['total_days']
    
    print(cities.shape)

    # Drop duplicates --- Removeed 
    cities = cities.drop_duplicates('ID_HDC_G0', keep = 'first')

    # Merge 
    cities = cities.merge(avg_int, on='ID_HDC_G0', how = 'inner')
    print(cities.shape)
    cities = cities.merge(avg_dur, on='ID_HDC_G0', how = 'inner')
    print(cities.shape)
    cities = cities.merge(df_pop, on = 'ID_HDC_G0', how = 'inner')
    
    print(cities.shape)
    
    return cities

### 3-D Plots

In [ ]:
# Set location and year
country_nm = 'India'
year = '2015'
pop = 'P15'

# select data for plot
cities = make_stats(year, country_nm)

# Drop cities if needed
cities = cities[cities[pop]>5*10**4]
cities.shape

In [ ]:
cities.head()

In [ ]:
# 3d plots

import matplotlib

# make color map
mymap = plt.get_cmap("magma_r")

# make plot
fig = plt.figure(figsize=[20,15])
ax = plt.axes(projection='3d')

# Pop X Axis 1983
# p = ax.scatter3D(np.log10(cities1983['P75']), cities1983['avg_intensity'], cities1983['duration'], 
#              c = cities1983['total_days'], cmap = mymap)

# Pop X Axis 2015
# p = ax.scatter3D(cities['avg_intensity'], cities['duration'], c = cities['total_days'],
#              c = np.log10(cities[pop]), cmap = mymap)

# # Pop as color
p = ax.scatter3D(cities['avg_intensity'], cities['duration'], cities['total_days'], 
                 c =np.log10(cities[pop]), cmap = mymap)

# make labels
#ax.set_xlabel('Population, log10', fontsize = 18)
ax.set_xlabel('Days per year', fontsize = 18)
ax.set_ylabel('Average intensity per event, Tmax - 40.6 C', fontsize = 18)
ax.set_zlabel('Average duration of events in days', fontsize = 18)

# ax.set_xlabel('Average intensity per event, Tmax - 40.6 C')
# ax.set_ylabel('Average duration of events in days')
# ax.set_zlabel('Total numbers of days per year > 40.6 C')

# Limits
# ax.set_xlim3d(4, 7.5)
# ax.set_ylim3d(0, 10)
# ax.set_zlim3d(0, 20)

# Title
plt.title('Urban Heat Exposure for '+country_nm+' '+year, fontsize=25)

# color bar
fig.colorbar(p, ax = ax, shrink = 0.5, cmap = mymap)

#plt.savefig('/home/cascade/projects/'+country_nm+year+'.png')

## Days and Population

In [ ]:
# file names

DATA_IN = '/home/cascade/projects/data_out_urbanheat/'
chirts_daily_fn = '20190831_TMax-GHS_TotEvents83-2016.csv'
GHS_fn = 'GHS_STAT_UCDB2015MT_GLOBE_R2019A_V1_0.shp'

In [ ]:
# Open daily and GHS_UCDB

df_chirts = pd.read_csv(DATA_IN+chirts_daily_fn)
df_ghs = gpd.read_file(GHS_DATA_IN+GHS_fn)

In [ ]:
# Map in city populations

# Get Pop
df_pop = pd.DataFrame()
df_pop['ID_HDC_G0'] = df_ghs['ID_HDC_G0']
df_pop['P75'] = df_ghs['P75']
df_pop['P90'] = df_ghs['P90']
df_pop['P00'] = df_ghs['P00']
df_pop['P15'] = df_ghs['P15']

df_pop.head()

In [ ]:
# merge

df_chirts_merge = pd.merge(df_pop, df_chirts, on='ID_HDC_G0', how = 'inner')

In [ ]:
df_chirts_merge.head()

In [ ]:
# Make people days

df_Tpop = pd.DataFrame()
df_Tpop['ID_HDC_G0'] = df_chirts_merge['ID_HDC_G0']
df_Tpop['CTR_MN_NM'] = df_chirts_merge['CTR_MN_NM']
df_Tpop['P75'] = df_chirts_merge['P75']
df_Tpop['P90'] = df_chirts_merge['P90']
df_Tpop['P00'] = df_chirts_merge['P00']
df_Tpop['P15'] = df_chirts_merge['P15']
df_Tpop['1983'] = df_chirts_merge['1983']
df_Tpop['1990'] = df_chirts_merge['1990']
df_Tpop['2000'] = df_chirts_merge['2000']
df_Tpop['2015'] = df_chirts_merge['2015']

In [ ]:
df_Tpop['PD_1983'] = df_Tpop['P75'] * df_Tpop['1983']
df_Tpop['PD_1990'] = df_Tpop['P90'] * df_Tpop['1990']
df_Tpop['PD_2000'] = df_Tpop['P00'] * df_Tpop['2000']
df_Tpop[
    'PD_2015'] = df_Tpop['P15'] * df_Tpop['2015']

In [ ]:
df_Tpop[2500:2600]

In [ ]:
# Write it out

# df_Tpop.to_csv(TDATA_IN+'CHIRTS-GHS-PeopleDays.csv')

#### Sum People Days and Plot it 

- Dude turn this into a function

In [ ]:
year = '2015' # get Tmax events for a given year
pop_year = 'P15' # get the pop for each city
country = 'Indonesia' # pick a country

country = df_Tpop[df_Tpop['CTR_MN_NM'] == country]

pop_tot = country.groupby(year)[pop_year].sum() # group pop by tmax events and sum
pop_range = (list(range(1,len(pop_tot)+1))) # make a list of range

print(len(pop_tot))
print(len(pop_range))

test = pd.DataFrame()
test['pop_tot'] = pop_tot / 10**6
test['pop_range'] = pop_range

tot = test.pop_tot.sum()
print(tot)

In [ ]:
country()

In [ ]:
# make plot

sns.set(font_scale=1)
# fig, ax = plt.subplots(nrows=1, ncols=1)
fig = plt.subplots(figsize=[10,10])

ax = sns.barplot(x='pop_range', y='pop_tot', data = test, palette="autumn_r")

# Colors
ax.set_facecolor('white')

# Sent font color

# control x and y limits
plt.ylim(0, 5)
plt.xlim(-1, 75)

# Labels
plt.xlabel('Number of Days Per Year > 40.6C, ', fontsize = 20, c = 'black')
plt.ylabel('Total Number of Urban Residents Exposed (millions)', fontsize = 20, c = 'black')
plt.title('Urban Population Exposed to Days >40.6C, Nigeria '+ year, fontsize =20, c = 'black')

# ticks
tick = list(range(0,100, 50))
plt.xticks(tick, tick)
ax.tick_params(axis='x', colors='black')
ax.tick_params(axis='y', colors='black')

plt.savefig('/home/cascade/projects/'+'peopledays Nigeria ' +year+'.png')

#transparent=True

#### Delta Pop vs Delta Temp

- Dude turn this into a function

In [ ]:
# get pop

p75 = df_Tpop.P75
p15 = df_Tpop.P15

# delta pop
delta_pop = p15 - p75

# get Tmax
tmax83 = df_Tpop['1983']
tmax15 = df_Tpop['2015']

delta_tmax = tmax15 - tmax83

# get people days
pd83 = df_Tpop['PD_1983']
pd15 = df_Tpop['PD_2015']

delta_pd = pd15 - pd83

# make df
df_delta = pd.DataFrame()
df_delta['delta_pop'] = np.log10(delta_pop)
df_delta['delta_tmax'] = delta_tmax
df_delta['delta_pd'] = np.log10(delta_pd)

In [ ]:
# make plot

sns.set(font_scale=1)
# fig, ax = plt.subplots(nrows=1, ncols=1)
fig = plt.subplots(figsize=[10,10])

ax = sns.scatterplot(x='delta_tmax', y='delta_pd', data = df_delta, alpha = 0.5)

# Colors
# ax.set_facecolor('White')

# control x and y limits
# plt.ylim(0, 8)
# plt.xlim(-25, 70)

# Labels
plt.ylabel('Log10 Change 2015 - 1983 in PeopleDays (# of days per year >40.6C x population)')
plt.xlabel('Change 2015 - 1983 in number of days >40.6C')
plt.title('Global change in People Days vs change in number of days >40.6C 1983 - 2015')


plt.axvline(x=0, color = 'black')
# plt.axhline(y=2, color = 'black')

# ticks
# tick = list(range(0,200, 50))
# plt.xticks(tick, tick)

#### All events vs all Pop by year w/ size = to People Days

- Dude turn this into a function

In [ ]:
# Get tmax
tmax83 = df_Tpop['1983']
tmax90 = df_Tpop['1990']
tmax00 = df_Tpop['2000']
tmax15 = df_Tpop['2015']

# Get People Days
pd83 = df_Tpop['PD_1983']
pd90 = df_Tpop['PD_1990']
pd00 = df_Tpop['PD_2000']
pd15 = df_Tpop['PD_2015']

# Get Pop 
p75 = df_Tpop.P75
p90 = df_Tpop.P90
p00 = df_Tpop.P00
p15 = df_Tpop.P15

In [ ]:
np.unique(p15)

In [ ]:
def make_df(tmax, pday, pop, year):
    l = len(tmax)
    year_list = [year] * l
    
    df = pd.DataFrame()
    df['events'] = tmax
    df['pop'] = np.log10(pop)
    df['pday'] = pday
    df['year'] = year_list
    
    return df

In [ ]:
# make my data
df83 = make_df(tmax83, pd83, p75, 'Year 1983')
df90 = make_df(tmax90, pd90, p90, 'Year 1990')
df00 = make_df(tmax00, pd00, p00, 'Year 2000')
df15 = make_df(tmax15, pd15, p15, 'Year 2015')

# concat it
df_concat = pd.concat([df83, df90, df00, df15])
df_concat.shape

In [ ]:
# make plot

sns.set(font_scale=1)
# fig, ax = plt.subplots(nrows=1, ncols=1)
fig = plt.subplots(figsize=[15,15])

ax = sns.scatterplot(x='pop', y='events', hue = 'year', data = df_concat, alpha = 0.7)

# Colors
ax.set_facecolor('White')

# control x and y limits
plt.ylim(0, 200)
plt.xlim(-2, 10)

# Labels
# plt.ylabel('Change in population, 1975 - 2015 (log 10)')
# plt.xlabel('Change in number of days per year >40.6, 1983 - 2015')
# plt.title('Change in number of days per year >40.6 vs. Change in Population 1983 - 2015')


# plt.axvline(x=0, color = 'black')
# # plt.axhline(y=2, color = 'black')

# ticks
# tick = list(range(0,200, 50))
# plt.xticks(tick, tick)

# Old Code

In [ ]:
# Open data

# CHIRTS-GHS Temp
year = '2015'
pop = 'P15'
stats_fn = 'CHIRTS-GHS-Events-Stats'+year+'.csv'
stats = pd.read_csv(DATA_IN+stats_fn)
print(stats.shape)

# GHS Data
GHS_fn = 'GHS_STAT_UCDB2015MT_GLOBE_R2019A_V1_0.shp'
df_ghs = gpd.read_file(GHS_DATA_IN+GHS_fn)

In [ ]:
# # Load 1983
# cities1983 = make_stats(year, country_nm)
# cities1983['year'] = '1983'

# # Load 2015
# cities2015 = make_stats('2015', country_nm)
# cities2015['year'] = '2015'

# Merge
# cities = pd.DataFrame()
# cities = cities.append(cities1983)
# print(cities.shape)
# cities = cities.append(cities2015)
# print(cities.shape)