# Subsets

Notebook to pull subsets of data from the UrbanHeat Project.

By Cascade Tuholske, 2019-10-20

#### Depdencies

In [1]:
import pandas as pd
import geopandas as gpd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from mpl_toolkits import mplot3d
import matplotlib as mpl

#### File Paths

In [2]:
# file paths

DATA_IN = '/home/cascade/projects/data_out_urbanheat/'
GHS_DATA_IN = '/home/CHIRTS/Tmax/cascade/GHS-UCDB/'
STATS_DIR = 'CHIRTS-GHS-Events-Stats/'

In [3]:
# Files
GHS_fn = 'GHS_STAT_UCDB2015MT_GLOBE_R2019A_V1_0.shp'
ALL_fn = 'All_data20191019.csv'

#### Subsets

In [4]:
# GHS Pop
df_ghs = gpd.read_file(GHS_DATA_IN+GHS_fn)

# Get Pop
df_pop = pd.DataFrame()
df_pop['ID_HDC_G0'] = df_ghs['ID_HDC_G0']
df_pop['P75'] = df_ghs['P75']
df_pop['P90'] = df_ghs['P90']
df_pop['P00'] = df_ghs['P00']
df_pop['P15'] = df_ghs['P15']
df_pop['geometry'] = df_ghs['geometry']

df_pop.head(1)

,ID_HDC_G0,P75,P90,P00,P15,geometry
0,5782,76680.40387,77349.278442,75261.170776,69023.903442,"POLYGON ((88.1393063460871 69.36230222917577, ..."

In [5]:
# Open All data and subset

all_df = pd.read_csv(DATA_IN+ALL_fn)
country = 'India'

# Select country
country_df = all_df[all_df['CTR_MN_NM']==country]
country_df.head(1)

,Unnamed: 0,Event_ID,ID_HDC_G0,CTR_MN_NM,total_days,duration,avg_temp,avg_intensity,tot_intensity,event_dates,intensity,tmax,year
1624,1624,1625,6503,India,4,2,42.31678,1.71678,3.43356,['1983.06.23' '1983.06.24'],[1.29506 2.1385 ],[41.89506 42.7385 ],1983

In [8]:
# Merge population data
country_df = country_df.merge(df_pop, on='ID_HDC_G0', how = 'inner')
country_df.head(1)

,Unnamed: 0,Event_ID,ID_HDC_G0,CTR_MN_NM,total_days,duration,avg_temp,avg_intensity,tot_intensity,event_dates,intensity,tmax,year,P75,P90,P00,P15,geometry
0,1624,1625,6503,India,4,2,42.31678,1.71678,3.43356,['1983.06.23' '1983.06.24'],[1.29506 2.1385 ],[41.89506 42.7385 ],1983,596039.793663,859575.302949,980601.763702,1.021219e+06,"POLYGON ((74.82319034458011 32.79305967719036,..."

In [9]:
# Write outsub set

# shape file
country_gdf = gpd.GeoDataFrame(country_df, geometry = 'geometry')
country_gdf.to_file(country+'_TMax_EventsAll.shp')

# csv
country_df.to_csv(country+'_TMax_EventsAll.csv')

In [10]:
country_df.columns

Index(['Unnamed: 0', 'Event_ID', 'ID_HDC_G0', 'CTR_MN_NM', 'total_days',
       'duration', 'avg_temp', 'avg_intensity', 'tot_intensity', 'event_dates',
       'intensity', 'tmax', 'year', 'P75', 'P90', 'P00', 'P15', 'geometry'],
      dtype='object')