In [1]:
import pandas as pd
import geopandas as gpd
import numpy as np
import xarray as xr

In [2]:
DIR_HI = '~/projects/UrbanHeat/data/interim/CHIRTS-GHS-HI-Events-Stats/'
HI83 = pd.read_csv(DIR_HI+'CHIRTS-GHS-HI-Events-Stats1983.csv')

In [3]:
HI83.head()

,Unnamed: 0,ID_HDC_G0,CTR_MN_NM,total_days,duration,avg_temp,avg_intensity,tot_intensity,event_dates,intensity,tmax
0,0,4362,Russia,4,1,41.216230,0.616230,0.616230,['1983.07.01'],[0.61622976],[41.21622976]
1,1,4362,Russia,4,3,41.744828,1.144828,3.434484,['1983.07.03' '1983.07.04' '1983.07.05'],[0.40430535 0.39696466 2.63321359],[41.00430535 40.99696466 43.23321359]
2,2,5380,Russia,1,1,47.953803,7.353803,7.353803,['1983.07.03'],[7.35380338],[47.95380338]
3,3,5872,Russia,3,1,40.744342,0.144342,0.144342,['1983.06.23'],[0.14434172],[40.74434172]
4,4,5872,Russia,3,1,41.277920,0.677920,0.677920,['1983.06.25'],[0.67792041],[41.27792041]

In [ ]:
country_nm = 'Russia'
country = HI83[HI83['CTR_MN_NM'] == country_nm]

In [ ]:
country_cities = country.drop_duplicates('ID_HDC_G0')

In [ ]:
len(country_cities)

In [ ]:
country_cities['total_days'].mean()

In [ ]:
city5441 = HI83[HI83['ID_HDC_G0'] == 5782].drop_duplicates('ID_HDC_G0')

In [ ]:
city5441['total_days'].mean()

# Check another city

In [4]:
HI83[HI83['ID_HDC_G0'] == 354]

,Unnamed: 0,ID_HDC_G0,CTR_MN_NM,total_days,duration,avg_temp,avg_intensity,tot_intensity,event_dates,intensity,tmax
100365,100365,354,Nicaragua,296,13,43.260287,2.660287,34.583737,['1983.01.01' '1983.01.02' '1983.01.03' '1983....,[3.04394254 1.98659489 2.85413085 1.66596727 0...,[43.64394254 42.58659489 43.45413085 42.265967...
100366,100366,354,Nicaragua,296,2,41.447349,0.847349,1.694698,['1983.01.17' '1983.01.18'],[0.18766253 1.50703533],[40.78766253 42.10703533]
100367,100367,354,Nicaragua,296,6,43.260616,2.660616,15.963694,['1983.01.23' '1983.01.24' '1983.01.25' '1983....,[2.34944173 3.40383659 2.83209869 3.25982031 0...,[42.94944173 44.00383659 43.43209869 43.859820...
100368,100368,354,Nicaragua,296,1,41.548548,0.948548,0.948548,['1983.01.30'],[0.94854794],[41.54854794]
100369,100369,354,Nicaragua,296,1,41.153571,0.553571,0.553571,['1983.02.01'],[0.55357063],[41.15357063]
100370,100370,354,Nicaragua,296,3,43.396420,2.796420,8.389261,['1983.02.03' '1983.02.04' '1983.02.05'],[2.5030858 4.76190199 1.12427329],[43.1030858 45.36190199 41.72427329]
100371,100371,354,Nicaragua,296,3,42.297173,1.697173,5.091520,['1983.02.07' '1983.02.08' '1983.02.09'],[0.44009756 2.73847641 1.91294644],[41.04009756 43.33847641 42.51294644]
100372,100372,354,Nicaragua,296,13,43.471219,2.871219,37.325841,['1983.02.13' '1983.02.14' '1983.02.15' '1983....,[4.64730829 1.69734101 1.46553231 0.81716159 5...,[45.24730829 42.29734101 42.06553231 41.417161...
100373,100373,354,Nicaragua,296,19,44.138030,3.538030,67.222568,['1983.02.27' '1983.02.28' '1983.03.01' '1983....,[6.24072458e-03 5.32502104e+00 7.61935126e+00 ...,[40.60624072 45.92502104 48.21935126 46.997169...
100374,100374,354,Nicaragua,296,74,46.071618,5.471618,404.899750,['1983.03.19' '1983.03.20' '1983.03.21' '1983....,[0.47455968 0.4677809 1.08293848 5.94020069 8...,[41.07455968 41.0677809 41.68293848 46.540200...
100375,100375,354,Nicaragua,296,12,43.497752,2.897752,34.773027,['1983.06.02' '1983.06.03' '1983.06.04' '1983....,[2.62348129 3.59891711 2.17243105 2.60767995 4...,[43.22348129 44.19891711 42.77243105 43.207679...
100376,100376,354,Nicaragua,296,40,44.275175,3.675175,147.007015,['1983.06.15' '1983.06.16' '1983.06.17' '1983....,[2.88540692 1.95325995 1.75876882 2.71962766 1...,[43.48540692 42.55325995 42.35876882 43.319627...
100377,100377,354,Nicaragua,296,12,43.211495,2.611495,31.337941,['1983.07.26' '1983.07.27' '1983.07.28' '1983....,[1.98425541 3.3071515 5.03864698 3.01646069 3...,[42.58425541 43.9071515 45.63864698 43.616460...
100378,100378,354,Nicaragua,296,19,44.317528,3.717528,70.633024,['1983.08.08' '1983.08.09' '1983.08.10' '1983....,[0.33086658 1.92450389 6.43893257 7.52895779 7...,[40.93086658 42.52450389 47.03893257 48.128957...
100379,100379,354,Nicaragua,296,3,41.476475,0.876475,2.629425,['1983.08.28' '1983.08.29' '1983.08.30'],[0.0966232 2.20615495 0.32664661],[40.6966232 42.80615495 40.92664661]
100380,100380,354,Nicaragua,296,8,41.979503,1.379503,11.036027,['1983.09.07' '1983.09.08' '1983.09.09' '1983....,[0.0504045 0.70392264 2.35536669 0.21313689 2...,[40.6504045 41.30392264 42.95536669 40.813136...
100381,100381,354,Nicaragua,296,12,42.264914,1.664914,19.978969,['1983.09.16' '1983.09.17' '1983.09.18' '1983....,[0.9921885 1.63871204 2.84808093 3.56894668 3...,[41.5921885 42.23871204 43.44808093 44.168946...
100382,100382,354,Nicaragua,296,2,42.648240,2.048240,4.096481,['1983.09.30' '1983.10.01'],[2.32985695 1.76662391],[42.92985695 42.36662391]
100383,100383,354,Nicaragua,296,7,43.198807,2.598807,18.191651,['1983.10.05' '1983.10.06' '1983.10.07' '1983....,[1.72942572 3.60551701 4.16710895 2.24516284 3...,[42.32942572 44.20551701 44.76710895 42.845162...
100384,100384,354,Nicaragua,296,2,42.119992,1.519992,3.039984,['1983.10.14' '1983.10.15'],[1.9785241 1.06145979],[42.5785241 41.66145979]
100385,100385,354,Nicaragua,296,3,41.776418,1.176418,3.529255,['1983.10.28' '1983.10.29' '1983.10.30'],[0.10101326 1.80564115 1.62260074],[40.70101326 42.40564115 42.22260074]
100386,100386,354,Nicaragua,296,4,42.239878,1.639878,6.559511,['1983.11.02' '1983.11.03' '1983.11.04' '1983....,[0.91360678 4.17893277 0.77459695 0.69237418],[41.51360678 44.77893277 41.37459695 41.29237418]
100387,100387,354,Nicaragua,296,1,42.776021,2.176021,2.176021,['1983.11.11'],[2.17602116],[42.77602116]
100388,100388,354,Nicaragua,296,2,41.291068,0.691068,1.382137,['1983.11.14' '1983.11.15'],[0.18986613 1.19227041],[40.78986613 41.79227041]
100389,100389,354,Nicaragua,296,6,42.727381,2.127381,12.764283,['1983.11.17' '1983.11.18' '1983.11.19' '1983....,[1.7160974 3.01784406 2.95409398 0.96411959 2...,[42.3160974 43.61784406 43.55409398 41.564119...
100390,100390,354,Nicaragua,296,4,42.709461,2.109461,8.437844,['1983.11.24' '1983.11.25' '1983.11.26' '1983....,[0.59796481 3.30717936 3.53757075 0.99512892],[41.19796481 43.90717936 44.13757075 41.59512892]
100391,100391,354,Nicaragua,296,12,42.616829,2.016829,24.201945,['1983.11.30' '1983.12.01' '1983.12.02' '1983....,[1.37474977 3.73180573 2.7643329 0.53888409 1...,[41.97474977 44.33180573 43.3643329 41.138884...
100392,100392,354,Nicaragua,296,3,41.843172,1.243172,3.729517,['1983.12.16' '1983.12.17' '1983.12.18'],[0.66643964 1.11234801 1.95072971],[41.26643964 41.71234801 42.55072971]
100393,100393,354,Nicaragua,296,1,42.474451,1.874451,1.874451,['1983.12.20'],[1.87445056],[42.47445056]
100394,100394,354,Nicaragua,296,5,42.584441,1.984441,9.922207,['1983.12.22' '1983.12.23' '1983.12.24' '1983....,[1.34395601 3.19211333 2.86614727 2.15593602 0...,[41.94395601 43.79211333 43.46614727 42.755936...
100395,100395,354,Nicaragua,296,1,41.021098,0.421098,0.421098,['1983.12.28'],[0.42109817],[41.02109817]
100396,100396,354,Nicaragua,296,2,41.125884,0.525884,1.051767,['1983.12.30' '1983.12.31'],[1.04383481 0.00793244],[41.64383481 40.60793244]

# Check a City and Data

In [14]:
city = 354 # Somewhere in russia 
date = '1983.03.19'

In [15]:
# Heat Index
DIR_HI = '~/projects/UrbanHeat/data/interim/CHIRTS-GHS-HI-Events-Stats/'
HI83 = pd.read_csv(DIR_HI+'CHIRTS-GHS-HI-Events-Stats1983.csv')
HI83[HI83['ID_HDC_G0'] == city].drop_duplicates('ID_HDC_G0')

,Unnamed: 0,ID_HDC_G0,CTR_MN_NM,total_days,duration,avg_temp,avg_intensity,tot_intensity,event_dates,intensity,tmax
100365,100365,354,Nicaragua,296,13,43.260287,2.660287,34.583737,['1983.01.01' '1983.01.02' '1983.01.03' '1983....,[3.04394254 1.98659489 2.85413085 1.66596727 0...,[43.64394254 42.58659489 43.45413085 42.265967...

In [16]:
# Tmax
DIR_Tmax = '~/projects/UrbanHeat/data/interim/CHIRTS-GHS-DAILY-Tmax/'
Tmax83 = pd.read_csv(DIR_Tmax+'GHS-Tmax-DAILY_1983.csv')
cityTmax = Tmax83[Tmax83['ID_HDC_G0'] == city]
Tmax = cityTmax[date]
print(Tmax)
# print('Tmax in', city, ', which is in russia, on', date, 'was', Tmax, 'C')

9357    35.961452
Name: 1983.03.19, dtype: float64

In [17]:
# RH 
DIR_RH = '~/projects/UrbanHeat/data/interim/CHIRTS-GHS-DAILY-RH/'
RH83 = pd.read_csv(DIR_RH+'GHS-Tmax-RH_1983.csv')
cityRH = RH83[RH83['ID_HDC_G0'] == city]
RH = cityRH[date]
print(RH)

9357    45.36946
Name: 1983.03.19, dtype: float64

In [18]:
# HI 
DIR_HI = '~/projects/UrbanHeat/data/interim/CHIRTS-GHS-DAILY-HI/'
HI83 = pd.read_csv(DIR_HI+'GHS-HI-DAILY_1983.csv')
cityHI = HI83[HI83['ID_HDC_G0'] == city]
HI = cityHI[date]
print(HI)

9312    41.07456
Name: 1983.03.19, dtype: float64

In [ ]:
HI83.head()

# Let's try running 4_Tmax_Stats.py functions

In [ ]:
#### 1 Function turns csv into x-array
def csv_to_xr(file_in, time_dim, space_dim):
    
    """ Function reads in a csv w/ GHS-UCDB IDs and temp, isolates the temp
    and returns a xarray data array with dims set to city ids and dates
    
    Args:
        file_in = file name and path
        time_dim = name for time dim as a str ... use date :-)
        space_dim = col name for GHS-UCDB IDs as an str (ID_HDC_G0)
    """
    
    df = pd.read_csv(file_in) # read the file in as a df
    print(df.shape)
    
    df_id = df[space_dim] # get IDs
    df = df.iloc[:,3:] # get only temp columns
    df.index = df_id # set index values
    df_drop = df.dropna() # Drop cities w/ no temp record 
    print(len(df_drop))
    
    arr = df_drop.to_numpy() # turn temp cols into an np array
    
    # make xr Data Array w/ data as temp and dims as spece (e.g. id)
    
    # Note 2019 09 17 changed to xr.Dataset from xr.Dataarray
    xr_da = xr.DataArray(arr, coords=[df_drop.index, df_drop.columns], 
                            dims=[space_dim, time_dim])
    
    return xr_da

#### 2 Function finds all the Tmax Events and writes it to a dateframe w/ dates for each city
def tmax_days(xarray, Tthresh):
    """ Function finds all the tmax days in a year and sums total days per year
    greater than a threshold within a year where Tmax > Tthresh for each city. Returns the total number of days,
    the dates, the tempatures, and the intensity (daily Tmax - Tthresh)

    Args:
        xarray = an xarray object with dims = (space, times)
        Tthresh = int of temp threshold
    """

    # empty lists & df
    id_list = []
    date_list = []
    dayTot_list = []
    tmax_list = []
    intensity_list = []
    df_out = pd.DataFrame()

    # subset xarray
    out = xarray.where(xarray > Tthresh, drop = True)

    # start loop
    for index, loc in enumerate(out.ID_HDC_G0):
        id_list.append(out.ID_HDC_G0.values[index]) # get IDS
        date_list.append(out.sel(ID_HDC_G0 = loc).dropna(dim = 'date').date.values) # get event dates

        # this is actually getting the total events of all, 2019-09-22
        dayTot_list.append(len(out.sel(ID_HDC_G0 = loc).dropna(dim = 'date').date.values)) # get event totals

        tmax_list.append(out.sel(ID_HDC_G0 = loc).dropna(dim = 'date').values) # get temp values
        intensity_list.append(out.sel(ID_HDC_G0 = loc).dropna(dim = 'date').values - Tthresh) # get severity

    # write to a data frame
    df_out['ID_HDC_G0'] = id_list
    df_out['total_days'] = dayTot_list
    df_out['dates'] = date_list
    df_out['tmax'] = tmax_list
    df_out['tmax_tntensity'] = intensity_list

    # return df_out
    return df_out

#### 3 Function splits the dataset into Tmax events (continuous days >Tmax) for each city
def jul_convert(dates):
    "Function turn days into julian datetime"
    jul_days = pd.to_datetime(dates).to_julian_date()

    return jul_days

def event_split(dates, ID_HDC_G0, intensity, tmax, total_days):
    """ Searchs a list of dates and isolates sequential dates as a list, then calculates event stats.
    See comments in code for more details.

    Args:
        dates: pandas.core.index as julian dates
        ID_HDC_G0: city ID as string
        country: country for each city as string
        intensity: numpy.ndarray of intensities values
        tmax: numpy.ndarray of intensities values of tmax values
        total_days: total number of tmax days in a year for a given city

    """

    # city id
    city_id = ID_HDC_G0
    tot_days = total_days

    # lists to fill
    city_id_list = []
    tot_days_list = []
    event_dates_list = []
    dur_list = []
    intensity_list = []
    tmax_list = []
    avg_temp_list = []
    avg_int_list = []
    tot_int_list = []

    # data frame out
    df_out = pd.DataFrame()

    # turn days into julian days
    jul_days = jul_convert(dates)

    # Counters to make sure we write the correct event dates to a list, don't want julian days in output
    counter = 0
    start = 0
    end = 0

    # Loop through dur list and isolate seq days, temps, and intensities
    for k, g in groupby(enumerate(jul_days.values), lambda x: x[1]-x[0]):

        seq = list(map(itemgetter(1), g)) # isolate seq. days
        dur = len(seq) # duration of each event

        counter = counter + dur # add duration to counter
        end = counter # end of current event

        event_dates = dates[start:end] # dates of tmax days during each event
        intense = intensity[start:end] # intensity of each day during event
        temp = tmax[start:end] # temp of each day during event
        avg_temp = mean(temp) # avg. temp during event
        avg_int = mean(intense) # avg. intensity during event
        tot_int = intense.sum() # total intensity during event

        start = counter # reset start to current end (e.g. counter)

        # fill lists
        city_id_list.append(city_id)
        tot_days_list.append(tot_days)
        dur_list.append(dur)
        event_dates_list.append(event_dates)
        intensity_list.append(intense)
        tmax_list.append(temp)
        avg_temp_list.append(avg_temp)
        avg_int_list.append(avg_int)
        tot_int_list.append(tot_int)

    # write out as a dateframe
    df_out['ID_HDC_G0'] = city_id_list
    df_out['total_days'] = tot_days_list
    df_out['duration'] = dur_list
    df_out['avg_temp'] = avg_temp_list
    df_out['avg_intensity'] = avg_int_list
    df_out['tot_intensity'] = tot_int_list
    df_out['event_dates'] = event_dates_list
    df_out['duration'] = dur_list
    df_out['intensity'] = intensity_list
    df_out['tmax'] = tmax_list

    return df_out

#### 4 Function feeds output from function 2 into function 3

def tmax_stats(df_in):
    """ runs event_split functionon a dataframe to produce desired tmax stats

        NOTE - If you add arguments to event_split to make more states,
        be sure to update this function

        args:
            df: input dataframe
    """
    df_out = pd.DataFrame()


    # NOTE - If you add arguments to event_split to make more stats,
    # be sure to update this function

    for index, row in df_in.iterrows():
        dates = row['dates'] # Get event dates
        intensity = row['tmax_tntensity'] # Get intensity for each day
        tmax = row['tmax'] # Get tmax for each day
        ID_HDC_G0 = row['ID_HDC_G0'] # get city id
        total_days = row['total_days'] # get total number of tmax days

        df = event_split(dates, ID_HDC_G0, intensity, tmax, total_days)

        df_out = df_out.append(df)

    return df_out

## Step 1
seems ok ... no I think the indexing is getting fucked up

In [ ]:
def csv_to_xr(file_in, time_dim, space_dim):
    
    """ Function reads in a csv w/ GHS-UCDB IDs and temp, isolates the temp
    and returns a xarray data array with dims set to city ids and dates
    
    Args:
        file_in = file name and path
        time_dim = name for time dim as a str ... use date :-)
        space_dim = col name for GHS-UCDB IDs as an str (ID_HDC_G0)
    """
    
    df = pd.read_csv(file_in) # read the file in as a df
    print(df.shape)
    
    df_id = df[space_dim] # get IDs
    df = df.iloc[:,3:] # get only temp columns
    df.index = df_id # set index values
    df_drop = df.dropna() # Drop cities w/ no temp record 
    print(len(df_drop))
    
    arr = df_drop.to_numpy() # turn temp cols into an np array
    
    # make xr Data Array w/ data as temp and dims as spece (e.g. id)
    
    # Note 2019 09 17 changed to xr.Dataset from xr.Dataarray
    xr_da = xr.DataArray(arr, coords=[df_drop.index, df_drop.columns], 
                            dims=[space_dim, time_dim])
    
    return xr_da

In [ ]:
DIR_HI = '~/projects/UrbanHeat/data/interim/CHIRTS-GHS-DAILY-HI/'
HI83 = pd.read_csv(DIR_HI+'GHS-HI-DAILY_1983.csv')

In [ ]:
HI83.head()

In [ ]:
# step 1
HI83_1 = csv_to_xr(DIR_HI+'GHS-HI-DAILY_1983.csv', space_dim = 'ID_HDC_G0', time_dim = 'date')

In [ ]:
HI83_1.to_pandas()

## Step 2 
Is not ok
I think the indexing is getting fucked up somewhere

In [ ]:
# Step 2
HI83_2 = tmax_days(HI83, 40.6)

In [ ]:
HI83_2[HI83_2['ID_HDC_G0'] == city]

In [ ]:
# empty lists & df
# id_list = []
# date_list = []
# dayTot_list = []
# tmax_list = []
# intensity_list = []
# df_out = pd.DataFrame()

# subset xarray
out = HI83_1.where(HI83_1 > 40.6, drop = True)

# # start loop
# for index, loc in enumerate(out.ID_HDC_G0):
#     id_list.append(out.ID_HDC_G0.values[index]) # get IDS
#     date_list.append(out.sel(ID_HDC_G0 = loc).dropna(dim = 'date').date.values) # get event dates

#     # this is actually getting the total events of all, 2019-09-22
#     dayTot_list.append(len(out.sel(ID_HDC_G0 = loc).dropna(dim = 'date').date.values)) # get event totals

#     tmax_list.append(out.sel(ID_HDC_G0 = loc).dropna(dim = 'date').values) # get temp values
#     intensity_list.append(out.sel(ID_HDC_G0 = loc).dropna(dim = 'date').values - Tthresh) # get severity

# # write to a data frame
# df_out['ID_HDC_G0'] = id_list
# df_out['total_days'] = dayTot_list
# df_out['dates'] = date_list
# df_out['tmax'] = tmax_list
# df_out['tmax_tntensity'] = intensity_list

# # return df_out
# return df_out

In [ ]:
id_list = []
for index, loc in enumerate(out.ID_HDC_G0):
    id_list.append(out.ID_HDC_G0.values[index]) # get IDS

In [ ]:
out.sel(ID_HDC_G0=city).dropna(dim = 'date')

In [ ]:
# try it all
DIR_HI = '~/projects/UrbanHeat/data/interim/CHIRTS-GHS-DAILY-HI/'

# step 1
HI83_1 = csv_to_xr(DIR_HI+'GHS-HI-DAILY_1983.csv', space_dim = 'ID_HDC_G0', time_dim = 'date')

# Step 2
HI83_2 = tmax_days(HI83_1, 40.6)

In [ ]:
HI83_3 = event_split(dates, ID_HDC_G0, intensity, tmax, total_days):

# Check all HI

In [ ]:
allHI = pd.read_csv('~/projects/UrbanHeat/data/processed/All_data_HI406.csv')

In [ ]:
allHI[(allHI['CTR_MN_NM'] == 'Nigeria') & (allHI['year']== 1983) & (allHI['ID_HDC_G0']== 2323)]